html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
.table-admin-callback, .table-admin-bug-message{
    white-space: nowrap;

    .text{
        max-width: 300px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

}
.table-admin-callback, .table-admin-bug-message,
.table-admin-event-to-users, .table-admin-offering-to-users{
    tr.new{
        font-weight: 600;
    }
}
#menu-nestable{
    .dd3-content{
        .dd-link{
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
#event-form-editor{
    #tab_2{
        .field-events-picture{
            display: inline-block;
        }
        .field-events-picture_preview{
            display: inline-block;
            margin-right: 100px;
        }
    }
}
.admin-panel{
    .card{
        box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
        padding: 20px;
        height: 240px;
        margin-bottom: 30px;

        .title{
            font-weight: 600;
            text-align: center;
            margin-bottom: 20px;
            font-size: 19px;
            height: 52.8px;
            overflow: hidden;
        }
        .text{
            text-align: center;
            font-size: 54px;
            margin-top: 40px;
        }
    }
}
.skin-blue{
    .main-sidebar {
        width: 390px;
    }
    .content-wrapper{
        margin-left: 390px;
    }
    .main-header{
        .navbar {
            margin-left: 390px;
        }
        .logo {
            width: 390px;
        }
    }
}
.sidebar-menu.tree{

    .treeview-menu{

        &>li{
            position: relative;
            display: flex;
            width: 100%;

            &>a.all{
                padding-right: 5px;
                margin-right: 10px;
                width: 355px;
            }
            &>a.new{
                display: flex;
            }
        }
    }
}
.content-header>h1 {
    max-width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.table-responsive.kv-grid-container{
    max-height: 64vh;
}
#w4.table-responsive{
    max-height: 68vh;
    overflow: auto;
}
.freeze{
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    background-color: #f9f9f9;
    z-index: 2;

}