
@font-face {
    font-family:"BMW Type Global Pro Thin";
    src:url("BMWGlobal_Pro_thin.woff2") format("woff2"),url("BMWGlobal_Pro_thin.woff") format("woff"),url("BMWGlobal_Pro_thin.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        