.cabinet-cards{
    h1{
        color: rgb(1, 1, 1);
        font-size: 35px;
    }
    .top-line{
        margin-bottom: 20px;
        margin-top: 35px;

        .interests-wrapper{
            text-align: right;
            padding-top: 14px;

            .interests{
                font-size: 23px;
                border-bottom: 1px solid black;
                line-height: 1;
                position: relative;

                &:hover{
                    text-decoration: none;
                }
                &:before{
                    content: '';
                    background-image: url('/image/Shape 4.png');
                    background-repeat: no-repeat;
                    background-size: cover;
                    position: absolute;
                    right: 180px;
                    display: block;
                    width: 26px;
                    height: 22px;
                }
            }
        }
    }
    .cabinet-cards-first{
        margin-bottom: 60px;

        &>.row>div{
            padding: 10px;

            &:first-child{
                padding-left: 15px;
            }
            &:last-child{
                padding-right: 15px;
            }
        }
        .card{
            box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
            border: none;
            padding: 30px 24px;
            height: 360px;
            overflow: hidden;
            font-size: 15px;

            &#privateData-card{
                font-size: 15px;

                .line{
                    .col-left {
                        width: 135px;
                    }
                    .col-right{
                        width: calc(100% - 135px);
                    }
                }
            }

            &#profile-card{
                font-size: 15px;

                .line{
                    .col-left {
                        width: 95px;
                    }
                    .col-right{
                        width: calc(100% - 95px);
                    }
                }
            }

            .title{
                font-size: 29px;
                margin-bottom: 64px;
                position: relative;
            }
            .line{
                margin-bottom: 30px;
                line-height: 1;

                .col-left{
                    padding: 0 15px;
                    width: 124px;
                    padding-top: 8px;
                }
                .col-right{
                    width: calc(100% - 124px);

                    .c-val{
                        color: rgb(153, 153, 153);
                        padding: 8px 25px 0 0;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        cursor: pointer;
                        min-height: 16px;
                        position: relative;

                        &:hover{

                            .edit{
                                display: inline-block;
                            }
                        }

                        .edit{
                            background-image: url(/image/edit.png);
                            background-repeat: no-repeat;
                            background-size: cover;
                            display: none;
                            width: 20px;
                            height: 20px;
                            position: absolute;
                            right: 10px;
                            top: 0px;
                        }
                    }
                }
            }
        }
    }
    .cabinet-cards-second{
        margin-bottom: 80px;

        &>.row>div{
            padding: 10px;

            &:first-child{
                padding-left: 15px;
            }
            &:last-child{
                padding-right: 15px;
            }
        }
        .card{
            box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
            border: none;
            padding: 30px 24px;
            height: 360px;
            overflow: hidden;

            .title{
                font-size: 29px;
            }
            .title-small{
                font-size: 23px;
                margin-bottom: 30px;
            }
            .sub-card-wrapper{
                &>.row>div{
                    padding: 10px;

                    &:first-child{
                        padding-left: 15px;
                    }
                    &:last-child{
                        padding-right: 15px;
                    }
                }

                .slick-prev{
                    left: 50px;
                    z-index: 9;

                    &:before{
                        color: black;
                        content: '\f104';
                        font-family: FontAwesome;
                        font-size: 37px;
                    }
                }
                .slick-next{
                    right: 50px;
                    z-index: 9;

                    &:before{
                        color: black;
                        content: '\f105';
                        font-family: FontAwesome;
                        font-size: 37px;
                    }
                }
                .sub-card{
                    height: 245px;
                    display: flex;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: 80%;
                    position: relative;

                    .title{
                        font-size: 19px;
                        font-family: "BMWGlobal_Pro_thin";
                        position: absolute;
                        bottom: 0px;
                        left: 0px;
                        width: 100%;
                        text-align: center;
                    }
                }
            }
            #profile-clear-fields{
                .slick-prev{
                    position: absolute;
                    top: -55px;
                    right: 50px;
                    left: auto;

                    &:before{
                        content: '\f104';
                        font-family:'FontAwesome';
                        color: black;
                        font-size: 29px;
                    }
                }
                .slick-next{
                    position: absolute;
                    top: -55px;
                    right: 20px;
                    left: auto;

                    &:before{
                        content: '\f105';
                        font-family:'FontAwesome';
                        color: black;
                        font-size: 29px;
                    }
                }
            }
        }
        .card{
            box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
            border: none;
            padding: 30px 24px;
            height: 360px;
            overflow: hidden;

            #profile-clear-fields{

                .form-control{
                    border-top: none;
                    border-left: none;
                    border-right: none;
                    border-radius: 0;
                    outline: none;

                    &:hover, &:focus, &:active{
                        outline: none;
                        border-top: none;
                        border-left: none;
                        border-right: none;
                        border-color: #ced4da;
                        box-shadow: none;
                    }
                }
                .smb-btn{
                    background-color: #666364;
                    padding: 10px 110px;
                    color: white;
                    display: block;
                    border: none;
                    width: 100%;
                    margin-top: 60px;
                }
            }
        }
    }
}
.cabinet-total{
    margin-bottom: 160px;

    .title{
        font-size: 39px;
        line-height: 1;
        margin-bottom: 30px;
    }
    .text{
        color: rgb(153, 153, 153);
        line-height: 1.2;
    }
    .counter{
        margin: 0px 0 60px;
        font-size: 59px;
        color: rgb(153, 153, 153);
        font-weight: 500;

        span{
            font-size: 99px;

        }
    }
    .st-wrapper{
        font-size: 27px;
        color: rgb(153, 153, 153);
        font-weight: 600;

        &:hover{
            text-decoration: none;
            color: black;
        }

        span{
            font-size: 45px;
            color: black;
        }
    }
}
.modal-dialog[window-id="editProfile"]{
    max-width: 400px;

    .close{
        font-size: 31px;
        line-height: 1;
        position: absolute;
        right: -32px;
        top: 1px;
        z-index: 2;
        color: white;
    }
    .modal-body {
        padding: 30px 60px;

        #modal-form-profile{

            .title{
                text-align: center;
                font-size: 23px;
                margin-bottom: 40px;
            }
            input[type="text"], input[type="email"]{
                border: none;
                border-bottom: 1px solid;
                width: 100%;
            }
            .smb-btn{
                margin: 60px auto 20px;
                background-color: #666364;
                padding: 10px 20px;
                color: white;
                display: block;
                border: none;
                width: 80%;
            }
        }
    }
}
.modal-dialog[window-id="deleteProfile"] {
    max-width: 600px;

    #delete-self {
        .title {
            text-align: center;
            font-size: 31px;
            margin-bottom: 40px;
        }
        .text {
            margin-bottom: 40px;
        }
        button {
            background-color: #666364;
            padding: 11px 20px;
            color: white;
            display: block;
            float: left;
            border: none;
            width: 40%;
            position: static;
            font-size: 19px;
            line-height: 27px;
            font-weight: 400;
            opacity: 1;

            &:first-child{
                margin-right: 105px;
            }
        }
    }
}

