.cabinet-cards h1 {
  color: #010101;
  font-size: 35px;
}
.cabinet-cards .top-line {
  margin-bottom: 20px;
  margin-top: 35px;
}
.cabinet-cards .top-line .interests-wrapper {
  text-align: right;
  padding-top: 14px;
}
.cabinet-cards .top-line .interests-wrapper .interests {
  font-size: 23px;
  border-bottom: 1px solid black;
  line-height: 1;
  position: relative;
}
.cabinet-cards .top-line .interests-wrapper .interests:hover {
  text-decoration: none;
}
.cabinet-cards .top-line .interests-wrapper .interests:before {
  content: '';
  background-image: url('/image/Shape 4.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  right: 180px;
  display: block;
  width: 26px;
  height: 22px;
}
.cabinet-cards .cabinet-cards-first {
  margin-bottom: 60px;
}
.cabinet-cards .cabinet-cards-first > .row > div {
  padding: 10px;
}
.cabinet-cards .cabinet-cards-first > .row > div:first-child {
  padding-left: 15px;
}
.cabinet-cards .cabinet-cards-first > .row > div:last-child {
  padding-right: 15px;
}
.cabinet-cards .cabinet-cards-first .card {
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
  border: none;
  padding: 30px 24px;
  height: 360px;
  overflow: hidden;
  font-size: 15px;
}
.cabinet-cards .cabinet-cards-first .card#privateData-card {
  font-size: 15px;
}
.cabinet-cards .cabinet-cards-first .card#privateData-card .line .col-left {
  width: 135px;
}
.cabinet-cards .cabinet-cards-first .card#privateData-card .line .col-right {
  width: calc(100% - 135px);
}
.cabinet-cards .cabinet-cards-first .card#profile-card {
  font-size: 15px;
}
.cabinet-cards .cabinet-cards-first .card#profile-card .line .col-left {
  width: 95px;
}
.cabinet-cards .cabinet-cards-first .card#profile-card .line .col-right {
  width: calc(100% - 95px);
}
.cabinet-cards .cabinet-cards-first .card .title {
  font-size: 29px;
  margin-bottom: 64px;
  position: relative;
}
.cabinet-cards .cabinet-cards-first .card .line {
  margin-bottom: 30px;
  line-height: 1;
}
.cabinet-cards .cabinet-cards-first .card .line .col-left {
  padding: 0 15px;
  width: 124px;
  padding-top: 8px;
}
.cabinet-cards .cabinet-cards-first .card .line .col-right {
  width: calc(100% - 124px);
}
.cabinet-cards .cabinet-cards-first .card .line .col-right .c-val {
  color: #999999;
  padding: 8px 25px 0 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  min-height: 16px;
  position: relative;
}
.cabinet-cards .cabinet-cards-first .card .line .col-right .c-val:hover .edit {
  display: inline-block;
}
.cabinet-cards .cabinet-cards-first .card .line .col-right .c-val .edit {
  background-image: url(/image/edit.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: none;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 10px;
  top: 0px;
}
.cabinet-cards .cabinet-cards-second {
  margin-bottom: 80px;
}
.cabinet-cards .cabinet-cards-second > .row > div {
  padding: 10px;
}
.cabinet-cards .cabinet-cards-second > .row > div:first-child {
  padding-left: 15px;
}
.cabinet-cards .cabinet-cards-second > .row > div:last-child {
  padding-right: 15px;
}
.cabinet-cards .cabinet-cards-second .card {
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
  border: none;
  padding: 30px 24px;
  height: 360px;
  overflow: hidden;
}
.cabinet-cards .cabinet-cards-second .card .title {
  font-size: 29px;
}
.cabinet-cards .cabinet-cards-second .card .title-small {
  font-size: 23px;
  margin-bottom: 30px;
}
.cabinet-cards .cabinet-cards-second .card .sub-card-wrapper > .row > div {
  padding: 10px;
}
.cabinet-cards .cabinet-cards-second .card .sub-card-wrapper > .row > div:first-child {
  padding-left: 15px;
}
.cabinet-cards .cabinet-cards-second .card .sub-card-wrapper > .row > div:last-child {
  padding-right: 15px;
}
.cabinet-cards .cabinet-cards-second .card .sub-card-wrapper .slick-prev {
  left: 50px;
  z-index: 9;
}
.cabinet-cards .cabinet-cards-second .card .sub-card-wrapper .slick-prev:before {
  color: black;
  content: '\f104';
  font-family: FontAwesome;
  font-size: 37px;
}
.cabinet-cards .cabinet-cards-second .card .sub-card-wrapper .slick-next {
  right: 50px;
  z-index: 9;
}
.cabinet-cards .cabinet-cards-second .card .sub-card-wrapper .slick-next:before {
  color: black;
  content: '\f105';
  font-family: FontAwesome;
  font-size: 37px;
}
.cabinet-cards .cabinet-cards-second .card .sub-card-wrapper .sub-card {
  height: 245px;
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
  position: relative;
}
.cabinet-cards .cabinet-cards-second .card .sub-card-wrapper .sub-card .title {
  font-size: 19px;
  font-family: "BMWGlobal_Pro_thin";
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  text-align: center;
}
.cabinet-cards .cabinet-cards-second .card #profile-clear-fields .slick-prev {
  position: absolute;
  top: -55px;
  right: 50px;
  left: auto;
}
.cabinet-cards .cabinet-cards-second .card #profile-clear-fields .slick-prev:before {
  content: '\f104';
  font-family: 'FontAwesome';
  color: black;
  font-size: 29px;
}
.cabinet-cards .cabinet-cards-second .card #profile-clear-fields .slick-next {
  position: absolute;
  top: -55px;
  right: 20px;
  left: auto;
}
.cabinet-cards .cabinet-cards-second .card #profile-clear-fields .slick-next:before {
  content: '\f105';
  font-family: 'FontAwesome';
  color: black;
  font-size: 29px;
}
.cabinet-cards .cabinet-cards-second .card {
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
  border: none;
  padding: 30px 24px;
  height: 360px;
  overflow: hidden;
}
.cabinet-cards .cabinet-cards-second .card #profile-clear-fields .form-control {
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  outline: none;
}
.cabinet-cards .cabinet-cards-second .card #profile-clear-fields .form-control:hover,
.cabinet-cards .cabinet-cards-second .card #profile-clear-fields .form-control:focus,
.cabinet-cards .cabinet-cards-second .card #profile-clear-fields .form-control:active {
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: #ced4da;
  box-shadow: none;
}
.cabinet-cards .cabinet-cards-second .card #profile-clear-fields .smb-btn {
  background-color: #666364;
  padding: 10px 110px;
  color: white;
  display: block;
  border: none;
  width: 100%;
  margin-top: 60px;
}
.cabinet-total {
  margin-bottom: 160px;
}
.cabinet-total .title {
  font-size: 39px;
  line-height: 1;
  margin-bottom: 30px;
}
.cabinet-total .text {
  color: #999999;
  line-height: 1.2;
}
.cabinet-total .counter {
  margin: 0px 0 60px;
  font-size: 59px;
  color: #999999;
  font-weight: 500;
}
.cabinet-total .counter span {
  font-size: 99px;
}
.cabinet-total .st-wrapper {
  font-size: 27px;
  color: #999999;
  font-weight: 600;
}
.cabinet-total .st-wrapper:hover {
  text-decoration: none;
  color: black;
}
.cabinet-total .st-wrapper span {
  font-size: 45px;
  color: black;
}
.modal-dialog[window-id="editProfile"] {
  max-width: 400px;
}
.modal-dialog[window-id="editProfile"] .close {
  font-size: 31px;
  line-height: 1;
  position: absolute;
  right: -32px;
  top: 1px;
  z-index: 2;
  color: white;
}
.modal-dialog[window-id="editProfile"] .modal-body {
  padding: 30px 60px;
}
.modal-dialog[window-id="editProfile"] .modal-body #modal-form-profile .title {
  text-align: center;
  font-size: 23px;
  margin-bottom: 40px;
}
.modal-dialog[window-id="editProfile"] .modal-body #modal-form-profile input[type="text"],
.modal-dialog[window-id="editProfile"] .modal-body #modal-form-profile input[type="email"] {
  border: none;
  border-bottom: 1px solid;
  width: 100%;
}
.modal-dialog[window-id="editProfile"] .modal-body #modal-form-profile .smb-btn {
  margin: 60px auto 20px;
  background-color: #666364;
  padding: 10px 20px;
  color: white;
  display: block;
  border: none;
  width: 80%;
}
.modal-dialog[window-id="deleteProfile"] {
  max-width: 600px;
}
.modal-dialog[window-id="deleteProfile"] #delete-self .title {
  text-align: center;
  font-size: 31px;
  margin-bottom: 40px;
}
.modal-dialog[window-id="deleteProfile"] #delete-self .text {
  margin-bottom: 40px;
}
.modal-dialog[window-id="deleteProfile"] #delete-self button {
  background-color: #666364;
  padding: 11px 20px;
  color: white;
  display: block;
  float: left;
  border: none;
  width: 40%;
  position: static;
  font-size: 19px;
  line-height: 27px;
  font-weight: 400;
  opacity: 1;
}
.modal-dialog[window-id="deleteProfile"] #delete-self button:first-child {
  margin-right: 105px;
}
