.events-topper{

    h2{
        padding: 30px 0;
        font-size: 35px;
    }
    .mini-card{
        &>.row>div{
            padding-left: 10px;
            padding-right: 10px;

            &:first-child{
                padding-left: 15px;
            }
            &:last-child{
                padding-right: 15px;
            }
        }
    }
    .card{
        height: 600px;
        border: none;
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;

        &:hover{
            text-decoration: none;
        }
        &.not-active{
            &:before{
                content: '';
                position: absolute;
                left: -1px;
                right: -1px;
                top: -1px;
                bottom: -1px;
                background: white;
                opacity: 0.75;
            }
            .title, .favorite{
                pointer-events: none;
            }
        }

        .date{
            padding-left: 34px;
            padding-top: 34px;
            color: rgba(255, 255, 255, 0.6);
            font-size: 21px;
        }
        .text-wrapper {
            position: absolute;
            /*bottom: 30px;*/
            color: white;
            padding: 0px 15px 0 50px;
            top: 495px;
            height: 84px;
            overflow: hidden;

            .favorite{
                font-size: 25px;
                color: white;
                position: absolute;
                left: 20px;
                top: 4px;

                &:hover{
                    text-decoration: none;
                }

                &.active{
                    .fa-star-o{
                        display: none;
                    }
                    .fa-star{
                        display: block;
                    }
                }
                .fa-star{
                    display: none;
                }
                .fa-star-o{
                    display: block;
                }
            }
            .title{
                font-size: 29px;
                line-height: 1.2;
                color: white;

                &:hover{
                    text-decoration: none;
                }
            }
        }
    }
}
.events-list{
    margin-bottom: 100px;

    h2{
        padding: 60px 0 30px;
        font-size: 35px;
    }
    .el-nav{
        ul{
            margin: 0;
            padding: 0;
            list-style: none;

            li{
                margin-right: 14px;
                display: inline-block;
                padding: 5px 12px;
                background-color: #f8f8f8;

                &.active{
                    background-color: transparent;
                }
            }
        }
    }
    .el-row{
        .card{
            height: 356px;
            margin-bottom: 56px;
            background-repeat: no-repeat;
            background-size: cover;

            &:hover{
                text-decoration: none;
            }
            &.not-active{
                &:before{
                    content: '';
                    position: absolute;
                    left: -1px;
                    right: -1px;
                    top: -1px;
                    bottom: -1px;
                    background: white;
                    opacity: 0.75;
                }
                .title, .favorite{
                    pointer-events: none;
                }
            }

            .date{
                padding-left: 34px;
                padding-top: 34px;
                color: rgba(255, 255, 255, 0.6);
                font-size: 25px;
            }
            .text-wrapper {
                position: absolute;
                bottom: 80px;
                color: white;
                padding: 0px 15px 0 72px;

                .favorite{
                    font-size: 25px;
                    color: white;
                    position: absolute;
                    left: 36px;
                    top: 4px;

                    &:hover{
                        text-decoration: none;
                    }

                    &.active{
                        .fa-star-o{
                            display: none;
                        }
                        .fa-star{
                            display: block;
                        }
                    }
                    .fa-star{
                        display: none;
                    }
                    .fa-star-o{
                        display: block;
                    }
                }
                .title{
                    font-size: 29px;
                    line-height: 1.2;
                    color: white;

                    &:hover{
                        text-decoration: none;
                    }
                }
            }
        }
    }

    .el-card{
        padding: 50px 0 0;

        .el-card-item{
            height: 365px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            position: relative;
            margin-bottom: 55px;

            .text-wrapper{
                position: absolute;
                bottom: 38px;
                padding-left: 68px;
                color: #c8c8c8;

                .favorite{
                    color: #c8c8c8;
                    left: 30px;
                    top: 0px;
                }
                .title{
                    font-size: 29px;
                    line-height: 1.2;
                    margin-bottom: 20px;
                    display: block;
                    color: #c8c8c8;
                }
                .date{
                    font-size: 19px;
                }
            }
        }
    }
    #infscr-loading{
        width: 100%;
        text-align: center;
    }
    .pagination{
        margin-top: 24px;

        .next{
            width: 100%;
            text-align: center;
        }
        .more{
            background-color: #666364;
            padding: 10px;
            color: white;
            display: block;
            max-width: 320px;
            width: 100%;
            margin: auto;

            &:hover{
                text-decoration: none;
            }
        }
    }
}
.events-card-page{
    margin-bottom: 85px;

    .favorite{
        left: 16px;
        top: 42px;
    }
    h1{
        margin: 40px 0 60px 50px;
        font-size: 35px;
        line-height: 1;
    }
    .images{
        width: 100%;

        .image{
            height: 600px;
            background-size: cover;
            background-repeat: no-repeat;
        }
        .slick-dots {
            text-align: left;

            li button:before {
                font-size: 11px;
            }
        }
    }
    .text-wrapper{
        .text{
            overflow-y: auto;
            overflow-x: hidden;
            //text-overflow: ellipsis;
            height: 476px;
            margin-bottom: 64px;
        }
        .app-btn{
            background-color: #666364;
            border: none;
            width: 100%;
            padding: 14px 0;
            color: white;
            display: block;
            text-align: center;
            &.disabled{
                cursor: not-allowed;
                pointer-events: none;
            }
            &:hover{
                text-decoration: none;
            }
            &:focus{
                outline: none;
            }
        }
        .app-btn-message{
            margin-top: 15px;
        }
    }
}
.events-main{
    margin-bottom: 120px;

    h2{
        margin-bottom: 60px;
        margin-top: 0;
    }
}
.order-confirm{
    width: 100%;
    max-width: 420px;
    margin: 80px auto 160px;

    .title{
        font-size: 33px;
        display: inline-block;
        margin-bottom: 50px;
        line-height: 1.2;
    }
    .text{
        color: rgb(86, 86, 86);
        margin-bottom: 30px;
    }
    .smb-btn{
        margin-top: 30px;
        background-color: #656364;
        color: white;
        width: 100%;
        max-width: 420px;
        border: none;
        padding: 9px 0;
        margin: 40px auto 0;
        display: block;
        text-align: center;

        &:focus{
            outline: none;
        }
        &:hover{
            text-decoration: none;
        }
    }

}

