.events-topper h2 {
  padding: 30px 0;
  font-size: 35px;
}
.events-topper .mini-card > .row > div {
  padding-left: 10px;
  padding-right: 10px;
}
.events-topper .mini-card > .row > div:first-child {
  padding-left: 15px;
}
.events-topper .mini-card > .row > div:last-child {
  padding-right: 15px;
}
.events-topper .card {
  height: 600px;
  border: none;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}
.events-topper .card:hover {
  text-decoration: none;
}
.events-topper .card.not-active:before {
  content: '';
  position: absolute;
  left: -1px;
  right: -1px;
  top: -1px;
  bottom: -1px;
  background: white;
  opacity: 0.75;
}
.events-topper .card.not-active .title,
.events-topper .card.not-active .favorite {
  pointer-events: none;
}
.events-topper .card .date {
  padding-left: 34px;
  padding-top: 34px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 21px;
}
.events-topper .card .text-wrapper {
  position: absolute;
  /*bottom: 30px;*/
  color: white;
  padding: 0px 15px 0 50px;
  top: 495px;
  height: 84px;
  overflow: hidden;
}
.events-topper .card .text-wrapper .favorite {
  font-size: 25px;
  color: white;
  position: absolute;
  left: 20px;
  top: 4px;
}
.events-topper .card .text-wrapper .favorite:hover {
  text-decoration: none;
}
.events-topper .card .text-wrapper .favorite.active .fa-star-o {
  display: none;
}
.events-topper .card .text-wrapper .favorite.active .fa-star {
  display: block;
}
.events-topper .card .text-wrapper .favorite .fa-star {
  display: none;
}
.events-topper .card .text-wrapper .favorite .fa-star-o {
  display: block;
}
.events-topper .card .text-wrapper .title {
  font-size: 29px;
  line-height: 1.2;
  color: white;
}
.events-topper .card .text-wrapper .title:hover {
  text-decoration: none;
}
.events-list {
  margin-bottom: 100px;
}
.events-list h2 {
  padding: 60px 0 30px;
  font-size: 35px;
}
.events-list .el-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.events-list .el-nav ul li {
  margin-right: 14px;
  display: inline-block;
  padding: 5px 12px;
  background-color: #f8f8f8;
}
.events-list .el-nav ul li.active {
  background-color: transparent;
}
.events-list .el-row .card {
  height: 356px;
  margin-bottom: 56px;
  background-repeat: no-repeat;
  background-size: cover;
}
.events-list .el-row .card:hover {
  text-decoration: none;
}
.events-list .el-row .card.not-active:before {
  content: '';
  position: absolute;
  left: -1px;
  right: -1px;
  top: -1px;
  bottom: -1px;
  background: white;
  opacity: 0.75;
}
.events-list .el-row .card.not-active .title,
.events-list .el-row .card.not-active .favorite {
  pointer-events: none;
}
.events-list .el-row .card .date {
  padding-left: 34px;
  padding-top: 34px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 25px;
}
.events-list .el-row .card .text-wrapper {
  position: absolute;
  bottom: 80px;
  color: white;
  padding: 0px 15px 0 72px;
}
.events-list .el-row .card .text-wrapper .favorite {
  font-size: 25px;
  color: white;
  position: absolute;
  left: 36px;
  top: 4px;
}
.events-list .el-row .card .text-wrapper .favorite:hover {
  text-decoration: none;
}
.events-list .el-row .card .text-wrapper .favorite.active .fa-star-o {
  display: none;
}
.events-list .el-row .card .text-wrapper .favorite.active .fa-star {
  display: block;
}
.events-list .el-row .card .text-wrapper .favorite .fa-star {
  display: none;
}
.events-list .el-row .card .text-wrapper .favorite .fa-star-o {
  display: block;
}
.events-list .el-row .card .text-wrapper .title {
  font-size: 29px;
  line-height: 1.2;
  color: white;
}
.events-list .el-row .card .text-wrapper .title:hover {
  text-decoration: none;
}
.events-list .el-card {
  padding: 50px 0 0;
}
.events-list .el-card .el-card-item {
  height: 365px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  margin-bottom: 55px;
}
.events-list .el-card .el-card-item .text-wrapper {
  position: absolute;
  bottom: 38px;
  padding-left: 68px;
  color: #c8c8c8;
}
.events-list .el-card .el-card-item .text-wrapper .favorite {
  color: #c8c8c8;
  left: 30px;
  top: 0px;
}
.events-list .el-card .el-card-item .text-wrapper .title {
  font-size: 29px;
  line-height: 1.2;
  margin-bottom: 20px;
  display: block;
  color: #c8c8c8;
}
.events-list .el-card .el-card-item .text-wrapper .date {
  font-size: 19px;
}
.events-list #infscr-loading {
  width: 100%;
  text-align: center;
}
.events-list .pagination {
  margin-top: 24px;
}
.events-list .pagination .next {
  width: 100%;
  text-align: center;
}
.events-list .pagination .more {
  background-color: #666364;
  padding: 10px;
  color: white;
  display: block;
  max-width: 320px;
  width: 100%;
  margin: auto;
}
.events-list .pagination .more:hover {
  text-decoration: none;
}
.events-card-page {
  margin-bottom: 85px;
}
.events-card-page .favorite {
  left: 16px;
  top: 42px;
}
.events-card-page h1 {
  margin: 40px 0 60px 50px;
  font-size: 35px;
  line-height: 1;
}
.events-card-page .images {
  width: 100%;
}
.events-card-page .images .image {
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
}
.events-card-page .images .slick-dots {
  text-align: left;
}
.events-card-page .images .slick-dots li button:before {
  font-size: 11px;
}
.events-card-page .text-wrapper .text {
  overflow-y: auto;
  overflow-x: hidden;
  height: 476px;
  margin-bottom: 64px;
}
.events-card-page .text-wrapper .app-btn {
  background-color: #666364;
  border: none;
  width: 100%;
  padding: 14px 0;
  color: white;
  display: block;
  text-align: center;
}
.events-card-page .text-wrapper .app-btn.disabled {
  cursor: not-allowed;
  pointer-events: none;
}
.events-card-page .text-wrapper .app-btn:hover {
  text-decoration: none;
}
.events-card-page .text-wrapper .app-btn:focus {
  outline: none;
}
.events-card-page .text-wrapper .app-btn-message {
  margin-top: 15px;
}
.events-main {
  margin-bottom: 120px;
}
.events-main h2 {
  margin-bottom: 60px;
  margin-top: 0;
}
.order-confirm {
  width: 100%;
  max-width: 420px;
  margin: 80px auto 160px;
}
.order-confirm .title {
  font-size: 33px;
  display: inline-block;
  margin-bottom: 50px;
  line-height: 1.2;
}
.order-confirm .text {
  color: #565656;
  margin-bottom: 30px;
}
.order-confirm .smb-btn {
  margin-top: 30px;
  background-color: #656364;
  color: white;
  width: 100%;
  max-width: 420px;
  border: none;
  padding: 9px 0;
  margin: 40px auto 0;
  display: block;
  text-align: center;
}
.order-confirm .smb-btn:focus {
  outline: none;
}
.order-confirm .smb-btn:hover {
  text-decoration: none;
}
