.footer {
  background-color: #fdfcfc;
  padding: 120px 0px 30px;
  font-family: "BMWGlobal_Pro_thin";
}
.footer .callback {
  font-size: 19px;
  border-bottom: 1px solid;
  line-height: 1;
}
.footer .callback:hover {
  text-decoration: none;
}
.footer .bottom-menu {
  margin: 64px 0;
}
.footer .bottom-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer .bottom-menu ul li {
  display: block;
  float: left;
  padding-right: 40px;
  font-size: 19px;
}
.footer .bottom-menu ul li a:hover {
  text-decoration: none;
  border-bottom: 1px solid;
}
.footer .bottom-second-menu {
  margin-bottom: 48px;
}
.footer .bottom-second-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer .bottom-second-menu ul li {
  display: block;
  float: left;
  padding-right: 16px;
}
.footer .bottom-second-menu ul li a {
  border-bottom: 1px solid;
}
.footer .bottom-second-menu ul li a:hover {
  text-decoration: none;
  border-bottom: none;
}
.footer .copyright .f-slogan {
  color: #475373;
  text-transform: uppercase;
}
.site-callback {
  width: 100%;
  max-width: 380px;
  margin: 80px auto 160px;
}
.site-callback .title {
  font-size: 33px;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 50px;
  line-height: 1.2;
}
.site-callback .text {
  color: #565656;
  margin-bottom: 30px;
}
.site-callback label {
  font-size: 23px;
  font-family: BMWGlobal_Pro_thin;
  margin-bottom: 20px;
}
.site-callback textarea {
  height: 135px;
  resize: none;
}
.site-callback textarea:focus {
  outline: none;
  border-color: #ced4da;
  box-shadow: none;
}
.site-callback .smb-btn {
  margin-top: 30px;
  background-color: #656364;
  color: white;
  width: 100%;
  max-width: 420px;
  border: none;
  padding: 9px 0;
  margin: 40px auto 0;
}
.site-callback .smb-btn:focus {
  outline: none;
}
