.footer{
    background-color: #fdfcfc;
    padding: 120px 0px 30px;
    font-family: "BMWGlobal_Pro_thin";

    .callback{
        font-size: 19px;
        border-bottom: 1px solid;
        line-height: 1;

        &:hover{
            text-decoration: none;
        }
    }
    .bottom-menu{
        margin: 64px 0;

        ul{
            list-style: none;
            margin: 0;
            padding: 0;

            li{
                display: block;
                float: left;
                padding-right: 40px;
                font-size: 19px;

                a{
                    &:hover{
                        text-decoration: none;
                        border-bottom: 1px solid;
                    }
                }
            }
        }
    }
    .bottom-second-menu{
        margin-bottom: 48px;


        ul{
            list-style: none;
            margin: 0;
            padding: 0;

            li{
                display: block;
                float: left;
                padding-right: 16px;

                a{
                    border-bottom: 1px solid;

                    &:hover{
                        text-decoration: none;
                        border-bottom: none;
                    }
                }
            }
        }
    }
    .copyright{
        .f-slogan{
            color: rgb(71, 83, 115);
            text-transform: uppercase;
        }
    }
}

.site-callback{
    width: 100%;
    max-width: 380px;
    margin: 80px auto 160px;

    .title{
        font-size: 33px;
        text-transform: uppercase;
        display: inline-block;
        margin-bottom: 50px;
        line-height: 1.2;
    }
    .text{
        color: rgb(86, 86, 86);
        margin-bottom: 30px;
    }

    label{
        font-size: 23px;
        font-family: BMWGlobal_Pro_thin;
        margin-bottom: 20px;
    }
    textarea{
        height: 135px;
        resize: none;

        &:focus{
            outline: none;
            border-color: #ced4da;
            box-shadow: none;
        }
    }
    .smb-btn{
        margin-top: 30px;
        background-color: #656364;
        color: white;
        width: 100%;
        max-width: 420px;
        border: none;
        padding: 9px 0;
        margin: 40px auto 0;

        &:focus{
            outline: none;
        }
    }

}
