header{
    padding: 30px 0 10px;
    font-family: "BMWGlobal_Pro_thin";

    .header-wrapper{
        /*border-bottom: 1px solid;*/
        padding-bottom: 14px;
    }
    .line-1{
        margin-bottom: 30px;

        .h-slogan {
            font-size: 29px;
            text-transform: uppercase;

            &:hover{
                text-decoration: none;
            }
        }
    }
    .line-2{
        .header-menu{
            ul{
                list-style: none;
                margin: 0;
                padding: 0;

                li{
                    padding-right: 32px;
                    display: block;
                    float: left;

                    &:focus{
                        outline: none;
                    }
                    &.active{
                        a{
                            padding-bottom: 15px;
                            border-bottom: 3px solid;
                        }
                    }

                    a{
                        font-size: 19px;

                        &:hover{
                            text-decoration: none;
                            padding-bottom: 15px;
                            border-bottom: 3px solid;
                        }
                        &:focus{
                            outline: none;
                        }
                    }
                }
            }
        }
    }
    .r-line{
        display: block;
        float: right;
        text-align: left;

        .logo-wrapper {
            display: inline-block;
            text-align: center;
            margin-bottom: 20px;

            &:hover {
                text-decoration: none;
            }

            .logo {
                max-width: 28px;
                max-height: 28px;
            }
            .title {
                text-transform: uppercase;
                font-size: 11px;
                letter-spacing: 1px;
                margin-top: 5px;
                font-weight: 600;
                -webkit-font-smoothing: auto;
            }
        }
        .rl-bottom{
            .phone{
                display: inline-block;
                float: left;
                margin-right: 20px;

                &:hover{
                    text-decoration: none;
                    border-bottom: 1px solid;
                }
                &:focus{
                    outline: none;
                }
            }
            .icon-wrapper{
                display: inline-block;
                float: right;

                .avatar{
                    position: relative;
                    display: block;
                    float: left;
                    background-image: url("/image/icon/profile.svg");
                    width: 18px;
                    height: 22px;
                    background-repeat: no-repeat;
                    margin-right: 10px;
                    background-size: contain;

                    &:focus{
                        outline: none;
                    }


                    &.messaged:after{
                        content: '';
                        background-color: #f5827f;
                        width: 7px;
                        height: 7px;
                        display: block;
                        border-radius: 50%;
                        position: absolute;
                        right: -4px;
                        top: 0px;
                    }
                }
                form{
                    display: block;
                    float: left;
                    line-height: 1;
                    padding-top: 0px;
                    font-size: 13px;

                    .logout{
                        display: inline-block;
                        background-image: url("/image/icon/exit.png");
                        background-repeat: no-repeat;
                        width: 17px;
                        height: 20px;
                        background-color: transparent;
                        border: none;
                        background-size: contain;

                        &:focus{
                            outline: none;
                        }
                    }
                }
            }
        }
    }
}
.header-wrapper__mobile{
    display: none;
}