header {
  padding: 30px 0 10px;
  font-family: "BMWGlobal_Pro_thin";
}
header .header-wrapper {
  /*border-bottom: 1px solid;*/
  padding-bottom: 14px;
}
header .line-1 {
  margin-bottom: 30px;
}
header .line-1 .h-slogan {
  font-size: 29px;
  text-transform: uppercase;
}
header .line-1 .h-slogan:hover {
  text-decoration: none;
}
header .line-2 .header-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
header .line-2 .header-menu ul li {
  padding-right: 32px;
  display: block;
  float: left;
}
header .line-2 .header-menu ul li:focus {
  outline: none;
}
header .line-2 .header-menu ul li.active a {
  padding-bottom: 15px;
  border-bottom: 3px solid;
}
header .line-2 .header-menu ul li a {
  font-size: 19px;
}
header .line-2 .header-menu ul li a:hover {
  text-decoration: none;
  padding-bottom: 15px;
  border-bottom: 3px solid;
}
header .line-2 .header-menu ul li a:focus {
  outline: none;
}
header .r-line {
  display: block;
  float: right;
  text-align: left;
}
header .r-line .logo-wrapper {
  display: inline-block;
  text-align: center;
  margin-bottom: 20px;
}
header .r-line .logo-wrapper:hover {
  text-decoration: none;
}
header .r-line .logo-wrapper .logo {
  max-width: 28px;
  max-height: 28px;
}
header .r-line .logo-wrapper .title {
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1px;
  margin-top: 5px;
  font-weight: 600;
  -webkit-font-smoothing: auto;
}
header .r-line .rl-bottom .phone {
  display: inline-block;
  float: left;
  margin-right: 20px;
}
header .r-line .rl-bottom .phone:hover {
  text-decoration: none;
  border-bottom: 1px solid;
}
header .r-line .rl-bottom .phone:focus {
  outline: none;
}
header .r-line .rl-bottom .icon-wrapper {
  display: inline-block;
  float: right;
}
header .r-line .rl-bottom .icon-wrapper .avatar {
  position: relative;
  display: block;
  float: left;
  background-image: url("/image/icon/profile.svg");
  width: 18px;
  height: 22px;
  background-repeat: no-repeat;
  margin-right: 10px;
  background-size: contain;
}
header .r-line .rl-bottom .icon-wrapper .avatar:focus {
  outline: none;
}
header .r-line .rl-bottom .icon-wrapper .avatar.messaged:after {
  content: '';
  background-color: #f5827f;
  width: 7px;
  height: 7px;
  display: block;
  border-radius: 50%;
  position: absolute;
  right: -4px;
  top: 0px;
}
header .r-line .rl-bottom .icon-wrapper form {
  display: block;
  float: left;
  line-height: 1;
  padding-top: 0px;
  font-size: 13px;
}
header .r-line .rl-bottom .icon-wrapper form .logout {
  display: inline-block;
  background-image: url("/image/icon/exit.png");
  background-repeat: no-repeat;
  width: 17px;
  height: 20px;
  background-color: transparent;
  border: none;
  background-size: contain;
}
header .r-line .rl-bottom .icon-wrapper form .logout:focus {
  outline: none;
}
.header-wrapper__mobile {
  display: none;
}
