.cabinet-interests {
  /*#profile-clear-fields{
        .row>div[class*="col-"]{
            padding: 9px;

            &:first-child{
                padding-left: 15px;
            }
            &:last-child{
                padding-right: 15px;
            }
        }
    }*/
}
.cabinet-interests .row {
  margin-right: -9px;
  margin-left: -9px;
}
.cabinet-interests div[class*="col-"] {
  padding: 9px;
}
.cabinet-interests .top-line h1 {
  font-size: 35px;
  margin: 30px 0 10px;
}
.cabinet-interests .top-line .text {
  color: #565656;
}
.cabinet-interests .card {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
}
.cabinet-interests .card.small {
  height: 190px;
}
.cabinet-interests .card.active .fog {
  display: block;
  z-index: 1;
}
.cabinet-interests .card.active .title {
  color: black;
  z-index: 2;
}
.cabinet-interests .card .fog {
  position: absolute;
  left: -1px;
  right: -1px;
  top: -1px;
  bottom: -1px;
  background: white;
  opacity: 0.75;
  display: none;
}
.cabinet-interests .card .title {
  font-size: 25px;
  color: white;
  text-align: center;
  width: 100%;
  line-height: 1;
  padding: 0 10px;
}
.cabinet-interests .smb-btn {
  background-color: #666364;
  padding: 10px 122px;
  color: white;
  display: inline-block;
  margin: 60px 0 100px;
  border: none;
}
