.cabinet-interests{

    /*#profile-clear-fields{
        .row>div[class*="col-"]{
            padding: 9px;

            &:first-child{
                padding-left: 15px;
            }
            &:last-child{
                padding-right: 15px;
            }
        }
    }*/
    .row{
        margin-right: -9px;
        margin-left: -9px;
    }
    div[class*="col-"]{
        padding: 9px;
    }

    .top-line{
        h1{
            font-size: 35px;
            margin: 30px 0 10px;
        }
        .text{
            color: rgb(86, 86, 86);
        }
    }
    .card{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: row;
        cursor: pointer;

        &.small{
            height: 190px;
        }
        &.active{
            .fog{
                display: block;
                z-index: 1;
            }
            .title{
                color: black;
                z-index: 2;
            }
        }

        .fog{
            position: absolute;
            left: -1px;
            right: -1px;
            top: -1px;
            bottom: -1px;
            background: white;
            opacity: 0.75;
            display: none;
        }
        .title{
            font-size: 25px;
            color: white;
            text-align: center;
            width: 100%;
            line-height: 1;
            padding: 0 10px;
        }
    }
    .smb-btn{
        background-color: #666364;
        padding: 10px 122px;
        color: white;
        display: inline-block;
        margin: 60px 0 100px;
        border: none;
    }
}