.top-image {
  height: 748px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  font-family: "BMWGlobal_Pro_thin";
}
.top-image.mainpage {
  background-image: url('/image/background_main.jpg');
}
.top-image.mainpage .ti-text-wrapper {
  color: white;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0px;
}
.top-image.mainpage .ti-text-wrapper .title {
  font-size: 53px;
  margin-bottom: 16px;
}
.top-image.mainpage .ti-text-wrapper .text {
  font-size: 19px;
}
.top-image.mainpage .ti-text-wrapper .down {
  display: inline-block;
  border: 1px solid white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: white;
  padding-top: 16px;
  margin: 36px 0 46px;
}
.top-image.mainpage .ti-text-wrapper .down:after {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(/image/arrow_down.png);
  background-repeat: no-repeat;
  background-position: center;
}
.my-events h2 {
  margin: 90px 0 60px;
}
.my-events .me-item {
  height: 356px;
  background-color: #fefefe;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
  display: block;
}
.my-events .me-item:hover {
  text-decoration: none;
}
.my-events .me-item .image {
  height: 180px;
  padding: 18px 30px;
  font-size: 15px;
  color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.my-events .me-item .bottom-block {
  height: calc(100% - 180px);
  padding: 18px 30px;
  color: black;
}
.my-events .me-item .bottom-block .title {
  font-size: 27px;
  line-height: 1;
  margin-bottom: 30px;
  max-height: 89px;
  overflow: hidden;
}
.my-events .me-item .bottom-block .link {
  font-size: 15px;
  display: inline-block;
  border-bottom: 1px solid;
  line-height: 1.3;
}
.my-events .me-item .bottom-block .link:hover {
  text-decoration: none;
}
.events-promo-3 {
  margin-bottom: 160px;
}
.events-promo-3 h2 {
  margin: 90px 0 60px;
}
.events-promo-3 .min-margin > .row > div {
  padding-left: 8px;
  padding-right: 8px;
}
.events-promo-3 .min-margin > .row > div:first-child {
  padding-left: 15px;
}
.events-promo-3 .min-margin > .row > div:last-child {
  padding-right: 15px;
}
.events-promo-3 .ce-s-item {
  width: 100%;
}
.events-promo-3 .ce-s-item .image {
  height: 180px;
  max-width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 30px;
  position: relative;
  display: block;
  padding: 18px 30px;
  font-size: 15px;
  color: white;
  text-decoration: none;
}
.events-promo-3 .ce-s-item .image .date {
  text-decoration: none;
}
.events-promo-3 .ce-s-item .image .date:hover {
  text-decoration: none;
}
.events-promo-3 .ce-s-item.not-active .image:before {
  content: '';
  position: absolute;
  left: -1px;
  right: -1px;
  top: -1px;
  bottom: -1px;
  background: white;
  opacity: 0.75;
}
.events-promo-3 .ce-s-item .title {
  font-size: 27px;
  line-height: 1;
  padding: 0 30px;
  display: block;
}
.events-promo-3 .ce-s-item .title:hover {
  text-decoration: none;
}
.events-promo-3 .ce-s-item .title:focus {
  outline: none;
}
.site-request-window-inner {
  width: 100%;
  max-width: 420px;
  margin: 150px auto 200px;
}
.site-request-window-inner .title {
  font-size: 29px;
  line-height: 1.2;
  margin-bottom: 30px;
}
.site-request-window-inner .title.centered {
  text-align: center;
}
.site-request-window-inner .text {
  margin-bottom: 60px;
}
.site-request-window-inner .smb-btn {
  background-color: #656364;
  color: white;
  width: 100%;
  max-width: 420px;
  border: none;
  padding: 9px 0;
  margin: 40px auto 0;
  display: block;
  text-align: center;
}
.site-request-window-inner .smb-btn:hover {
  text-decoration: none;
}
.site-request-window-inner.callback {
  max-width: 350px;
}
#my-events .my-events__list .slick-list {
  padding: 30px 0;
}
.me-no-events {
  background-color: #fdfcfc;
  max-width: 400px;
  padding: 30px 40px;
}
.me-no-events .title {
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 40px;
}
.me-no-events .text {
  font-size: 17px;
  margin-bottom: 40px;
}
.me-no-events .link {
  font-weight: 500;
  text-decoration: none;
  line-height: 1;
  border-bottom: 1px solid;
}
