.top-image{
    height: 748px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    font-family: "BMWGlobal_Pro_thin";

    &.mainpage{
        background-image: url('/image/background_main.jpg');

        .ti-text-wrapper{
            color: white;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0px;

            .title{
                font-size: 53px;
                margin-bottom: 16px;
            }
            .text{
                font-size: 19px;
            }
            .down{
                display: inline-block;
                border: 1px solid white;
                border-radius: 50%;
                width: 50px;
                height: 50px;
                color: white;
                padding-top: 16px;
                margin: 36px 0 46px;

                &:after{
                    content: '';
                    display: inline-block;
                    width: 16px;
                    height: 16px;
                    background-image: url(/image/arrow_down.png);
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }
        }
    }
}

.my-events{
    h2{
        margin: 90px 0 60px;
    }
    .me-item{
        height: 356px;
        background-color: rgb(254, 254, 254);
        box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
        display: block;

        &:hover{
            text-decoration: none;
        }

        .image{
            height: 180px;
            padding: 18px 30px;
            font-size: 15px;
            color: white;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .bottom-block{
            height: calc(100% - 180px);
            padding: 18px 30px;
            color: black;

            .title{
                font-size: 27px;
                line-height: 1;
                margin-bottom: 30px;
                max-height: 89px;
                overflow: hidden;
            }
            .link{
                font-size: 15px;
                display: inline-block;
                border-bottom: 1px solid;
                line-height: 1.3;

                &:hover{
                    text-decoration: none;
                }
            }
        }
    }
}
.events-promo-3{
    margin-bottom: 160px;

    h2{
        margin: 90px 0 60px;
    }
    .min-margin{
        &>.row>div{
            padding-left: 8px;
            padding-right: 8px;

            &:first-child{
                padding-left: 15px;
            }
            &:last-child{
                padding-right: 15px;
            }
        }
    }
    .ce-s-item {
        width: 100%;

        .image {
            height: 180px;
            max-width: 100%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            margin-bottom: 30px;
            position: relative;
            display: block;
            padding: 18px 30px;
            font-size: 15px;
            color: white;
            text-decoration: none;

            .date{
                text-decoration: none;

                &:hover{
                    text-decoration: none;
                }
            }
        }
        &.not-active .image:before{
            content: '';
            position: absolute;
            left: -1px;
            right: -1px;
            top: -1px;
            bottom: -1px;
            background: white;
            opacity: 0.75;
        }
        .title{
            font-size: 27px;
            line-height: 1;
            padding: 0 30px;
            display: block;

            &:hover{
                text-decoration: none;
            }
            &:focus{
                outline: none;
            }
        }
    }
}
.site-request-window-inner{
    width: 100%;
    max-width: 420px;
    margin: 150px auto 200px;

    .title {
        font-size: 29px;
        line-height: 1.2;
        margin-bottom: 30px;

        &.centered{
            text-align: center;
        }
    }
    .text {
        margin-bottom: 60px;
    }
    .smb-btn {
        background-color: #656364;
        color: white;
        width: 100%;
        max-width: 420px;
        border: none;
        padding: 9px 0;
        margin: 40px auto 0;
        display: block;
        text-align: center;

        &:hover{
            text-decoration: none;
        }
    }

    &.callback{
        max-width: 350px;


    }
}
#my-events .my-events__list .slick-list{
     padding: 30px 0;
}
.me-no-events{
    background-color: #fdfcfc;
    max-width: 400px;
    padding: 30px 40px;

    .title{
        font-size: 17px;
        font-weight: 600;
        margin-bottom: 40px;
    }
    .text{
        font-size: 17px;
        margin-bottom: 40px;
    }
    .link{
        font-weight: 500;
        text-decoration: none;
        line-height: 1;
        border-bottom: 1px solid;
    }
}