.modal-open .modal{
    display: flex!important;
}

.modal-dialog {
    //height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;

    &[window-id='signup']{
        max-width: 800px;
    }

    .modal-content {

        .modal-body {
            padding: 26px 32px;

            .close {
                font-size: 31px;
                line-height: 1;
                position: absolute;
                right: -32px;
                top: 0;
                z-index: 2;
                color: white;
            }
            .form-group {
                margin-bottom: 8px;

                .form-control {
                    border: 1px solid #BBD5E2;
                    border-radius: 4px;
                    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
                    background-color: #FFFFFF;
                    height: calc(1.5em + 0.75rem + 4px);
                }
                .btn-primary, .btn-primary:not(:disabled):not(.disabled):active {
                    border-radius: 12px;
                    background-color: #62B576;
                    width: 100%;
                    margin-top: 8px;
                    color: #FFFFFF;
                    font-size: 23px;
                    line-height: 30px;
                    padding: 17px 0;
                    border: none;
                }

            }
            .ls-menu {
                list-style: none;
                margin: 0 0 33px;
                padding: 0;

                li {
                    display: inline-block;
                    color: #0090D4;
                    font-size: 23px;
                    line-height: 24px;
                    margin-right: 24px;

                    &.active {
                        color: #37383E;
                        border-bottom: 3px solid #62B576;
                    }
                }
            }
        }
    }
}

#InterestsModal{
    .cabinet-interests{
        .form-group {
            margin-bottom: 0;
        }
        .smb-btn {
            background-color: #666364;
            padding: 10px 122px;
            color: white;
            display: inline-block;
            margin: 20px 0 0px;
            border: none;
        }
    }

}

.modal-dialog[window-id="notifications"]{
    max-width: 655px;

    .modal-content {
        max-height: 80vh;
        overflow: hidden;

        .modal-body{
            padding: 0;

            .modal-notification-wrapper{
                max-height: 80vh;
                overflow-y: auto;
                overflow-x: hidden;
                padding: 60px 0;

                .title{
                    font-size: 33px;
                    margin-bottom: 60px;
                    padding: 0px 60px;
                }
                .text{
                    padding: 0px 60px;
                }
                .mass-block{
                    padding: 0px 60px;

                    .mn-category-wrapper{
                        margin-bottom: 60px;

                        .mn-category{
                            border-bottom: 1px solid black;
                            margin: 20px 0;
                            padding-right: 30px;
                            padding-bottom: 10px;
                            position: relative;
                            font-size: 19px;
                            display: block;

                            &:hover{
                                text-decoration: none;
                            }

                            .opener{
                                position: absolute;
                                top: 6px;
                                right: 0;
                                font-size: 17px;
                            }
                        }
                        .items{
                            .item{
                                margin: 10px 0;
                                color: rgb(126, 126, 126);
                                font-size: 15px;

                                .clear{
                                    font-size: 17px;
                                    margin-right: 10px;
                                    text-decoration: none;
                                    color: rgb(126, 126, 126);
                                }
                                a{
                                    text-decoration: underline;
                                    color: rgb(126, 126, 126);
                                }
                            }
                        }
                    }
                }
                .close-wrapper{
                    text-align: center;
                    margin-top: 30px;
                    padding: 0px 60px;

                    .close{
                        width: 100%;
                        margin: 0 auto;
                        padding: 15px 20px;
                        position: static!important;
                        max-width: 50%;
                        font-size: 17px!important;
                        float: none;
                        opacity: 1!important;
                        background-color: #666364!important;
                        font-weight: 400!important;

                        &:hover,&:active{
                            outline: none;
                        }
                    }
                }
            }
        }
    }
}
.modal-open{
    position: fixed;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
#allModal .site-request-window-inner.interest{
    margin: 0 auto;
    padding: 25px;

    .btn-def {
        margin: 15px auto;
    }
}
.modal-dialog[window-id="interests"]{
    max-width: 1140px;
    width: 100%;

    .modal-content {
        max-height: 80vh;
        overflow-y: auto;
        overflow-x: hidden;

        .modal-body{
            padding: 0;

            .modal-notification-wrapper{
                max-height: 80vh;
                overflow-y: auto;
                overflow-x: hidden;
                padding: 60px 0;

                .title{
                    font-size: 33px;
                    margin-bottom: 60px;
                    padding: 0px 60px;
                }
                .text{
                    padding: 0px 60px;
                }
                .mass-block{
                    padding: 0px 60px;

                    .mn-category-wrapper{
                        margin-bottom: 60px;

                        .mn-category{
                            border-bottom: 1px solid black;
                            margin: 20px 0;
                            padding-right: 30px;
                            padding-bottom: 10px;
                            position: relative;
                            font-size: 19px;
                            display: block;

                            &:hover{
                                text-decoration: none;
                            }

                            .opener{
                                position: absolute;
                                top: 6px;
                                right: 0;
                                font-size: 17px;
                            }
                        }
                        .items{
                            .item{
                                margin: 10px 0;
                                color: rgb(126, 126, 126);
                                font-size: 15px;

                                .clear{
                                    font-size: 17px;
                                    margin-right: 10px;
                                    text-decoration: none;
                                    color: rgb(126, 126, 126);
                                }
                                a{
                                    text-decoration: underline;
                                    color: rgb(126, 126, 126);
                                }
                            }
                        }
                    }
                }
                .close-wrapper{
                    text-align: center;
                    margin-top: 30px;
                    padding: 0px 60px;

                    .close{
                        width: 100%;
                        margin: 0 auto;
                        padding: 15px 20px;
                        position: static!important;
                        max-width: 50%;
                        font-size: 17px!important;
                        float: none;
                        opacity: 1!important;
                        background-color: #666364!important;
                        font-weight: 400!important;

                        &:hover,&:active{
                            outline: none;
                        }
                    }
                }
            }
        }
    }
}