.modal-open .modal {
  display: flex!important;
}
.modal-dialog {
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.modal-dialog[window-id='signup'] {
  max-width: 800px;
}
.modal-dialog .modal-content .modal-body {
  padding: 26px 32px;
}
.modal-dialog .modal-content .modal-body .close {
  font-size: 31px;
  line-height: 1;
  position: absolute;
  right: -32px;
  top: 0;
  z-index: 2;
  color: white;
}
.modal-dialog .modal-content .modal-body .form-group {
  margin-bottom: 8px;
}
.modal-dialog .modal-content .modal-body .form-group .form-control {
  border: 1px solid #BBD5E2;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
  background-color: #FFFFFF;
  height: calc(1.5em + 0.75rem + 4px);
}
.modal-dialog .modal-content .modal-body .form-group .btn-primary,
.modal-dialog .modal-content .modal-body .form-group .btn-primary:not(:disabled):not(.disabled):active {
  border-radius: 12px;
  background-color: #62B576;
  width: 100%;
  margin-top: 8px;
  color: #FFFFFF;
  font-size: 23px;
  line-height: 30px;
  padding: 17px 0;
  border: none;
}
.modal-dialog .modal-content .modal-body .ls-menu {
  list-style: none;
  margin: 0 0 33px;
  padding: 0;
}
.modal-dialog .modal-content .modal-body .ls-menu li {
  display: inline-block;
  color: #0090D4;
  font-size: 23px;
  line-height: 24px;
  margin-right: 24px;
}
.modal-dialog .modal-content .modal-body .ls-menu li.active {
  color: #37383E;
  border-bottom: 3px solid #62B576;
}
#InterestsModal .cabinet-interests .form-group {
  margin-bottom: 0;
}
#InterestsModal .cabinet-interests .smb-btn {
  background-color: #666364;
  padding: 10px 122px;
  color: white;
  display: inline-block;
  margin: 20px 0 0px;
  border: none;
}
.modal-dialog[window-id="notifications"] {
  max-width: 655px;
}
.modal-dialog[window-id="notifications"] .modal-content {
  max-height: 80vh;
  overflow: hidden;
}
.modal-dialog[window-id="notifications"] .modal-content .modal-body {
  padding: 0;
}
.modal-dialog[window-id="notifications"] .modal-content .modal-body .modal-notification-wrapper {
  max-height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 60px 0;
}
.modal-dialog[window-id="notifications"] .modal-content .modal-body .modal-notification-wrapper .title {
  font-size: 33px;
  margin-bottom: 60px;
  padding: 0px 60px;
}
.modal-dialog[window-id="notifications"] .modal-content .modal-body .modal-notification-wrapper .text {
  padding: 0px 60px;
}
.modal-dialog[window-id="notifications"] .modal-content .modal-body .modal-notification-wrapper .mass-block {
  padding: 0px 60px;
}
.modal-dialog[window-id="notifications"] .modal-content .modal-body .modal-notification-wrapper .mass-block .mn-category-wrapper {
  margin-bottom: 60px;
}
.modal-dialog[window-id="notifications"] .modal-content .modal-body .modal-notification-wrapper .mass-block .mn-category-wrapper .mn-category {
  border-bottom: 1px solid black;
  margin: 20px 0;
  padding-right: 30px;
  padding-bottom: 10px;
  position: relative;
  font-size: 19px;
  display: block;
}
.modal-dialog[window-id="notifications"] .modal-content .modal-body .modal-notification-wrapper .mass-block .mn-category-wrapper .mn-category:hover {
  text-decoration: none;
}
.modal-dialog[window-id="notifications"] .modal-content .modal-body .modal-notification-wrapper .mass-block .mn-category-wrapper .mn-category .opener {
  position: absolute;
  top: 6px;
  right: 0;
  font-size: 17px;
}
.modal-dialog[window-id="notifications"] .modal-content .modal-body .modal-notification-wrapper .mass-block .mn-category-wrapper .items .item {
  margin: 10px 0;
  color: #7e7e7e;
  font-size: 15px;
}
.modal-dialog[window-id="notifications"] .modal-content .modal-body .modal-notification-wrapper .mass-block .mn-category-wrapper .items .item .clear {
  font-size: 17px;
  margin-right: 10px;
  text-decoration: none;
  color: #7e7e7e;
}
.modal-dialog[window-id="notifications"] .modal-content .modal-body .modal-notification-wrapper .mass-block .mn-category-wrapper .items .item a {
  text-decoration: underline;
  color: #7e7e7e;
}
.modal-dialog[window-id="notifications"] .modal-content .modal-body .modal-notification-wrapper .close-wrapper {
  text-align: center;
  margin-top: 30px;
  padding: 0px 60px;
}
.modal-dialog[window-id="notifications"] .modal-content .modal-body .modal-notification-wrapper .close-wrapper .close {
  width: 100%;
  margin: 0 auto;
  padding: 15px 20px;
  position: static!important;
  max-width: 50%;
  font-size: 17px!important;
  float: none;
  opacity: 1!important;
  background-color: #666364 !important;
  font-weight: 400!important;
}
.modal-dialog[window-id="notifications"] .modal-content .modal-body .modal-notification-wrapper .close-wrapper .close:hover,
.modal-dialog[window-id="notifications"] .modal-content .modal-body .modal-notification-wrapper .close-wrapper .close:active {
  outline: none;
}
.modal-open {
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
#allModal .site-request-window-inner.interest {
  margin: 0 auto;
  padding: 25px;
}
#allModal .site-request-window-inner.interest .btn-def {
  margin: 15px auto;
}
.modal-dialog[window-id="interests"] {
  max-width: 1140px;
  width: 100%;
}
.modal-dialog[window-id="interests"] .modal-content {
  max-height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.modal-dialog[window-id="interests"] .modal-content .modal-body {
  padding: 0;
}
.modal-dialog[window-id="interests"] .modal-content .modal-body .modal-notification-wrapper {
  max-height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 60px 0;
}
.modal-dialog[window-id="interests"] .modal-content .modal-body .modal-notification-wrapper .title {
  font-size: 33px;
  margin-bottom: 60px;
  padding: 0px 60px;
}
.modal-dialog[window-id="interests"] .modal-content .modal-body .modal-notification-wrapper .text {
  padding: 0px 60px;
}
.modal-dialog[window-id="interests"] .modal-content .modal-body .modal-notification-wrapper .mass-block {
  padding: 0px 60px;
}
.modal-dialog[window-id="interests"] .modal-content .modal-body .modal-notification-wrapper .mass-block .mn-category-wrapper {
  margin-bottom: 60px;
}
.modal-dialog[window-id="interests"] .modal-content .modal-body .modal-notification-wrapper .mass-block .mn-category-wrapper .mn-category {
  border-bottom: 1px solid black;
  margin: 20px 0;
  padding-right: 30px;
  padding-bottom: 10px;
  position: relative;
  font-size: 19px;
  display: block;
}
.modal-dialog[window-id="interests"] .modal-content .modal-body .modal-notification-wrapper .mass-block .mn-category-wrapper .mn-category:hover {
  text-decoration: none;
}
.modal-dialog[window-id="interests"] .modal-content .modal-body .modal-notification-wrapper .mass-block .mn-category-wrapper .mn-category .opener {
  position: absolute;
  top: 6px;
  right: 0;
  font-size: 17px;
}
.modal-dialog[window-id="interests"] .modal-content .modal-body .modal-notification-wrapper .mass-block .mn-category-wrapper .items .item {
  margin: 10px 0;
  color: #7e7e7e;
  font-size: 15px;
}
.modal-dialog[window-id="interests"] .modal-content .modal-body .modal-notification-wrapper .mass-block .mn-category-wrapper .items .item .clear {
  font-size: 17px;
  margin-right: 10px;
  text-decoration: none;
  color: #7e7e7e;
}
.modal-dialog[window-id="interests"] .modal-content .modal-body .modal-notification-wrapper .mass-block .mn-category-wrapper .items .item a {
  text-decoration: underline;
  color: #7e7e7e;
}
.modal-dialog[window-id="interests"] .modal-content .modal-body .modal-notification-wrapper .close-wrapper {
  text-align: center;
  margin-top: 30px;
  padding: 0px 60px;
}
.modal-dialog[window-id="interests"] .modal-content .modal-body .modal-notification-wrapper .close-wrapper .close {
  width: 100%;
  margin: 0 auto;
  padding: 15px 20px;
  position: static!important;
  max-width: 50%;
  font-size: 17px!important;
  float: none;
  opacity: 1!important;
  background-color: #666364 !important;
  font-weight: 400!important;
}
.modal-dialog[window-id="interests"] .modal-content .modal-body .modal-notification-wrapper .close-wrapper .close:hover,
.modal-dialog[window-id="interests"] .modal-content .modal-body .modal-notification-wrapper .close-wrapper .close:active {
  outline: none;
}
