.header-wrapper__mobile {
    display: none;
}

@media (max-width: 991px){

    .wrap {
        overflow: hidden;
    }

    header {
        box-shadow: 0 3px 7px 0 rgba(0,0,0,0.33);
    }

    .mobile-menu__visible {
        overflow: hidden;
    }

    .container {
        padding-left: 30px;
        padding-right: 30px;
    }

    .form-control {
        font-size: 17px !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
        box-shadow: none !important;
    }
    .form-control::-webkit-input-placeholder {
        color: #fff;
    }
    .form-control::-moz-placeholder {
        color: #fff;
    }
    .form-control:-ms-input-placeholder {
        color: #fff;
    }
    .form-control:-moz-placeholder {
        color: #fff;
    }

    .preloader {
        overflow: auto;
        height: auto;
        min-height: 100vh;
    }
    .preloader .movie {
        height: 100%;
        object-fit: cover;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
    .preloader .ms-content {
        position: static;
        width: 100%;
    }
    .preloader .ms-content .pl-topper {
        position: fixed;
        top: 0;
        width: 100%;
    }
    .preloader .ms-content .backgrond {
        position: fixed;
    }
    .preloader .ms-content .pl-bottom .title {
        font-size: 25px;
        line-height: 33px;
        margin-bottom: 20px;
        letter-spacing: 0.34px;
    }
    .preloader .ms-content .pl-bottom .text {
        font-size: 15px;
        line-height: 17px;
    }
    .preloader .ms-content .pl-bottom {
        bottom: 30px;
    }

    .preloader .ms-content .pl-bottom .sign {
        padding: 5px 70px;
    }
    .preloader .ms-content .site-signin {
        padding: 0 30px
    }
    .preloader .ms-content .site-signin .signin-wrapper {
        font-size: 27px;
        line-height: 33px;
    }
    .preloader .ms-content .site-signin .signup-wrapper .signup {
        font-size: 15px;
        line-height: 17px;
    }
    .preloader .ms-content .pl-topper .logo .ls-wrapper img {
        width: 18px;
    }


    .preloader .ms-content .pl-topper .logo .ls-wrapper .slogan {
        font-size: 9px;
    }
    .preloader .ms-content .site-signin .form-control {
        font-size: 17px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .site-signin .form-control::-webkit-input-placeholder {
        color: #fff;
    }
    .site-signin .form-control::-moz-placeholder {
        color: #fff;
    }
    .site-signin .form-control:-ms-input-placeholder {
        color: #fff;
    }
    .site-signin .form-control:-moz-placeholder {
        color: #fff;
    }
    .preloader .ms-content .site-signin .forgot-password a,
    .preloader .ms-content .site-signin .cannot-enter a {
        font-size: 15px;
    }
    .preloader .ms-content .site-signin .signup-wrapper {
        padding: 0;
    }


    /*
    Sign up
     */
    .site-signup {
        padding: 0 30px;
    }
    .site-signup .col-4,
    .site-signup .col-8 {
        width: 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .preloader .ms-content .site-signup {
        margin-top: 110px;
    }
    .preloader .ms-content .site-signup .signin-wrapper {
        font-size: 27px;
    }
    .preloader .ms-content .site-signup .signup-wrapper .signup {
        font-size: 15px;
    }
    #signupform-gender {
        display: flex;
        justify-content: space-between;
    }
    .preloader .ms-content .site-signup .form-control {
        font-size: 17px;
    }
    .preloader .ms-content .site-signup .form-control::-webkit-input-placeholder {
        color: #fff;
    }
    .preloader .ms-content .site-signup .form-control::-moz-placeholder {
        color: #fff;
    }
    .preloader .ms-content .site-signup .form-control:-ms-input-placeholder {
        color: #fff;
    }
    .preloader .ms-content .site-signup .form-control:-moz-placeholder {
        color: #fff;
    }
    #signupform-connection {
        display: flex;
    }
    .preloader .ms-content .site-signup #sign-up .connection-title,
    .preloader .ms-content .site-signup #sign-up .connection-field {
        float: none;
    }
    .custom-control {
        margin-right: 20px;
    }
    .preloader .ms-content .site-signup #sign-up .agreement-wrapper {
        display: flex;
    }
    .preloader .ms-content .site-signup #sign-up .agreement-wrapper input {
        float: none;
        min-width: 30px;
    }
    .preloader .ms-content .site-signup .form-control {
        padding-left: 10px;
        padding-right: 10px;
    }
    .preloader .ms-content .site-signup #sign-up .phone-title {
        left: 20px;
    }



    .preloader .ms-content .site-bug-messages {
        padding: 0 30px 20px 30px;
        margin-top: 110px;
    }
    .preloader .ms-content .site-bug-messages .upload-kit {
        margin-top: 14px;
    }
    .preloader .ms-content .site-bug-messages .upload-kit .upload-kit-input:before {
        color: #fff;
        top: -7px;
        left: 10px;
        opacity: 1;
        font-size: 17px;
    }
    .preloader .ms-content .site-bug-messages .upload-kit .upload-kit-input .glyphicon-plus-sign:before {
        top: 12px;
    }
    .preloader .ms-content .site-bug-messages .title {
        font-size: 27px;
        line-height: 33px;
    }
    .preloader .ms-content .site-bug-messages .text {
        font-size: 15px;
        margin-bottom: 30px;
    }


    .site-signup-success {
        padding: 0 30px;
    }
    .preloader .ms-content .site-signup-success .title {
        font-size: 27px;
        text-transform: uppercase;
    }


    .mobile-menu__visible .header-wrapper__mobile .header-menu {
        display: block;
        position: fixed;
        background: #fff;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 100;
        overflow: auto;
    }

    .header-wrapper {
        display: none;
    }
    .header-wrapper__mobile {
        display: flex;
        justify-content: space-between;
        padding: 0;
    }
    .header-wrapper__mobile .header-menu__btn {
        background-image: url('../image/icon/menu-ico.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 37px;
        height: 41px;
        position: relative;
        cursor: pointer;
        margin-top: 8px;
    }
    .header-wrapper__mobile .header-menu__btn.messaged::before {
        content: '';
        position: absolute;
        top: -5px;
        right: -10px;
        width: 8px;
        height: 8px;
        background: #FF0000;
        border-radius: 50%;
    }
    .header-wrapper__mobile .logo-wrapper {
        display: inline-block;
        text-align: center;
        margin-bottom: 20px;
    }
    .header-wrapper__mobile .logo-wrapper .logo {
        max-width: 18px;
        max-height: 18px;
    }
    .header-wrapper__mobile .title {
        text-transform: uppercase;
        font-size: 9px;
        letter-spacing: 1px;
        margin-top: 5px;
        font-weight: 600;
        -webkit-font-smoothing: auto;
    }
    .header-wrapper__mobile .header-menu {
        display: none;
    }
    .header-wrapper__mobile .header-menu .header-menu__top {
        display: flex;
        justify-content: space-between;
        padding: 30px 0;
    }
    .header-wrapper__mobile .header-menu .header-menu__top .header-menu__btn {
        background-image: url('../image/icon/menu-close-ico.svg');
        background-size: 25px;
    }
    .header-wrapper__mobile .header-menu__top .header-menu__btn::before {
        display: none;
    }
    .header-wrapper__mobile .header-menu__content {
        padding: 0 30px;
    }
    .header-wrapper__mobile .header-menu__content .h-slogan {
        font-size: 25px;
        line-height: 30px;
        text-transform: uppercase;
        margin-bottom: 50px;
        display: block;
    }
    .header-wrapper__mobile .header-menu__content ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .header-wrapper__mobile .header-menu__content ul  li {

    }
    .header-wrapper__mobile .header-menu__content ul  li  a {
        font-size: 19px;
        margin-bottom: 10px;
        display: block;
    }

    .header-wrapper__mobile .header-menu__content .icon-wrapper {
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
    }
    .header-wrapper__mobile .header-menu__content .icon-wrapper .avatar {
        font-size: 21px;
        position: relative;
        padding-left: 30px;
    }
    .header-wrapper__mobile .header-menu__content .icon-wrapper .avatar:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        background-image: url("../image/icon/profile.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 20px;
        height: 20px;
    }
    .header-wrapper__mobile .header-menu__content .icon-wrapper .avatar.messaged:after {
        content: '';
        position: absolute;
        top: -5px;
        right: -15px;
        margin: auto;
        width: 8px;
        height: 8px;
        background: #FF0000;
        border-radius: 50%;
    }
    .header-wrapper__mobile .header-menu__content .icon-wrapper .logout {
        width: 35px;
        height: 35px;
        background-image: url("../image/icon/exit.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 16px;
        border: 0;
        background-color: transparent;
    }
    .header-wrapper__mobile .header-menu__content .phone {
        font-size: 21px;
        margin-bottom: 30px;
        display: block;
    }

    .top-image.mainpage .ti-text-wrapper .title {
        margin-top: 30px;
        font-size: 27px;
        font-family: BMWGlobal_light;
        line-height: 33px;
    }
    .top-image.mainpage .ti-text-wrapper .down {
        display: none;
    }
    .top-image.mainpage .ti-text-wrapper .text {
        font-size: 17px;
        margin-bottom: 30px;
    }
    .top-image {
        height: auto;
        min-height: 400px;
    }
    .my-events h2 {
        margin: 40px 0 30px;
        font-size: 29px;
    }
    .my-events .my-events__list {
        flex-wrap: nowrap;
        overflow: auto;
        padding-left: 15px;
        padding-bottom: 25px;
        margin-left: -30px;
        margin-right: -30px;
    }
    .my-events .my-events__list .my-events__item {
        max-width: 100%;
        width: 280px;
        min-width: 280px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .my-events .me-item {
        height: auto;
    }
    .my-events .me-item .bottom-block {
        padding: 20px;
    }
    .my-events .me-item .bottom-block .title {
        font-size: 21px;
        line-height: 24px;
    }
    .my-events .me-item .image {
        height: auto;
        padding: 0;
        position: relative;
    }
    .my-events .me-item .image::after {
        content: '';
        display: block;
        padding-bottom: 50%;
    }
    .my-events .me-item .image .date {
        position: absolute;
        top: 20px;
        left: 20px;
        bottom: 20px;
        right: 20px;
    }
    .events-promo-3 {
        margin-bottom: 30px;
    }
    .events-promo-3 h2 {
        margin: 40px 0 30px;
        font-size: 27px;
    }
    .events-promo-3 .events-promo__list {
        flex-wrap: nowrap;
        overflow: auto;
        padding-left: 15px;
        padding-bottom: 25px;
        margin-left: -30px;
        margin-right: -30px;
    }
    .events-promo-3 .events-promo__item {
        max-width: 100%;
        width: 280px;
        min-width: 280px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .events-promo-3 .ce-s-item .image {
        height: auto;
        margin-bottom: 20px;
    }
    .events-promo-3 .ce-s-item .image::after {
        content: '';
        display: block;
        padding-bottom: 50%;
    }
    .events-promo-3 .ce-s-item .title {
        font-size: 21px;
        line-height: 25px;
        padding: 0 20px;
    }

    .footer {
        back
        padding-top: 30px;
    }
    .footer .bottom-menu {
        margin: 30px 0
    }
    .footer .callback {
        font-size: 21px;
    }
    .footer .bottom-menu ul {
        display: table;
    }
    .footer .bottom-menu ul li {
        font-size: 21px;
    }
    .footer .bottom-second-menu ul li {
        display: block;
        line-height: 32px;
        float: none;
    }
    .footer .copyright .f-slogan {
        color: #c0c0c0;
        font-size: 15px;
    }


    .cabinet-cards h1 {
        font-size: 27px;
    }
    .cabinet-cards .top-line .interests-wrapper {
        text-align: left;
        padding: 0;
    }
    .cabinet-cards .top-line .interests-wrapper .interests {
        font-size: 17px;
        margin-left: 30px;
    }
    .cabinet-cards .top-line .interests-wrapper .interests:before {
        right: auto;
        left: -30px;
        width: 18px;
        height: 18px;
        background-size: contain;
        top: 0;
        bottom: 0;
        margin: auto;
    }
    .cabinet-cards .cabinet-cards-first {
        margin-bottom: 0;
    }
    .cabinet-cards .cabinet-cards-first .card {
        margin-left: -30px;
        margin-right: -30px;
        height: auto;
    }
    .cabinet-cards .cabinet-cards-first .card .title {
        font-size: 25px;
        line-height: 30px;
        margin-bottom: 30px;
    }
    .cabinet-cards .cabinet-cards-first .card .text-right {
        font-size: 15px;
    }
    .cabinet-cards .cabinet-cards-first .card .line .c-val {
        font-size: 15px;
    }
    .cabinet-cards .cabinet-cards-second .card {
        margin-left: -30px;
        margin-right: -30px;
        padding: 30px;
        height: auto;
    }
    .cabinet-cards .cabinet-cards-second .card .title {
        font-size: 25px;
    }
    .cabinet-cards .cabinet-cards-second .card .title-small {
        font-size: 21px;
    }

    .cabinet-cards .cabinet-cards-second .card .form-control::-webkit-input-placeholder {
        color: #565656;
    }
    .cabinet-cards .cabinet-cards-second .card .form-control::-moz-placeholder {
        color: #565656;
    }
    .cabinet-cards .cabinet-cards-second .card .form-control:-ms-input-placeholder {
        color: #565656;
    }
    .cabinet-cards .cabinet-cards-second .card .form-control:-moz-placeholder {
        color: #565656;
    }
    .cabinet-cards .cabinet-cards-second .card #profile-clear-fields .slick-prev,
    .cabinet-cards .cabinet-cards-second .card #profile-clear-fields .slick-next {
        top: -49px;
    }
    .cabinet-cards .cabinet-cards-second .card #profile-clear-fields .smb-btn {
        margin-top: 20px;
        padding: 10px;
    }
    .cabinet-cards .my-car__list {
        flex-wrap: nowrap;
        overflow: auto;
        padding-left: 15px;
        padding-bottom: 25px;
        margin-left: -30px;
        margin-right: -30px;
    }
    .cabinet-cards .my-car__list .my-car__item {
        max-width: 100%;
        width: 280px;
        min-width: 280px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .cabinet-cards .cabinet-cards-second .card .sub-card-wrapper{
        margin: 0 -30px;
        width: calc(100% + 60px);
    }
    .cabinet-cards .cabinet-cards-second .card .sub-card-wrapper .sub-card {
        height: auto;
        padding-bottom: 68%;
        position: relative;
        background-size: 80%;
        background-position: center;
        background-repeat: no-repeat;
    }
    .cabinet-cards .cabinet-cards-second {
        margin-bottom: 30px;
    }
    .cabinet-total .title {
        font-size: 27px;
        margin-bottom: 15px;
    }
    .cabinet-total .text {
        font-size: 15px;
        line-height: 17px;
        margin-bottom: 20px;
    }
    .cabinet-total .counter span {
        font-size: 55px;
    }
    .cabinet-total .counter {
        font-size: 29px;
        margin-bottom: 30px;
    }
    .cabinet-total .st-wrapper {
        font-size: 17px;
    }
    .cabinet-total .st-wrapper span {
        font-size: 31px;
        margin-right: 5px;
    }
    .cabinet-total {
        margin-bottom: 70px;
    }



    .privilege-topper {
        height: auto;
        padding-bottom: 75%;
    }
    .privilege-topper .down-wrapper .down {
        display: none;
    }
    .privilege-topper .ti-text-wrapper .title {
        font-size: 27px;
    }
    .privilege-topper .ti-text-wrapper {
        top: auto;
        bottom: 25px;
    }
    .privilege-list {
        margin-bottom: 60px;
    }
    .privilege-list h2 {
        margin: 30px 0;
        font-size: 21px;
    }
    .privilege-list .privilege-cards {
        margin-left: -30px;
        margin-right: -30px;
    }
    .privilege-list .privilege-cards .card {
        border-width: 5px;
        height: 100%;
        margin-bottom: 30px;
    }
    .privilege-list .privilege-cards .card .title {
        font-size: 15px;
        padding: 15px 5px;
    }
    .privilege-list .dealer {
        font-size: 17px;
    }


    .special-offerings-topper {
        height: auto;
        padding-bottom: 75%;
    }
    .special-offerings-topper .ti-text-wrapper .title {
        font-size: 31px;
        line-height: 1.2;
    }
    .special-offerings-topper .down-wrapper .down {
        display: none;
    }
    .special-offerings-list {
        margin-bottom: 30px;
    }
    .special-offerings-list h2 {
        font-size: 25px;
        margin: 30px 0;
    }
    .special-offerings-list .so-items {

    }
    .special-offerings-list .so-items .so-item {
        margin-left: -30px;
        margin-right: -30px;
    }
    .special-offerings-list .so-items .so-item .so-item__image {
        width: 100%;
        max-width: 100%;
        flex: 100%;
    }
    .special-offerings-list .so-items .so-item .so-item__image .img {
        height: auto;
        padding-bottom: 45%;
    }
    .special-offerings-list .so-items .so-item .so-item__content {
        width: 100%;
        max-width: 100%;
        flex: 100%;
        padding: 20px 40px;
    }
    .special-offerings-list .so-items .card .title {
        font-size: 27px;
        margin-top: 0;
        margin-bottom: 10px;
    }
    .special-offerings-list .so-items .card .text {
        font-size: 15px;
        height: auto;
    }
    .special-offerings-list .so-items .card .more {
        padding: 10px;
        font-size: 15px;
    }



    .events-list .container{
        padding-left: 0px;
        padding-right: 0px;
    }
    .events-topper h2 {
        font-size: 29px;
    }
    .events-topper .mini-card {

    }
    .events-topper .mini-card .events-list {
        flex-wrap: nowrap;
        overflow: auto;
        padding-bottom: 25px;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 30px;
    }
    .events-topper .mini-card .events-list .event-list__item {
        max-width: 100%;
        width: 280px;
        min-width: 280px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .events-topper .mini-card .events-list .event-list__item:first-child {
        padding-left: 0;
    }
    .events-topper .mini-card .events-list .event-list__item:last-child {
        padding-right: 0;
    }
    .events-topper .card {
        height: 400px;
        position: relative;
        overflow: hidden;
    }
    .events-topper .card .date {
        font-size: 19px;
        padding: 20px;
    }
    .events-topper .card .text-wrapper {
        position: absolute;
        bottom: 20px;
        top: auto;
        margin: 0 auto;
        height: auto;
        width: 100%;
    }
    .events-topper .card .text-wrapper .title {
        font-size: 21px;
        padding-bottom: 15px;
    }
    .events-topper .card .text-wrapper .favorite.active .fa-star,
    .events-topper .card .text-wrapper .favorite .fa-star-o {
        font-size: 21px;
    }
    .events-list h2 {
        padding-top: 0;
        font-size: 29px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .all-events-list {
        margin-left: 0;
        margin-right: 0;
    }
    .all-events-list .all-events-list__item {
        padding: 0;
    }
    .events-list .el-row .card {
        padding-bottom: 60%;
        height: auto;
        border-radius: 0;
        margin-bottom: 20px;
    }
    .events-list .el-row .card .date {
        position: absolute;
        font-size: 19px;
        padding: 20px 30px;
    }
    .events-list .el-row .card .text-wrapper {
        bottom: 0;
        padding-left: 65px;
        padding-bottom: 15px;
    }
    .events-list .el-row .card .text-wrapper .title {
        font-size: 21px;
    }
    .events-list .el-row .card .text-wrapper .favorite {
        left: 34px;
        top: 0px;
    }
    .events-list .el-row .card .text-wrapper .favorite .fa-star-o {
        font-size: 21px;
    }
    .events-list .el-more .more {
        padding: 10px;
        width: 100%;
    }


    .events-card-page {
        margin-bottom: 30px;
    }
    .events-card-page h1 {
        font-size: 27px;
        margin-left: 35px;
        line-height: 33px;
        margin-bottom: 30px;
    }
    .events-card-page .favorite {
        font-size: 21px;
    }
    .events-card-page .event-card__slider {
        padding: 0;
        margin-left: -15px;
        margin-right: -15px;
        width: calc(100% + 60px);
        max-width: calc(100% + 30px);
    }
    .events-card-page .images .image {
        height: auto;
    }
    .events-card-page .images .image::before {
        content: '';
        display: block;
        padding-bottom: 76%;
    }
    .events-card-page .images .slick-dots {
        padding: 0 20px;
        bottom: -35px;
    }
    .events-card-page .text-wrapper .text {
        font-size: 15px;
        line-height: 22px;
        color: #999999;
        height: auto;
        margin: 40px 0;
    }
    .events-card-page .text-wrapper .app-btn {
        font-size: 15px;
    }

    .special-offerings-card__image{
        padding: 0;
        /*margin: 0 -15px;*/
    }
    .special-offerings-card__image .images {
        padding: 0;
        margin-left: -15px;
        margin-right: -15px;
        width: calc(100% + 60px);
        max-width: calc(100% + 30px);
    }
    .special-offerings-card__image .images .image {
        height: 315px;
        background-size: cover;
    }
    .special-offerings-card__image .images .image::before {
        content: '';
        display: block;
    }
    .special-offerings-card__image .images .slick-dots {
        padding: 0 20px;
        bottom: -35px;
    }

    .cabinet-interests .row.interests-list {
        margin-left: -30px;
        margin-right: -30px;
    }
    .cabinet-interests .interests-list .interests-list__item {
        width: 100%;
        flex: 100%;
        max-width: initial;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
    }
    .cabinet-interests .card {
        border-radius: 0;
        position: relative;
        height: auto;
        padding-bottom: 46%;
    }
    .cabinet-interests .interests-list .interests-list__item .row:nth-child(1){
        width: 100%;
        flex: 100%;
    }
    .cabinet-interests .interests-list .interests-list__item:nth-child(1) .row:nth-child(2){
        width: calc(100% + 30px);
    }
    .cabinet-interests .interests-list .interests-list__item:nth-child(1) .row:nth-child(2) .card.small,
    .cabinet-interests .interests-list .interests-list__item:nth-child(1) .row:nth-child(3) .card.small {
        padding-bottom: 100%;
    }
    .cabinet-interests .card .title {
        font-size: 17px;
        position: absolute;
        top: 50%;
        left: 10px;
        right: 10px;
        transform: translateY(-50%);
        width: auto;
    }
    .cabinet-interests .card.small {
        height: auto;
        width: 100%;
    }
    .cabinet-interests .row.interests-list-2 {
        margin-left: -30px;
        margin-right: -30px;
    }
    .cabinet-interests .row.interests-list-2 .interests-list__item {
        width: 100%;
        flex: 100%;
        max-width: initial;
        padding: 9px 0;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 9px;
    }
    .cabinet-interests .row.interests-list-2 .interests-list__item:nth-child(1) {
    }
    .cabinet-interests .row.interests-list-2 .interests-list__item:nth-child(2),
    .cabinet-interests .row.interests-list-2 .interests-list__item:nth-child(3) {
        width: 50%;
        flex: 50%;
        max-width: 50%;
    }
    .cabinet-interests .row.interests-list-2 .interests-list__item:nth-child(2) {
        padding-right: 9px;
    }
    .cabinet-interests .row.interests-list-2 .interests-list__item:nth-child(3) {
        padding-left: 9px;
    }
    .cabinet-interests .row.interests-list-2 .interests-list__item:nth-child(2) .card.small,
    .cabinet-interests .row.interests-list-2 .interests-list__item:nth-child(3) .card.small {
        padding-bottom: 100%;
    }
    .cabinet-interests .row.interests-list-2 .interests-list__item:nth-child(4) {

    }
    .cabinet-interests .smb-btn {
        padding: 10px;
        width: 100%;
        margin: 30px 0
    }
    .cabinet-interests .top-line h1 {
        font-size: 27px;
    }
    .cabinet-interests .top-line .text {
        font-size: 17px;
    }




    .special-offerings-card h1 {
        font-size: 29px;
        margin-bottom: 30px;
    }
    .special-offerings-card__row {
        margin-left: -30px;
        margin-right: -30px;
    }
    /*.special-offerings-card__image {
        width: 100%;
        flex: 100%;
        max-width: 100%;
        padding: 0;
    }
    .special-offerings-card .image {
        height: auto;
        padding-bottom: 76%;
    }*/
    .special-offerings-card__text {
        padding: 30px;
        width: 100%;
        flex: 100%;
        max-width: 100%;
    }
    .special-offerings-card .text-wrapper .text {
        height: 100%;
        margin: 30px 0;
    }
    .special-offerings-other {
        margin-bottom: 50px;
    }
    .special-offerings-other .special-offerings__list {
        flex-wrap: nowrap;
        overflow: auto;
        padding-left: 15px;
        padding-bottom: 25px;
        margin-left: -30px;
        margin-right: -30px;
    }
    .special-offerings-other .special-offerings__list .special-offerings__item {
        max-width: 100%;
        width: 280px;
        min-width: 280px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .special-offerings-other .me-item {
        height: auto;
    }
    .special-offerings-other .me-item .image {
        height: auto;
        padding-bottom: 47%;
    }
    .special-offerings-other .me-item .bottom-block .title {
        font-size: 21px;
        line-height: 24px;
        margin-bottom: 20px;
    }
    .special-offerings-other .me-item .bottom-block {
        height: auto;
        padding: 20px 20px 30px;
    }
    .special-offerings-other h2 {
        font-size: 25px;
        margin-bottom: 30px;
    }
    .special-offerings-card {
        margin-bottom: 50px;
    }


    .site-callback {
        padding: 0 30px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .site-callback .title {
        font-size: 27px;
        text-transform: none;
        margin-bottom: 30px;
    }
    .site-callback textarea {
        border-radius: 0;
    }
    .site-callback .smb-btn {
        margin-top: 20px;
    }


    .preloader .ms-content .site-request-password-reset {
        padding: 0 30px;
    }
    .preloader .ms-content .site-request-password-reset .title {
        font-size: 27px;
    }

    .order-confirm {
        padding: 0 30px;
    }
    .order-confirm .title {
        font-size: 27px;
    }
}

@media (max-width: 767px){
    .special-offerings-topper .ti-text-wrapper {
        top: auto;
        bottom: 20px;
    }
    .preloader .ms-content .site-request-password-reset-success {
        width: 75%;
    }
    .preloader .ms-content .site-request-password-reset-success.request-password-reset {
        width: 86%;
    }
    .top-image.mainpage {
        background-position: right;
    }
    .header-wrapper__mobile .header-menu__content {
        padding: 0;
    }
    .cabinet-total .counter span {
        font-size: 36px;
    }
    .privilege-list .privilege-cards .card .title {
        font-size: 14px;
    }
    .footer .bottom-menu ul li {
        font-size: 16px;
    }
    .footer .bottom-second-menu ul li {
        font-size: 16px;
    }
    .events-topper .card .date {
        color: rgba(255, 255, 255, 0.6);
    }
    .privilege-list .privilege-cards .card {
        height: 169px;
        margin-bottom: -1px;
        border-width: 5px;
    }
    .privilege-list .privilege-cards .r1 div[class*="col-"]:nth-child(3) .card{
        padding: 20px;
    }
    .privilege-list .privilege-cards .r1 div[class*="col-"]:nth-child(5) .card{
        padding: 0px;
    }
    .privilege-list .privilege-cards .r1 div[class*="col-"]:nth-child(5) .card span{
        font-size: 11px!important;
    }
    .privilege-list .privilege-cards .r2 div[class*="col-"]:nth-child(2) .card{
        padding: 5px;
    }
    .privilege-list .privilege-cards .r2 div[class*="col-"]:nth-child(3) .card{
         padding: 20px;
    }
    .privilege-list .privilege-cards .r2 div[class*="col-"]:nth-child(4) .card{
        padding: 20px;
    }
    .top-image.mainpage {
        background-image: url(/image/background_main_mobile.png);
    }
    .cabinet-interests .interests-list .interests-list__item .row {
        width: 100%;
        flex: 100%;
    }
    .cabinet-interests .interests-list .interests-list__item:nth-child(2) .row:nth-child(2) {
        width: calc(100% + 30px);
    }
    .cabinet-interests .interests-list .interests-list__item:nth-child(2) .row:nth-child(2) .card.small,
    .cabinet-interests .interests-list .interests-list__item:nth-child(2) .row:nth-child(3) .card.small,
    .cabinet-interests .interests-list .interests-list__item:nth-child(3) .row:nth-child(2) .card.small,
    .cabinet-interests .interests-list .interests-list__item:nth-child(3) .row:nth-child(3) .card.small{
        padding-bottom: 100%;
    }

}

@media (max-width: 767px){
    .preloader .ms-content .pl-bottom .title{
        font-size: 35px;
    }
    .preloader .ms-content .pl-bottom .text {
        font-size: 19px;
        line-height: 1.2;
    }
    .preloader .ms-content .pl-bottom {
        bottom: 120px;
    }
    .preloader .ms-content .site-request-password-reset-success.request-password-reset .title {
        font-size: 25.5px;
    }
    .preloader .ms-content .site-request-password-reset-success.request-password-reset .text {
        font-size: 19px;
    }
    .preloader .ms-content .site-request-password-reset-success.request-password-reset.suc .title {
        font-size: 36px;
    }
    .preloader .ms-content .site-request-password-reset-success.request-password-reset.suc .text {
        font-size: 18.5px;
    }
    .site-request-window-inner {
        width: 100%;
        max-width: 350px;
        margin: 150px auto 200px;
    }
    .site-request-window-inner .title {
        font-size: 36px;
    }
    .site-request-window-inner .text {
        font-size: 18px;
    }
    .site-request-window-inner.callback{
        max-width: 350px;
    }
    .site-request-window-inner.callback .title {
        font-size: 29px;
    }
    .site-request-window-inner.interest .title{
        font-size: 24px;
    }
    .site-request-window-inner.interest .text{
        display: none;
    }
}
@media (max-width: 413px){
    .preloader .ms-content .pl-bottom .title{
        font-size: 32px;
    }
    .preloader .ms-content .pl-bottom .text {
        font-size: 17px;
        line-height: 1.2;
    }
    .preloader .ms-content .site-request-password-reset-success.request-password-reset .title {
        font-size: 25.5px;
    }
    .preloader .ms-content .site-request-password-reset-success.request-password-reset .text {
        font-size: 17.5px;
    }
    .preloader .ms-content .site-request-password-reset-success.request-password-reset.suc .title {
        font-size: 32px;
    }
    .preloader .ms-content .site-request-password-reset-success.request-password-reset.suc .text {
        font-size: 16.5px;
    }
    .site-request-window-inner {
        width: 100%;
        max-width: 290px;
        margin: 150px auto 200px;
    }
    .site-request-window-inner .title {
        font-size: 30px;
    }
    .site-request-window-inner .text {
        font-size: 18.5px;
    }
    .site-request-window-inner.callback{
        max-width: 290px;
    }
    .site-request-window-inner.callback .title {
        font-size: 24px;
    }
    .site-request-window-inner.interest .title{
        font-size: 19px;
    }
    .site-request-window-inner.interest .text{
        display: none;
    }
}
@media (max-width: 374px){
    .preloader .ms-content .pl-bottom .title{
        font-size: 26px;
    }
    .preloader .ms-content .pl-bottom .text {
        font-size: 14px;
        line-height: 1.2;
    }
    .preloader .ms-content .pl-bottom {
        bottom: 90px;
    }
    .preloader .ms-content .site-request-password-reset-success.request-password-reset .title {
        font-size: 25.5px;
    }
    .preloader .ms-content .site-request-password-reset-success.request-password-reset .text {
        font-size: 15px;
    }
    .preloader .ms-content .site-request-password-reset-success.request-password-reset.suc .title {
        font-size: 27px;
    }
    .preloader .ms-content .site-request-password-reset-success.request-password-reset.suc .text {
        font-size: 14px;
    }
    .site-request-window-inner {
        width: 100%;
        max-width: 290px;
        margin: 150px auto 200px;
    }
    .site-request-window-inner .title {
        font-size: 30px;
    }
    .site-request-window-inner .text {
        font-size: 17px;
    }
    .site-request-window-inner.callback{
        max-width: 290px;
    }
    .site-request-window-inner.callback .title {
        font-size: 24px;
    }
    .site-request-window-inner.interest .title{
        font-size: 19px;
    }
    .site-request-window-inner.interest .text{
        display: none;
    }
}
