@-webkit-keyframes autofill {
  to {
    color: #666;
    background: transparent;
  }
}
.preloader {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
  background-color: black;
  color: white;
  /*for video*/
  display: flex;
  align-items: center;
  /*for video*/
}
.preloader a {
  color: white;
}
.preloader .file-icon {
  position: relative;
}
.preloader .file-icon:after {
  content: "";
  width: 14px;
  height: 18px;
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  background-image: url(/image/file.png);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.preloader .big-radio .form-check {
  display: inline-block;
  margin-right: 64px;
  padding-left: 40px;
}
.preloader .big-radio .form-check:last-child {
  margin-right: 0;
}
.preloader .big-radio .form-check input[type="radio"] {
  width: 28px;
  height: 28px;
  display: inline-block;
  margin-top: -3px;
  margin-left: -40px;
  outline: none;
}
.preloader .big-radio .form-check input[type="radio"]:focus,
.preloader .big-radio .form-check input[type="radio"]:hover,
.preloader .big-radio .form-check input[type="radio"]:active {
  outline: none;
}
.preloader .big-radio .form-check input[type="radio"].is-valid ~ .form-check-label {
  color: white;
}
.preloader .big-radio .form-check input[type="radio"].is-valid ~ .form-check-label:focus,
.preloader .big-radio .form-check input[type="radio"].is-valid ~ .form-check-label:hover,
.preloader .big-radio .form-check input[type="radio"].is-valid ~ .form-check-label:active {
  outline: none;
}
.preloader .movie {
  /*width: auto;
        height: auto;
        min-width: 100%;
        min-height: 100%;*/
  width: 100%;
}
.preloader .ms-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* all auth/reg page */
  /* signin page*/
  /* signin page*/
}
.preloader .ms-content .pl-topper {
  background-color: #000000;
  opacity: 0.6;
  height: 100px;
  display: flex;
  align-items: center;
}
.preloader .ms-content .pl-topper.light {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: transparent;
  opacity: 1;
}
.preloader .ms-content .pl-topper .logo {
  display: inline-block;
  text-transform: none;
}
.preloader .ms-content .pl-topper .logo .ls-wrapper {
  color: white;
  display: block;
  text-align: center;
  outline: none;
}
.preloader .ms-content .pl-topper .logo .ls-wrapper:hover {
  text-decoration: none;
  outline: none;
}
.preloader .ms-content .pl-topper .logo .ls-wrapper:focus,
.preloader .ms-content .pl-topper .logo .ls-wrapper:active {
  outline: none;
}
.preloader .ms-content .pl-topper .logo .ls-wrapper img {
  max-width: 182px;
}
.preloader .ms-content .pl-topper .logo .ls-wrapper .slogan {
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 0.5px;
  margin-top: 5px;
  font-weight: 600;
}
.preloader .ms-content .pl-bottom {
  position: absolute;
  width: 100%;
  bottom: 100px;
}
.preloader .ms-content .pl-bottom .title {
  font-size: 61px;
  font-family: BMWGlobal_Pro_thin;
  text-transform: uppercase;
}
.preloader .ms-content .pl-bottom .text {
  font-size: 19px;
  font-family: BMWGlobal_Pro_thin;
  text-transform: uppercase;
}
.preloader .ms-content .pl-bottom .sign {
  background-color: #656364;
  padding: 7px 107px;
  color: white;
  margin-top: 34px;
  display: inline-block;
}
.preloader .ms-content .pl-bottom .sign:hover {
  text-decoration: none;
}
.preloader .ms-content .preload-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.preloader .ms-content .backgrond {
  background-color: #000000;
  opacity: 0.6;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.preloader .ms-content .site-signup .form-control,
.preloader .ms-content .site-signin .form-control,
.preloader .ms-content .site-request-password-reset .form-control,
.preloader .ms-content .site-bug-messages .form-control {
  background-color: transparent!important;
  color: white;
  border: none;
  border-bottom: 1px solid white;
  border-radius: 0;
  outline: none!important;
  padding-left: 0;
  font-size: 15px;
}
.preloader .ms-content .site-signup .form-control:-webkit-autofill,
.preloader .ms-content .site-signin .form-control:-webkit-autofill,
.preloader .ms-content .site-request-password-reset .form-control:-webkit-autofill,
.preloader .ms-content .site-bug-messages .form-control:-webkit-autofill {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
  -webkit-appearance: none;
  -webkit-text-fill-color: white !important;
  color: white !important;
  -webkit-box-shadow: inset 0 0 0 50px transparent!important;
}
.preloader .ms-content .site-signup .form-control:focus,
.preloader .ms-content .site-signin .form-control:focus,
.preloader .ms-content .site-request-password-reset .form-control:focus,
.preloader .ms-content .site-bug-messages .form-control:focus,
.preloader .ms-content .site-signup .form-control:hover,
.preloader .ms-content .site-signin .form-control:hover,
.preloader .ms-content .site-request-password-reset .form-control:hover,
.preloader .ms-content .site-bug-messages .form-control:hover {
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none!important;
  box-shadow: none;
}
.preloader .ms-content .site-signup .form-control.is-valid,
.preloader .ms-content .site-signin .form-control.is-valid,
.preloader .ms-content .site-request-password-reset .form-control.is-valid,
.preloader .ms-content .site-bug-messages .form-control.is-valid {
  border: none;
  border-bottom: 1px solid white;
  outline: none!important;
  background-image: none;
}
.preloader .ms-content .site-signup .form-control.is-valid:focus,
.preloader .ms-content .site-signin .form-control.is-valid:focus,
.preloader .ms-content .site-request-password-reset .form-control.is-valid:focus,
.preloader .ms-content .site-bug-messages .form-control.is-valid:focus {
  box-shadow: none;
}
.preloader .ms-content .site-signin {
  width: 100%;
  max-width: 420px;
  margin: 0 auto;
}
.preloader .ms-content .site-signin .signin-wrapper {
  font-size: 33px;
  text-transform: uppercase;
  display: inline-block;
}
.preloader .ms-content .site-signin .signup-wrapper {
  font-size: 19px;
  display: inline-block;
  float: right;
  padding: 10px 0;
}
.preloader .ms-content .site-signin .signup-wrapper .signup {
  border-bottom: 1px solid white;
  line-height: 1;
}
.preloader .ms-content .site-signin .signup-wrapper .signup:hover {
  text-decoration: none;
}
.preloader .ms-content .site-signin .signup-wrapper .signup:focus,
.preloader .ms-content .site-signin .signup-wrapper .signup:hover,
.preloader .ms-content .site-signin .signup-wrapper .signup:active {
  outline: none;
}
.preloader .ms-content .site-signin #sign-in {
  margin: 40px 0;
  display: block;
}
.preloader .ms-content .site-signin #sign-in .smb-btn {
  background-color: #656364;
  color: white;
  width: 100%;
  border: none;
  padding: 9px 0;
  margin-top: 24px;
}
.preloader .ms-content .site-signin #sign-in .smb-btn:focus {
  outline: none;
}
.preloader .ms-content .site-signin .forgot-password {
  display: inline-block;
  border-bottom: 1px solid white;
}
.preloader .ms-content .site-signin .forgot-password a:hover {
  text-decoration: none;
}
.preloader .ms-content .site-signin .forgot-password a:focus,
.preloader .ms-content .site-signin .forgot-password a:hover,
.preloader .ms-content .site-signin .forgot-password a:active {
  outline: none;
}
.preloader .ms-content .site-signin .cannot-enter {
  display: inline-block;
  float: right;
  border-bottom: 1px solid white;
}
.preloader .ms-content .site-signin .cannot-enter a:hover {
  text-decoration: none;
}
.preloader .ms-content .site-signin .cannot-enter a:focus,
.preloader .ms-content .site-signin .cannot-enter a:hover,
.preloader .ms-content .site-signin .cannot-enter a:active {
  outline: none;
}
.preloader .ms-content .site-signup {
  width: 100%;
  max-width: 670px;
  margin: 0 auto;
}
.preloader .ms-content .site-signup .signin-wrapper {
  font-size: 33px;
  text-transform: uppercase;
  display: inline-block;
}
.preloader .ms-content .site-signup .signup-wrapper {
  font-size: 19px;
  display: inline-block;
  float: right;
  padding: 10px 0;
}
.preloader .ms-content .site-signup .signup-wrapper .signup {
  border-bottom: 1px solid white;
  line-height: 1;
}
.preloader .ms-content .site-signup .signup-wrapper .signup:hover {
  text-decoration: none;
}
.preloader .ms-content .site-signup .signup-wrapper .signup:focus,
.preloader .ms-content .site-signup .signup-wrapper .signup:hover,
.preloader .ms-content .site-signup .signup-wrapper .signup:active {
  outline: none;
}
.preloader .ms-content .site-signup #sign-up {
  margin: 40px 0 0;
  display: block;
  /*.custom-control.custom-radio{
                    display: inline-block;
                    margin-right: 10px;
                }*/
}
.preloader .ms-content .site-signup #sign-up .custom-control-input.is-valid ~ .custom-control-label {
  color: white;
}
.preloader .ms-content .site-signup #sign-up .was-validated .custom-control-input:valid ~ .custom-control-label::before,
.preloader .ms-content .site-signup #sign-up .custom-control-input.is-valid ~ .custom-control-label::before {
  border-color: white;
}
.preloader .ms-content .site-signup #sign-up .was-validated .custom-control-input:valid:checked ~ .custom-control-label::before,
.preloader .ms-content .site-signup #sign-up .custom-control-input.is-valid:checked ~ .custom-control-label::before {
  border-color: grey!important;
  background-color: grey!important;
  outline: none!important;
  box-shadow: none;
}
.preloader .ms-content .site-signup #sign-up .custom-control.custom-radio {
  display: block;
  float: left;
  margin-right: 20px;
}
.preloader .ms-content .site-signup #sign-up .custom-control-input:checked ~ .custom-control-label::before {
  border-color: white;
  background-color: white;
}
.preloader .ms-content .site-signup #sign-up .phone-title {
  font-size: 11px;
  position: absolute;
  top: -10px;
}
.preloader .ms-content .site-signup #sign-up .connection-title {
  display: block;
  float: left;
  padding-right: 2rem;
  line-height: 1.25;
}
.preloader .ms-content .site-signup #sign-up .connection-field {
  display: block;
  float: left;
  padding-top: 10px;
}
.preloader .ms-content .site-signup #sign-up .agreement-wrapper {
  padding: 5px 0;
}
.preloader .ms-content .site-signup #sign-up .agreement-wrapper.not-checked {
  outline: 2px solid #dc3545;
}
.preloader .ms-content .site-signup #sign-up .agreement-wrapper input {
  display: block;
  float: left;
  width: 30px;
  height: 30px;
  margin-right: 20px;
  outline: none;
}
.preloader .ms-content .site-signup #sign-up .agreement-wrapper input:focus,
.preloader .ms-content .site-signup #sign-up .agreement-wrapper input:hover,
.preloader .ms-content .site-signup #sign-up .agreement-wrapper input:active {
  outline: none;
}
.preloader .ms-content .site-signup #sign-up .agreement-wrapper a {
  border-bottom: 1px solid white;
  outline: none;
}
.preloader .ms-content .site-signup #sign-up .agreement-wrapper a:hover {
  text-decoration: none;
}
.preloader .ms-content .site-signup #sign-up .agreement-wrapper a:focus,
.preloader .ms-content .site-signup #sign-up .agreement-wrapper a:hover,
.preloader .ms-content .site-signup #sign-up .agreement-wrapper a:active {
  outline: none;
}
.preloader .ms-content .site-signup #sign-up .smb-btn {
  background-color: #656364;
  color: white;
  width: 100%;
  max-width: 420px;
  border: none;
  padding: 9px 0;
  margin: 40px auto 0;
}
.preloader .ms-content .site-signup #sign-up .smb-btn:focus {
  outline: none;
}
.preloader .ms-content .site-signup-success {
  width: 100%;
  max-width: 420px;
  margin: 0 auto;
}
.preloader .ms-content .site-signup-success .title {
  font-size: 28px;
  line-height: 1.2;
  margin-bottom: 30px;
}
.preloader .ms-content .site-signup-success .text {
  margin-bottom: 30px;
}
.preloader .ms-content .site-signup-success .smb-btn {
  background-color: #656364;
  color: white;
  width: 100%;
  max-width: 420px;
  border: none;
  padding: 9px 0;
  margin: 20px auto 0;
  display: block;
  text-align: center;
}
.preloader .ms-content .site-signup-success .smb-btn:focus {
  outline: none;
  text-decoration: none;
}
.preloader .ms-content .site-signup-success .smb-btn:hover,
.preloader .ms-content .site-signup-success .smb-btn:active {
  text-decoration: none;
}
.preloader .ms-content .site-request-password-reset-success {
  width: 100%;
  max-width: 420px;
  margin: 0 auto;
}
.preloader .ms-content .site-request-password-reset-success .title {
  font-size: 28px;
  line-height: 1.2;
  margin-bottom: 30px;
  text-align: left;
}
.preloader .ms-content .site-request-password-reset-success .title.centered {
  text-align: center;
}
.preloader .ms-content .site-request-password-reset-success .text {
  margin-bottom: 30px;
}
.preloader .ms-content .site-request-password-reset-success .smb-btn {
  background-color: #656364;
  color: white;
  width: 100%;
  max-width: 420px;
  border: none;
  padding: 9px 0;
  margin: 20px auto 0;
  display: block;
  text-align: center;
}
.preloader .ms-content .site-request-password-reset-success .smb-btn:focus {
  outline: none;
  text-decoration: none;
}
.preloader .ms-content .site-request-password-reset-success .smb-btn:hover,
.preloader .ms-content .site-request-password-reset-success .smb-btn:active {
  text-decoration: none;
}
.preloader .ms-content .site-request-password-reset-success.vin {
  max-width: 425px;
}
.preloader .ms-content .site-request-password-reset-success.vin .title {
  font-size: 29px;
}
.preloader .ms-content .site-request-password-reset-success.vin .text {
  font-size: 15px;
}
.preloader .ms-content .site-request-password-reset-success.email {
  max-width: 425px;
}
.preloader .ms-content .site-request-password-reset-success.email .title {
  font-size: 27px;
}
.preloader .ms-content .site-request-password-reset-success.email .text {
  font-size: 15px;
}
.preloader .ms-content .site-request-password-reset-success.phone {
  max-width: 425px;
}
.preloader .ms-content .site-request-password-reset-success.phone .title {
  font-size: 25px;
}
.preloader .ms-content .site-request-password-reset-success.phone .text {
  font-size: 15px;
}
.preloader .ms-content .site-request-password-reset-success.registrated {
  max-width: 370px;
}
.preloader .ms-content .site-request-password-reset-success.registrated .title {
  font-size: 27.75px;
}
.preloader .ms-content .site-request-password-reset-success.registrated .text {
  font-size: 15px;
}
.preloader .ms-content .site-request-password-reset-success.request-password-reset {
  max-width: 367px;
}
.preloader .ms-content .site-request-password-reset-success.request-password-reset .title {
  font-size: 25.5px;
}
.preloader .ms-content .site-request-password-reset-success.request-password-reset .text {
  font-size: 15px;
}
.preloader .ms-content .site-request-password-reset-success.bug-messages {
  max-width: 332px;
}
.preloader .ms-content .site-request-password-reset-success.bug-messages .title {
  font-size: 23px;
}
.preloader .ms-content .site-request-password-reset-success.bug-messages .text {
  font-size: 17px;
}
.preloader .ms-content .site-request-password-reset {
  width: 100%;
  max-width: 420px;
  margin: 0 auto;
  z-index: 2;
}
.preloader .ms-content .site-request-password-reset .title {
  font-size: 33px;
  line-height: 1.2;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.preloader .ms-content .site-request-password-reset .text {
  margin-bottom: 60px;
}
.preloader .ms-content .site-request-password-reset .smb-btn {
  background-color: #656364;
  color: white;
  width: 100%;
  max-width: 420px;
  border: none;
  padding: 9px 0;
  margin: 40px auto 0;
  display: block;
  text-align: center;
}
.preloader .ms-content .site-request-password-reset .smb-btn:focus {
  outline: none;
}
.preloader .ms-content .site-bug-messages {
  width: 100%;
  max-width: 420px;
  margin: 0 auto;
  z-index: 2;
  /* лютый писец */
}
.preloader .ms-content .site-bug-messages .title {
  font-size: 33px;
  line-height: 1.2;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.preloader .ms-content .site-bug-messages .text {
  margin-bottom: 60px;
}
.preloader .ms-content .site-bug-messages .smb-btn {
  background-color: #656364;
  color: white;
  width: 100%;
  max-width: 420px;
  border: none;
  padding: 9px 0;
  display: block;
  text-align: center;
}
.preloader .ms-content .site-bug-messages .smb-btn:focus {
  outline: none;
}
.preloader .ms-content .site-bug-messages .upload-kit {
  border-bottom: 1px solid white;
}
.preloader .ms-content .site-bug-messages .upload-kit .files {
  width: 100%;
}
.preloader .ms-content .site-bug-messages .upload-kit .files .upload-kit-item.done.image {
  border: none;
  height: 18px;
  width: 100%;
}
.preloader .ms-content .site-bug-messages .upload-kit .files .upload-kit-item.done.image img {
  display: none;
}
.preloader .ms-content .site-bug-messages .upload-kit .files .upload-kit-item.done.image .name {
  display: inline-block;
  max-width: calc(100% - 40px);
  overflow: hidden;
}
.preloader .ms-content .site-bug-messages .upload-kit .files .upload-kit-item.done.image .glyphicon.glyphicon-remove-circle.remove {
  display: block;
  background: transparent;
  margin: 0;
  width: 24px;
  height: 24px;
  position: absolute;
  right: 5px;
  left: auto;
  top: 0;
}
.preloader .ms-content .site-bug-messages .upload-kit .files .upload-kit-item.done.image .glyphicon.glyphicon-remove-circle.remove:before {
  content: "\e088";
  font-size: 23px;
  position: absolute;
  left: 0;
  top: 0;
}
.preloader .ms-content .site-bug-messages .upload-kit .upload-kit-input {
  height: 10px;
  border: none;
  width: 100%;
}
.preloader .ms-content .site-bug-messages .upload-kit .upload-kit-input:before {
  content: "Скриншот";
  font-size: 13px;
  position: absolute;
  top: -5px;
  opacity: 0.8;
}
.preloader .ms-content .site-bug-messages .upload-kit .upload-kit-input .glyphicon-plus-sign:before {
  content: "";
  width: 14px;
  height: 18px;
  display: block;
  position: absolute;
  top: 16px;
  right: 10px;
  background-image: url(/image/file.png);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.preloader .ms-content .site-bug-messages .upload-kit .upload-kit-input .glyphicon-exclamation-sign {
  width: 100%;
  text-align: right;
}
.preloader .ms-content .site-bug-messages .upload-kit .upload-kit-input .glyphicon-exclamation-sign:before {
  display: none;
}
.preloader .ms-content .site-bug-messages .upload-kit .upload-kit-input .glyphicon-exclamation-sign:after {
  content: "Допустимый формат изображения: jpg, png, jpeg";
  position: absolute;
  top: 26px;
  left: 0px;
  display: inline-block;
  width: 200%;
  color: #dc3545;
  font-family: "BMWGlobal_Pro_light";
  font-size: 13px;
  text-align: left;
}
.preloader .ms-content .site-bug-messages .upload-kit .progress {
  display: none!important;
}
#reset-password-form .agreement-wrapper {
  padding: 5px 0;
}
#reset-password-form .agreement-wrapper.not-checked {
  outline: 2px solid #dc3545;
}
#reset-password-form .agreement-wrapper input {
  display: block;
  float: left;
  width: 20px;
  height: 20px;
  margin-right: 20px;
  outline: none;
}
#reset-password-form .agreement-wrapper input:focus,
#reset-password-form .agreement-wrapper input:hover,
#reset-password-form .agreement-wrapper input:active {
  outline: none;
}
#reset-password-form .agreement-wrapper a {
  border-bottom: 1px solid white;
  outline: none;
}
#reset-password-form .agreement-wrapper a:hover {
  text-decoration: none;
}
#reset-password-form .agreement-wrapper a:focus,
#reset-password-form .agreement-wrapper a:hover,
#reset-password-form .agreement-wrapper a:active {
  outline: none;
}
