@-webkit-keyframes autofill {
    to {
        color: #666;
        background: transparent;
    }
}
.preloader{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
    background-color: black;
    color: white;
    /*for video*/
    display: flex;
    align-items: center;
    /*for video*/

    a{
        color: white;
    }
    .file-icon{
        position: relative;

        &:after{
            content: "";
            width: 14px;
            height: 18px;
            display: block;
            position: absolute;
            top: 10px;
            right: 10px;
            background-image: url(/image/file.png);
            background-position: center;
            background-repeat: no-repeat;
            cursor: pointer;
        }
    }

    .big-radio{
        .form-check{
            display: inline-block;
            margin-right: 64px;
            padding-left: 40px;

            &:last-child{
                margin-right: 0;
            }

            input[type="radio"] {
                width: 28px;
                height: 28px;
                display: inline-block;
                margin-top: -3px;
                margin-left: -40px;
                outline: none;

                &:focus,&:hover,&:active{
                    outline: none;
                }

                &.is-valid ~.form-check-label {
                    color: white;

                    &:focus,&:hover,&:active{
                        outline: none;
                    }
                }

            }
        }
    }

    .movie{
        /*width: auto;
        height: auto;
        min-width: 100%;
        min-height: 100%;*/
        width: 100%;
    }

    .ms-content{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        .pl-topper{
            background-color: rgb(0, 0, 0);
            opacity: 0.6;
            height: 100px;
            display: flex;
            align-items: center;

            &.light{
                position: absolute;
                top: 0;
                width: 100%;
                background-color: transparent;
                opacity: 1;
            }

            .logo{
                display: inline-block;
                text-transform: none;

                .ls-wrapper{
                    color:white;
                    display: block;
                    text-align: center;
                    outline: none;

                    &:hover {
                        text-decoration: none;
                        outline: none;
                    }
                    &:focus,&:active{
                        outline: none;
                    }

                    img{
                        max-width: 182px;
                    }
                    .slogan{
                        text-transform: uppercase;
                        font-size: 11px;
                        letter-spacing: 0.5px;
                        margin-top: 5px;
                        font-weight: 600;
                    }
                }
            }
        }
        .pl-bottom{
            position: absolute;
            width: 100%;
            bottom: 100px;

            .title{
                font-size: 61px;
                font-family: BMWGlobal_Pro_thin;
                text-transform: uppercase;
            }
            .text{
                font-size: 19px;
                font-family: BMWGlobal_Pro_thin;
                text-transform: uppercase;
            }
            .sign{
                background-color: #656364;
                padding: 7px 107px;
                color: white;
                margin-top: 34px;
                display: inline-block;

                &:hover{
                    text-decoration: none;
                }
            }
        }
        .preload-wrapper{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
        }



        /* all auth/reg page */
        .backgrond{
            background-color: #000000;
            opacity: 0.6;
            width: 100%;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
        .site-signup, .site-signin, .site-request-password-reset, .site-bug-messages{
            .form-control{
                background-color: transparent!important;
                color: white;
                border: none;
                border-bottom: 1px solid white;
                border-radius: 0;
                outline: none!important;
                padding-left: 0;
                font-size: 15px;

                &:-webkit-autofill {
                    -webkit-animation-name: autofill;
                    -webkit-animation-fill-mode: both;
                    -webkit-appearance: none;
                    -webkit-text-fill-color: white !important;
                    color: white !important;
                    -webkit-box-shadow: inset 0 0 0 50px transparent!important;
                }
                &:focus, &:hover{
                    border-top: none;
                    border-left: none;
                    border-right: none;
                    outline: none!important;
                    box-shadow: none;
                }
                &.is-valid{
                    border: none;
                    border-bottom: 1px solid white;
                    outline: none!important;
                    background-image: none;

                    &:focus{
                        box-shadow: none;
                    }
                }
            }
        }

        /* signin page*/
        .site-signin{
            width: 100%;
            max-width: 420px;
            margin: 0 auto;

            .signin-wrapper{
                font-size: 33px;
                text-transform: uppercase;
                display: inline-block;
            }
            .signup-wrapper{
                font-size: 19px;
                display: inline-block;
                float: right;
                padding: 10px 0;

                .signup{
                    border-bottom: 1px solid white;
                    line-height: 1;

                    &:hover{
                        text-decoration: none;
                    }
                    &:focus,&:hover,&:active{
                        outline: none;
                    }
                }
            }
            #sign-in{
                margin: 40px 0;
                display: block;

                .smb-btn{
                    background-color: rgb(101, 99, 100);
                    color: white;
                    width: 100%;
                    border: none;
                    padding: 9px 0;
                    margin-top: 24px;

                    &:focus {
                        outline: none;
                    }
                }
            }
            .forgot-password{
                display: inline-block;
                border-bottom: 1px solid white;

                a{
                    &:hover{
                        text-decoration: none;
                    }
                    &:focus,&:hover,&:active{
                        outline: none;
                    }
                }
            }
            .cannot-enter{
                display: inline-block;
                float: right;
                border-bottom: 1px solid white;

                a{
                    &:hover{
                        text-decoration: none;
                    }
                    &:focus,&:hover,&:active{
                        outline: none;
                    }
                }
            }
        }

        /* signin page*/
        .site-signup{
            width: 100%;
            max-width: 670px;
            margin: 0 auto;

            .signin-wrapper{
                font-size: 33px;
                text-transform: uppercase;
                display: inline-block;
            }
            .signup-wrapper{
                font-size: 19px;
                display: inline-block;
                float: right;
                padding: 10px 0;

                .signup{
                    border-bottom: 1px solid white;
                    line-height: 1;

                    &:hover{
                        text-decoration: none;
                    }
                    &:focus,&:hover,&:active{
                        outline: none;
                    }
                }
            }
            #sign-up{
                margin: 40px 0 0;
                display: block;

                .custom-control-input.is-valid ~ .custom-control-label {
                    color: white;
                }
                .was-validated .custom-control-input:valid ~ .custom-control-label::before,
                .custom-control-input.is-valid ~ .custom-control-label::before {
                    border-color: white;
                }
                .was-validated .custom-control-input:valid:checked ~ .custom-control-label::before,
                .custom-control-input.is-valid:checked ~ .custom-control-label::before {
                    border-color: grey!important;
                    background-color: grey!important;
                    outline: none!important;
                    box-shadow: none;
                }
                .custom-control.custom-radio{
                    display: block;
                    float: left;
                    margin-right: 20px;
                }
                .custom-control-input:checked ~ .custom-control-label::before {
                    border-color: white;
                    background-color: white;
                }
                .phone-title{
                    font-size: 11px;
                    position: absolute;
                    top: -10px;
                }
                .connection-title{
                    display: block;
                    float: left;
                    padding-right: 2rem;
                    line-height: 1.25;
                }
                .connection-field{
                    display: block;
                    float: left;
                    padding-top: 10px;
                }
                /*.custom-control.custom-radio{
                    display: inline-block;
                    margin-right: 10px;
                }*/
                .agreement-wrapper{
                    padding: 5px 0;

                    &.not-checked{
                        outline: 2px solid #dc3545;
                    }
                    input{
                        display: block;
                        float: left;
                        width: 30px;
                        height: 30px;
                        margin-right: 20px;
                        outline: none;

                        &:focus,&:hover,&:active{
                            outline: none;
                        }
                    }
                    a{
                        border-bottom: 1px solid white;
                        outline: none;

                        &:hover{
                            text-decoration: none;
                        }
                        &:focus,&:hover,&:active{
                            outline: none;
                        }
                    }
                }
                .smb-btn{
                    background-color: rgb(101, 99, 100);
                    color: white;
                    width: 100%;
                    max-width: 420px;
                    border: none;
                    padding: 9px 0;
                    margin: 40px auto 0;

                    &:focus {
                        outline: none;
                    }
                }
            }
        }

        .site-signup-success{
            width: 100%;
            max-width: 420px;
            margin: 0 auto;

            .title{
                font-size: 28px;
                line-height: 1.2;
                margin-bottom: 30px;
            }
            .text{
                margin-bottom: 30px;
            }
            .smb-btn{
                background-color: rgb(101, 99, 100);
                color: white;
                width: 100%;
                max-width: 420px;
                border: none;
                padding: 9px 0;
                margin: 20px auto 0;
                display: block;
                text-align: center;

                &:focus {
                    outline: none;
                    text-decoration: none;
                }
                &:hover,&:active{
                    text-decoration: none;
                }
            }
        }

        .site-request-password-reset-success{
            width: 100%;
            max-width: 420px;
            margin: 0 auto;

            .title{
                font-size: 28px;
                line-height: 1.2;
                margin-bottom: 30px;
                text-align: left;

                &.centered{
                    text-align: center;
                }
            }
            .text{
                margin-bottom: 30px;
            }
            .smb-btn{
                background-color: rgb(101, 99, 100);
                color: white;
                width: 100%;
                max-width: 420px;
                border: none;
                padding: 9px 0;
                margin: 20px auto 0;
                display: block;
                text-align: center;

                &:focus {
                    outline: none;
                    text-decoration: none;
                }
                &:hover,&:active{
                    text-decoration: none;
                }
            }

            &.vin{
                max-width: 425px;

                .title{
                    font-size: 29px;
                }
                .text{
                    font-size: 15px;
                }
            }
            &.email{
                max-width: 425px;

                .title{
                    font-size: 27px;
                }
                .text{
                    font-size: 15px;
                }
            }
            &.phone{
                max-width: 425px;

                .title{
                    font-size: 25px;
                }
                .text{
                    font-size: 15px;
                }
            }
            &.registrated{
                max-width: 370px;

                .title{
                    font-size: 27.75px;
                }
                .text{
                    font-size: 15px;
                }
            }
            &.request-password-reset{
                max-width: 367px;

                .title{
                    font-size: 25.5px;
                }
                .text{
                    font-size: 15px;
                }
            }
            &.bug-messages{
                max-width: 332px;

                .title{
                    font-size: 23px;
                }
                .text{
                    font-size: 17px;
                }
            }
        }

        .site-request-password-reset{
            width: 100%;
            max-width: 420px;
            margin: 0 auto;
            z-index: 2;

            .title{
                font-size: 33px;
                line-height: 1.2;
                margin-bottom: 30px;
                text-transform: uppercase;
            }
            .text{
                margin-bottom: 60px;
            }
            .smb-btn{
                background-color: rgb(101, 99, 100);
                color: white;
                width: 100%;
                max-width: 420px;
                border: none;
                padding: 9px 0;
                margin: 40px auto 0;
                display: block;
                text-align: center;

                &:focus {
                    outline: none;
                }
            }
        }

        .site-bug-messages{
            width: 100%;
            max-width: 420px;
            margin: 0 auto;
            z-index: 2;

            .title{
                font-size: 33px;
                line-height: 1.2;
                margin-bottom: 30px;
                text-transform: uppercase;
            }
            .text{
                margin-bottom: 60px;
            }
            .smb-btn{
                background-color: rgb(101, 99, 100);
                color: white;
                width: 100%;
                max-width: 420px;
                border: none;
                padding: 9px 0;
                display: block;
                text-align: center;

                &:focus {
                    outline: none;
                }
            }

            /* лютый писец */
            .upload-kit{
                border-bottom: 1px solid white;

                .files{
                    width: 100%;

                    .upload-kit-item.done.image{
                        border: none;
                        height: 18px;
                        width: 100%;

                        img{
                            display: none;
                        }
                        .name{
                            display: inline-block;
                            max-width: calc(100% - 40px);
                            overflow: hidden;
                        }
                        .glyphicon.glyphicon-remove-circle.remove{
                            display: block;
                            background: transparent;
                            margin: 0;
                            width: 24px;
                            height: 24px;
                            position: absolute;
                            right: 5px;
                            left: auto;
                            top: 0;

                            &:before{
                                content: "\e088";
                                font-size: 23px;
                                position: absolute;
                                left: 0;
                                top: 0;
                            }
                        }


                    }
                }

                .upload-kit-input{
                    height: 10px;
                    border: none;
                    width: 100%;

                    &:before{
                        content: "Скриншот";
                        font-size: 13px;
                        position: absolute;
                        top: -5px;
                        opacity: 0.8;
                    }

                    .glyphicon-plus-sign:before {
                        content: "";
                        width: 14px;
                        height: 18px;
                        display: block;
                        position: absolute;
                        top: 16px;
                        right: 10px;
                        background-image: url(/image/file.png);
                        background-position: center;
                        background-repeat: no-repeat;
                        cursor: pointer;
                    }
                    .glyphicon-exclamation-sign{
                        width: 100%;
                        text-align: right;

                        &:before {
                            display: none;
                        }
                        &:after {
                            content: "Допустимый формат изображения: jpg, png, jpeg";
                            position: absolute;
                            top: 26px;
                            left: 0px;
                            display: inline-block;
                            width: 200%;
                            color: #dc3545;
                            font-family: "BMWGlobal_Pro_light";
                            font-size: 13px;
                            text-align: left;
                        }
                    }
                }
                .progress{
                    display: none!important;
                }
            }

        }
    }
}
#reset-password-form{
    .agreement-wrapper{
        padding: 5px 0;

        &.not-checked{
            outline: 2px solid #dc3545;
        }
        input{
            display: block;
            float: left;
            width: 20px;
            height: 20px;
            margin-right: 20px;
            outline: none;

            &:focus,&:hover,&:active{
                outline: none;
            }
        }
        a{
            border-bottom: 1px solid white;
            outline: none;

            &:hover{
                text-decoration: none;
            }
            &:focus,&:hover,&:active{
                outline: none;
            }
        }
    }
}