.privilege-topper {
  height: 748px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  font-family: "BMWGlobal_Pro_thin";
  background-image: url('/image/A0224026.png');
}
.privilege-topper .ti-text-wrapper {
  color: white;
  position: absolute;
  left: 0;
  right: 0;
  top: 74px;
}
.privilege-topper .ti-text-wrapper .title {
  font-size: 47px;
  line-height: 1;
}
.privilege-topper .down-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 40px;
}
.privilege-topper .down-wrapper .down {
  display: inline-block;
  border: 1px solid white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: white;
  padding-top: 16px;
}
.privilege-topper .down-wrapper .down:after {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(/image/arrow_down.png);
  background-repeat: no-repeat;
  background-position: center;
}
.privilege-list {
  margin-bottom: 90px;
}
.privilege-list h2 {
  margin: 90px 0 60px;
}
.privilege-list .privilege-cards {
  margin-bottom: 30px;
  background-image: url(/image/image_2019_06_25T09_02_23_478Z2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.privilege-list .privilege-cards .row {
  margin-right: -9px;
  margin-left: -9px;
}
.privilege-list .privilege-cards div[class*="col-"] {
  padding: 0px;
}
.privilege-list .privilege-cards .card {
  background-color: transparent;
  border: 10px solid white;
  border-radius: 0;
  height: 248px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.privilege-list .privilege-cards .card .title {
  font-size: 21px;
  /*font-family: MyriadPro;*/
  padding: 0px 15px;
  color: white;
  text-align: center;
  width: 100%;
  line-height: 1.4;
}
.privilege-list .dealer {
  font-size: 19px;
  color: #454545;
}
.privilege-list .dealer a {
  color: #454545;
  border-bottom: 1px solid #454545;
  line-height: 1;
}
.privilege-list .dealer a:hover {
  text-decoration: none;
}
