.special-offerings-topper {
  height: 748px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  font-family: "BMWGlobal_Pro_thin";
  background-image: url('/image/A_V_2898.png');
}
.special-offerings-topper .ti-text-wrapper {
  color: white;
  position: absolute;
  left: 0;
  right: 0;
  top: 74px;
}
.special-offerings-topper .ti-text-wrapper .title {
  font-size: 47px;
  line-height: 1;
}
.special-offerings-topper .down-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 40px;
}
.special-offerings-topper .down-wrapper .down {
  display: inline-block;
  border: 1px solid white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: white;
  padding-top: 16px;
}
.special-offerings-topper .down-wrapper .down:after {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(/image/arrow_down.png);
  background-repeat: no-repeat;
  background-position: center;
}
.special-offerings-list {
  margin-bottom: 100px;
}
.special-offerings-list h2 {
  font-size: 39px;
  margin: 60px 0;
}
.special-offerings-list .so-items .card {
  border: none;
  margin-bottom: 60px;
}
.special-offerings-list .so-items .card:hover {
  text-decoration: none;
}
.special-offerings-list .so-items .card.not-active .so-item__image {
  pointer-events: none;
}
.special-offerings-list .so-items .card.not-active .so-item__image :before {
  content: '';
  position: absolute;
  left: -1px;
  right: -1px;
  top: -1px;
  bottom: -1px;
  background: white;
  opacity: 0.75;
}
.special-offerings-list .so-items .card.not-active .title {
  pointer-events: none;
}
.special-offerings-list .so-items .card.not-active .more {
  pointer-events: none;
}
.special-offerings-list .so-items .card .img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  height: 356px;
  display: block;
}
.special-offerings-list .so-items .card .title {
  font-size: 29px;
  margin-top: 30px;
  margin-bottom: 20px;
  line-height: 1.2;
  text-decoration: none;
  display: block;
}
.special-offerings-list .so-items .card .text {
  color: #999999;
  height: 140px;
  overflow: hidden;
}
.special-offerings-list .so-items .card .more {
  background-color: #666364;
  padding: 10px 20px;
  color: white;
  display: block;
  margin-top: 20px;
  text-align: center;
  max-width: 350px;
  width: 100%;
}
.special-offerings-list .so-items .card .more:hover {
  text-decoration: none;
}
.special-offerings-list #infscr-loading {
  width: 100%;
  text-align: center;
}
.special-offerings-list .pagination {
  margin-top: 24px;
}
.special-offerings-list .pagination .next {
  width: 100%;
  text-align: center;
}
.special-offerings-list .pagination .more {
  background-color: #666364;
  padding: 10px;
  color: white;
  display: block;
  max-width: 320px;
  width: 100%;
  margin: auto;
}
.special-offerings-list .pagination .more:hover {
  text-decoration: none;
}
.special-offerings-card {
  margin-bottom: 85px;
}
.special-offerings-card h1 {
  margin: 40px 0 60px 0px;
  font-size: 33px;
  line-height: 1;
}
.special-offerings-card .special-offerings-card__row .slick-dots {
  text-align: left;
}
.special-offerings-card .special-offerings-card__row .slick-dots li button:before {
  font-size: 11px;
}
.special-offerings-card .image {
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.special-offerings-card .text-wrapper .text {
  overflow-y: auto;
  overflow-x: hidden;
  height: 469px;
  margin-bottom: 64px;
}
.special-offerings-card .text-wrapper .app-btn {
  background-color: #666364;
  border: none;
  width: 100%;
  padding: 14px 0;
  color: white;
  display: block;
  text-align: center;
}
.special-offerings-card .text-wrapper .app-btn .Rectangle_4_copy_2 {
  position: absolute;
  left: 1044px;
  top: 827px;
  width: 320px;
  height: 43px;
  z-index: 15;
}
.special-offerings-card .text-wrapper .app-btn:hover {
  text-decoration: none;
}
.special-offerings-other {
  margin-bottom: 130px;
}
.special-offerings-other h2 {
  margin-bottom: 40px;
}
.special-offerings-other .me-item {
  height: 415px;
  background-color: #fefefe;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
  display: block;
}
.special-offerings-other .me-item:hover {
  text-decoration: none;
}
.special-offerings-other .me-item .image {
  height: 180px;
  padding: 18px 30px;
  font-size: 15px;
  color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.special-offerings-other .me-item .bottom-block {
  height: calc(100% - 180px);
  padding: 18px 30px;
  color: black;
}
.special-offerings-other .me-item .bottom-block .title {
  font-size: 27px;
  line-height: 1;
  margin-bottom: 30px;
  max-height: 89px;
  overflow: hidden;
  display: block;
}
.special-offerings-other .me-item .bottom-block .title:hover {
  text-decoration: none;
}
.special-offerings-other .me-item .bottom-block .text {
  color: #999999;
  font-size: 15px;
  max-height: 78px;
  overflow: hidden;
  line-height: 1.3;
}
