@media (min-width: 992px) and (max-width: 1200px){

    .container {
        width: 904px;
    }

    header {
        padding-bottom: 0;
    }
    header .line-2 .header-menu ul li a {
        font-size: 16px;
    }

    .preloader .movie {
        height: 100%;
        object-fit: cover;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    .form-control {
        font-size: 16px !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
        box-shadow: none !important;
    }
    .form-control::-webkit-input-placeholder {
        color: #fff;
    }
    .form-control::-moz-placeholder {
        color: #fff;
    }
    .form-control:-ms-input-placeholder {
        color: #fff;
    }
    .form-control:-moz-placeholder {
        color: #fff;
    }

    .preloader {
        overflow: auto;
        height: auto;
        min-height: 100vh;
    }
    .preloader .movie {
        height: 100%;
        object-fit: cover;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
    .preloader .ms-content .pl-bottom .title {
        font-size: 55px;
        line-height: 55px;
        margin-bottom: 20px;
    }
    .preloader .ms-content .pl-bottom .text {
        font-size: 23px;
    }
    .preloader .ms-content .pl-bottom .sign {
        padding: 10px 100px;
    }

    .preloader .ms-content .preload-wrapper {
        display: block;
    }
    .preloader .ms-content .backgrond {
        position: fixed;
    }
    .preloader .ms-content .pl-topper.light {
        position: relative;
    }



    .preloader .ms-content .site-request-password-reset {
    }
    .preloader .ms-content .site-request-password-reset .title {
    }


    .top-image.mainpage .ti-text-wrapper .title {
        font-size: 32px;
    }
    .top-image.mainpage .ti-text-wrapper .text {
        font-size: 14px;
    }
    .my-events h2 {
        font-size: 40px;
    }
    .my-events .me-item {
        height: auto;
    }
    .my-events .me-item .image {
        height: auto;
        padding: 0;
        position: relative;
    }
    .my-events .me-item .image::after {
        content: '';
        display: block;
        padding-bottom: 50%;
    }
    .my-events .me-item .image .date {
        position: absolute;
        top: 20px;
        left: 20px;
        bottom: 20px;
        right: 20px;
    }
    .my-events .me-item .bottom-block {
        padding: 20px;
        height: auto;
    }
    .my-events .me-item .bottom-block .title {
        font-size: 24px;
    }
    .events-promo-3 {
        margin-bottom: 120px;
    }
    .events-promo-3 h2 {
        font-size: 40px;
    }
    .events-promo-3 .ce-s-item .image {
        height: auto;
    }
    .events-promo-3 .ce-s-item .image::after {
        content: '';
        display: block;
        padding-bottom: 62%;
    }
    .events-promo-3 .ce-s-item .title {
        font-size: 24px;
    }
    .events-promo__list {
        margin-left: -8px;
        margin-right: -8px;
    }
    .events-promo-3 .min-margin > .row > div:first-child,
    .events-promo-3 .min-margin > .row > div:last-child {
        padding-left: 8px;
        padding-right: 8px;
    }
    
    #signupform-gender {
        display: flex;
    }
    #signupform-gender .custom-control {
        margin-right: 15px;
    }
    #signupform-connection {
        display: flex;
    }
    #signupform-connection .custom-control {
        margin-right: 20px;
    }


    .preloader .ms-content .site-bug-messages .upload-kit {
        margin-top: 14px;
    }
    .preloader .ms-content .site-bug-messages .upload-kit .upload-kit-input:before {
        color: #fff;
        top: -7px;
        left: 10px;
        opacity: 1;
        font-size: 16px;
    }
    .preloader .ms-content .site-bug-messages .upload-kit .upload-kit-input .glyphicon-plus-sign:before {
        top: 12px;
    }

    .preloader .ms-content .site-signin {
        display: flex;
        align-items: center;
        min-height: calc(100vh - 200px);
        padding-bottom: 30px;
    }

    .site-signup-success {
        display: flex;
        align-items: center;
        min-height: calc(100vh - 200px);
        padding-bottom: 30px;
    }
    .preloader .ms-content .site-signup-success .title {
        text-transform: uppercase;
        line-height: 1.4;
        margin-bottom: 20px;
    }

    .preloader .ms-content .site-bug-messages {
        display: flex;
        align-items: center;
        min-height: calc(100vh - 100px);
        padding-bottom: 30px;
    }

    .top-image.mainpage {
        height: auto;
    }
    .top-image.mainpage:before {
        content: '';
        display: block;
        padding-bottom: 73%;
    }
    .top-image.mainpage .ti-text-wrapper .title {
        font-size: 48px;
    }
    .top-image.mainpage .ti-text-wrapper .text {
        font-size: 18px;
        max-width: 660px;
    }
    .top-image.mainpage .ti-text-wrapper .ti-text__col {
        width: 100%;
        max-width: 100%;
        flex: 100%;
    }
    .footer {
        padding-top: 100px;
    }

    .cabinet-cards {
        padding-top: 50px;
    }
    .cabinet-cards h1 {
        font-size: 60px;
    }
    .cabinet-cards .top-line .interests-wrapper .interests {
        font-size: 30px;
    }
    .cabinet-cards .top-line .interests-wrapper .interests:before {
        left: -45px;
        right: auto;
        width: 30px;
        height: 30px;
        background-size: contain;
    }
    .cabinet-cards .cabinet-cards-first .card .title {
        font-size: 26px;
    }
    .cabinet-cards .cabinet-cards-first .card {
        height: 100%;
    }
    .cabinet-cards .cabinet-cards-first .card .text-right {
        font-size: 14px;
    }
    .cabinet-cards .cabinet-cards-first .card .line .c-val {
        font-size: 14px;
    }
    .cabinet-cards .cabinet-cards-first .card .line .row [class*='col-'] {
        padding: 8px;
    }
    .cabinet-cards .cabinet-cards-second .card .title {
        font-size: 26px;
        margin-bottom: 15px;
    }
    .cabinet-cards .cabinet-cards-second .card .sub-card-wrapper .sub-card {
        height: auto;
    }
    .cabinet-cards .cabinet-cards-second .card .sub-card-wrapper .sub-card:before {
        content: '';
        display: block;
        padding-bottom: 162%;
    }
    .cabinet-cards .cabinet-cards-second .card {
        height: 100%;
    }
    .cabinet-cards .cabinet-cards-second .card .sub-card-wrapper > .row > div:first-child,
    .cabinet-cards .cabinet-cards-second .card .sub-card-wrapper > .row > div:last-child {
        padding-left: 10px;
        padding-right: 10px;
    }
    .cabinet-cards .cabinet-cards-second .card .sub-card-wrapper > .row.my-car__list {
        margin-left: -10px;
        margin-right: -10px;
    }
    .cabinet-cards .cabinet-cards-second .card .sub-card-wrapper > .row > div {
        padding-bottom: 0;
        padding-top: 0;
    }
    .cabinet-cards .cabinet-cards-second .card #profile-clear-fields .smb-btn {
        margin-top: 20px;
        padding: 10px;
    }
    .cabinet-cards .cabinet-cards-second .card .form-control::-webkit-input-placeholder {
        color: #565656;
    }
    .cabinet-cards .cabinet-cards-second .card .form-control::-moz-placeholder {
        color: #565656;
    }
    .cabinet-cards .cabinet-cards-second .card .form-control:-ms-input-placeholder {
        color: #565656;
    }
    .cabinet-cards .cabinet-cards-second .card .form-control:-moz-placeholder {
        color: #565656;
    }

    .cabinet-cards .cabinet-cards-second .card .form-group {
        margin-bottom: 30px;
    }
    .cabinet-cards .cabinet-cards-second .card #profile-clear-fields .slick-prev,
    .cabinet-cards .cabinet-cards-second .card #profile-clear-fields .slick-next {
        top: -28px;
    }
    .cabinet-cards .cabinet-cards-second .card .title-small {
        margin-bottom: 50px;
    }

    .cabinet-total {
        margin-bottom: 100px;
    }
    .cabinet-total .st-wrapper {
        font-size: 20px;
    }
    .cabinet-total .st-wrapper span {
        font-size: 38px;
    }

    .privilege-topper {
        height: auto;
    }
    .privilege-topper:before {
        content: '';
        display: block;
        padding-bottom: 72.2%;
    }
    .privilege-list h2 {
        font-size: 40px;
    }
    .privilege-topper .ti-text-wrapper .title {
        font-size: 60px;
    }
    .privilege-list .privilege-cards .card .title {
        font-size: 16px;
    }
    .privilege-list .dealer {
        font-size: 24px;
    }

    .cabinet-interests .top-line h1 {
        font-size: 40px;
    }
    .cabinet-interests .top-line .text {
        font-size: 16px;
    }
    .cabinet-interests .card .title {
        font-size: 34px;
    }
    .cabinet-interests-choose {

    }
    .cabinet-interests-choose .interests-list .interests-list__item:nth-child(1),
    .cabinet-interests-choose .interests-list .interests-list__item:nth-child(2) {
        width: 50%;
        max-width: 50%;
        flex: 50%;
    }
    .cabinet-interests-choose .interests-list .interests-list__item:nth-child(3) {
        width: 100%;
        max-width: 100%;
        flex: 100%;
        display: flex;
        padding: 0;
    }
    .cabinet-interests-choose .interests-list .interests-list__item:nth-child(3) > .row {
        width: 50%;
        padding: 9px;
        margin: 0;
    }
    .cabinet-interests-choose .interests-list .interests-list__item:nth-child(3) > .row div[class*="col-"] {
        padding: 0;
    }
    .cabinet-interests-choose .interests-list-2 {

    }
    .cabinet-interests-choose .interests-list-2 .interests-list__item:nth-child(1),
    .cabinet-interests-choose .interests-list-2 .interests-list__item:nth-child(3) {
        width: 25%;
        max-width: 25%;
        flex: 25%;
    }
    .cabinet-interests-choose .interests-list-2 .interests-list__item:nth-child(2) {
        width: 50%;
        max-width: 50%;
        flex: 50%;
    }
    .cabinet-interests-choose .interests-list-2 .interests-list__item:nth-child(4) {
        width: 100%;
        max-width: 100%;
        flex: 100%;
    }

    .special-offerings-topper {
        height: auto;
    }
    .special-offerings-topper:before {
        content: '';
        display: block;
        padding-bottom: 72.2%;
    }
    .special-offerings-topper .ti-text-wrapper .title {
        font-size: 60px;
    }
    .special-offerings-list .so-items .card {

    }
    .special-offerings-list .so-items .card .so-item__image,
    .special-offerings-list .so-items .card .so-item__content {
        width: 50%;
        max-width: 50%;
        flex: 50%;
    }
    .special-offerings-list .so-items .card .img {
        height: auto;
    }
    .special-offerings-list .so-items .card .img:before {
        content: '';
        display: block;
        padding-bottom: 78%;
    }
    .special-offerings-list .so-items .card .more {
        display: inline-block;
    }

    .events-topper .card .date {
        font-size: 30px;
        opacity: .5;
        color: #fff;
    }
    .events-topper .card .text-wrapper {
        height: auto;
        top: auto;
        bottom: 30px;
    }
    .events-topper .card .text-wrapper .title {
        font-size: 24px;
    }
    .events-list {
        margin-bottom: 0;
    }
    section.events-list {
        margin-bottom: 100px;
    }


    .special-offerings-card h1 {
        font-size: 40px;
    }
    .special-offerings-card .special-offerings-card__row {

    }
    .special-offerings-card .special-offerings-card__row .special-offerings-card__image,
    .special-offerings-card .special-offerings-card__row .special-offerings-card__text {
        width: 50%;
        max-width: 50%;
        flex: 50%;
    }
    .special-offerings-card .text-wrapper .text {
        font-size: 16px;
        color: #999;
    }
    .special-offerings-card .text-wrapper .app-btn {
        width: auto;
        display: inline-block;
        padding: 14px 30px;
    }
    .special-offerings-other .me-item .bottom-block .title {
        font-size: 24px;
    }
    .special-offerings-other .me-item {
        height: auto;
    }
    .special-offerings-other .me-item .bottom-block {
    }

    .event-card__slider,
    .event-card__text {
        width: 50%;
        max-width: 50%;
        flex: 50%;
    }
    .events-card-page .text-wrapper {
        padding: 0;
    }
    .events-card-page .text-wrapper .text {
        height: auto;
        padding: 0 20px;
        color: #999;
    }
    .events-promo-3 .ce-s-item .title {
        padding: 0 25px;
    }
    .site-callback .title {
        text-transform: none;
        font-size: 40px;
    }
    .site-callback .text {
        font-size: 16px;
    }
}