@font-face {
  font-family: BMWGlobal_bold;
  src: url(/fonts/BMWGlobal_bold.ttf);
}
@font-face {
  font-family: BMWGlobal_light;
  src: url(/fonts/BMWGlobal_light.ttf);
}
@font-face {
  font-family: BMWGlobal_Pro_bold;
  src: url(/fonts/BMWGlobal_Pro_bold.ttf);
}
@font-face {
  font-family: BMWGlobal_Pro_light;
  src: url(/fonts/BMWGlobal_Pro_light.ttf);
}
@font-face {
  font-family: BMWGlobal_Pro_thin;
  src: url(/fonts/BMWGlobal_Pro_thin.ttf);
}
@font-face {
  font-family: bmwtyparbo;
  src: url(/fonts/bmwtyparbo.ttf);
}
@font-face {
  font-family: bmwtyparli;
  src: url(/fonts/bmwtyparli.ttf);
}
@font-face {
  font-family: bmwtyparth;
  src: url(/fonts/bmwtyparth.ttf);
}
@font-face {
  font-family: bmwtypbo;
  src: url(/fonts/bmwtypbo.ttf);
}
@font-face {
  font-family: bmwtypli;
  src: url(/fonts/bmwtypli.ttf);
}
@font-face {
  font-family: bmwtypth;
  src: url(/fonts/bmwtypth.ttf);
}
@font-face {
  font-family: MyriadPro;
  src: url(/fonts/MyriadPro-Regular.otf);
}
html,
body {
  height: 100%;
  font-family: "BMWGlobal_Pro_light";
  color: #000000;
  font-size: 17px;
}
img {
  max-width: 100%;
}
a {
  color: #000000;
}
a:hover {
  color: #000000;
}
h2,
.h2 {
  font-size: 33px;
}
.favorite {
  font-size: 27px;
  color: black;
  position: absolute;
  left: 10px;
  top: 0px;
}
.favorite:hover {
  text-decoration: none;
}
.favorite.active .fa-star-o {
  display: none;
}
.favorite.active .fa-star {
  display: block;
}
.favorite .fa-star {
  display: none;
}
.favorite .fa-star-o {
  display: block;
}
.date-icon:before {
  content: '';
  width: 21px;
  height: 21px;
  margin-right: 10px;
  display: inline-block;
  background-image: url('/image/icon/Shape 1.png');
  background-repeat: no-repeat;
}
* {
  outline: none;
}
.btn-wrapper {
  text-align: center;
}
.btn-def {
  background-color: #666364;
  padding: 12px 20px;
  color: white;
  font-size: 17px;
  height: 45px;
  width: 100%;
  max-width: 160px;
  display: block;
  text-align: center;
  margin: 60px auto;
}
.btn-def:hover {
  text-decoration: none;
}
.footer {
  background-color: #fdfcfc;
  padding: 120px 0px 30px;
  font-family: "BMWGlobal_Pro_thin";
}
.footer .callback {
  font-size: 19px;
  border-bottom: 1px solid;
  line-height: 1;
}
.footer .callback:hover {
  text-decoration: none;
}
.footer .bottom-menu {
  margin: 64px 0;
}
.footer .bottom-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer .bottom-menu ul li {
  display: block;
  float: left;
  padding-right: 40px;
  font-size: 19px;
}
.footer .bottom-menu ul li a:hover {
  text-decoration: none;
  border-bottom: 1px solid;
}
.footer .bottom-second-menu {
  margin-bottom: 48px;
}
.footer .bottom-second-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer .bottom-second-menu ul li {
  display: block;
  float: left;
  padding-right: 16px;
}
.footer .bottom-second-menu ul li a {
  border-bottom: 1px solid;
}
.footer .bottom-second-menu ul li a:hover {
  text-decoration: none;
  border-bottom: none;
}
.footer .copyright .f-slogan {
  color: #475373;
  text-transform: uppercase;
}
.site-callback {
  width: 100%;
  max-width: 380px;
  margin: 80px auto 160px;
}
.site-callback .title {
  font-size: 33px;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 50px;
  line-height: 1.2;
}
.site-callback .text {
  color: #565656;
  margin-bottom: 30px;
}
.site-callback label {
  font-size: 23px;
  font-family: BMWGlobal_Pro_thin;
  margin-bottom: 20px;
}
.site-callback textarea {
  height: 135px;
  resize: none;
}
.site-callback textarea:focus {
  outline: none;
  border-color: #ced4da;
  box-shadow: none;
}
.site-callback .smb-btn {
  margin-top: 30px;
  background-color: #656364;
  color: white;
  width: 100%;
  max-width: 420px;
  border: none;
  padding: 9px 0;
  margin: 40px auto 0;
}
.site-callback .smb-btn:focus {
  outline: none;
}
header {
  padding: 30px 0 10px;
  font-family: "BMWGlobal_Pro_thin";
}
header .header-wrapper {
  /*border-bottom: 1px solid;*/
  padding-bottom: 14px;
}
header .line-1 {
  margin-bottom: 30px;
}
header .line-1 .h-slogan {
  font-size: 29px;
  text-transform: uppercase;
}
header .line-1 .h-slogan:hover {
  text-decoration: none;
}
header .line-2 .header-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
header .line-2 .header-menu ul li {
  padding-right: 32px;
  display: block;
  float: left;
}
header .line-2 .header-menu ul li:focus {
  outline: none;
}
header .line-2 .header-menu ul li.active a {
  padding-bottom: 15px;
  border-bottom: 3px solid;
}
header .line-2 .header-menu ul li a {
  font-size: 19px;
}
header .line-2 .header-menu ul li a:hover {
  text-decoration: none;
  padding-bottom: 15px;
  border-bottom: 3px solid;
}
header .line-2 .header-menu ul li a:focus {
  outline: none;
}
header .r-line {
  display: block;
  float: right;
  text-align: left;
}
header .r-line .logo-wrapper {
  display: inline-block;
  text-align: center;
  margin-bottom: 20px;
}
header .r-line .logo-wrapper:hover {
  text-decoration: none;
}
header .r-line .logo-wrapper .logo {
  max-width: 28px;
  max-height: 28px;
}
header .r-line .logo-wrapper .title {
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1px;
  margin-top: 5px;
  font-weight: 600;
  -webkit-font-smoothing: auto;
}
header .r-line .rl-bottom .phone {
  display: inline-block;
  float: left;
  margin-right: 20px;
}
header .r-line .rl-bottom .phone:hover {
  text-decoration: none;
  border-bottom: 1px solid;
}
header .r-line .rl-bottom .phone:focus {
  outline: none;
}
header .r-line .rl-bottom .icon-wrapper {
  display: inline-block;
  float: right;
}
header .r-line .rl-bottom .icon-wrapper .avatar {
  position: relative;
  display: block;
  float: left;
  background-image: url("/image/icon/profile.svg");
  width: 18px;
  height: 22px;
  background-repeat: no-repeat;
  margin-right: 10px;
  background-size: contain;
}
header .r-line .rl-bottom .icon-wrapper .avatar:focus {
  outline: none;
}
header .r-line .rl-bottom .icon-wrapper .avatar.messaged:after {
  content: '';
  background-color: #f5827f;
  width: 7px;
  height: 7px;
  display: block;
  border-radius: 50%;
  position: absolute;
  right: -4px;
  top: 0px;
}
header .r-line .rl-bottom .icon-wrapper form {
  display: block;
  float: left;
  line-height: 1;
  padding-top: 0px;
  font-size: 13px;
}
header .r-line .rl-bottom .icon-wrapper form .logout {
  display: inline-block;
  background-image: url("/image/icon/exit.png");
  background-repeat: no-repeat;
  width: 17px;
  height: 20px;
  background-color: transparent;
  border: none;
  background-size: contain;
}
header .r-line .rl-bottom .icon-wrapper form .logout:focus {
  outline: none;
}
.header-wrapper__mobile {
  display: none;
}
.top-image {
  height: 748px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  font-family: "BMWGlobal_Pro_thin";
}
.top-image.mainpage {
  background-image: url('/image/background_main.jpg');
}
.top-image.mainpage .ti-text-wrapper {
  color: white;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0px;
}
.top-image.mainpage .ti-text-wrapper .title {
  font-size: 53px;
  margin-bottom: 16px;
}
.top-image.mainpage .ti-text-wrapper .text {
  font-size: 19px;
}
.top-image.mainpage .ti-text-wrapper .down {
  display: inline-block;
  border: 1px solid white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: white;
  padding-top: 16px;
  margin: 36px 0 46px;
}
.top-image.mainpage .ti-text-wrapper .down:after {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(/image/arrow_down.png);
  background-repeat: no-repeat;
  background-position: center;
}
.my-events h2 {
  margin: 90px 0 60px;
}
.my-events .me-item {
  height: 356px;
  background-color: #fefefe;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
  display: block;
}
.my-events .me-item:hover {
  text-decoration: none;
}
.my-events .me-item .image {
  height: 180px;
  padding: 18px 30px;
  font-size: 15px;
  color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.my-events .me-item .bottom-block {
  height: calc(100% - 180px);
  padding: 18px 30px;
  color: black;
}
.my-events .me-item .bottom-block .title {
  font-size: 27px;
  line-height: 1;
  margin-bottom: 30px;
  max-height: 89px;
  overflow: hidden;
}
.my-events .me-item .bottom-block .link {
  font-size: 15px;
  display: inline-block;
  border-bottom: 1px solid;
  line-height: 1.3;
}
.my-events .me-item .bottom-block .link:hover {
  text-decoration: none;
}
.events-promo-3 {
  margin-bottom: 160px;
}
.events-promo-3 h2 {
  margin: 90px 0 60px;
}
.events-promo-3 .min-margin > .row > div {
  padding-left: 8px;
  padding-right: 8px;
}
.events-promo-3 .min-margin > .row > div:first-child {
  padding-left: 15px;
}
.events-promo-3 .min-margin > .row > div:last-child {
  padding-right: 15px;
}
.events-promo-3 .ce-s-item {
  width: 100%;
}
.events-promo-3 .ce-s-item .image {
  height: 180px;
  max-width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 30px;
  position: relative;
  display: block;
  padding: 18px 30px;
  font-size: 15px;
  color: white;
  text-decoration: none;
}
.events-promo-3 .ce-s-item .image .date {
  text-decoration: none;
}
.events-promo-3 .ce-s-item .image .date:hover {
  text-decoration: none;
}
.events-promo-3 .ce-s-item.not-active .image:before {
  content: '';
  position: absolute;
  left: -1px;
  right: -1px;
  top: -1px;
  bottom: -1px;
  background: white;
  opacity: 0.75;
}
.events-promo-3 .ce-s-item .title {
  font-size: 27px;
  line-height: 1;
  padding: 0 30px;
  display: block;
}
.events-promo-3 .ce-s-item .title:hover {
  text-decoration: none;
}
.events-promo-3 .ce-s-item .title:focus {
  outline: none;
}
.site-request-window-inner {
  width: 100%;
  max-width: 420px;
  margin: 150px auto 200px;
}
.site-request-window-inner .title {
  font-size: 29px;
  line-height: 1.2;
  margin-bottom: 30px;
}
.site-request-window-inner .title.centered {
  text-align: center;
}
.site-request-window-inner .text {
  margin-bottom: 60px;
}
.site-request-window-inner .smb-btn {
  background-color: #656364;
  color: white;
  width: 100%;
  max-width: 420px;
  border: none;
  padding: 9px 0;
  margin: 40px auto 0;
  display: block;
  text-align: center;
}
.site-request-window-inner .smb-btn:hover {
  text-decoration: none;
}
.site-request-window-inner.callback {
  max-width: 350px;
}
#my-events .my-events__list .slick-list {
  padding: 30px 0;
}
.me-no-events {
  background-color: #fdfcfc;
  max-width: 400px;
  padding: 30px 40px;
}
.me-no-events .title {
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 40px;
}
.me-no-events .text {
  font-size: 17px;
  margin-bottom: 40px;
}
.me-no-events .link {
  font-weight: 500;
  text-decoration: none;
  line-height: 1;
  border-bottom: 1px solid;
}
.modal-open .modal {
  display: flex!important;
}
.modal-dialog {
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.modal-dialog[window-id='signup'] {
  max-width: 800px;
}
.modal-dialog .modal-content .modal-body {
  padding: 26px 32px;
}
.modal-dialog .modal-content .modal-body .close {
  font-size: 31px;
  line-height: 1;
  position: absolute;
  right: -32px;
  top: 0;
  z-index: 2;
  color: white;
}
.modal-dialog .modal-content .modal-body .form-group {
  margin-bottom: 8px;
}
.modal-dialog .modal-content .modal-body .form-group .form-control {
  border: 1px solid #BBD5E2;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
  background-color: #FFFFFF;
  height: calc(1.5em + 0.75rem + 4px);
}
.modal-dialog .modal-content .modal-body .form-group .btn-primary,
.modal-dialog .modal-content .modal-body .form-group .btn-primary:not(:disabled):not(.disabled):active {
  border-radius: 12px;
  background-color: #62B576;
  width: 100%;
  margin-top: 8px;
  color: #FFFFFF;
  font-size: 23px;
  line-height: 30px;
  padding: 17px 0;
  border: none;
}
.modal-dialog .modal-content .modal-body .ls-menu {
  list-style: none;
  margin: 0 0 33px;
  padding: 0;
}
.modal-dialog .modal-content .modal-body .ls-menu li {
  display: inline-block;
  color: #0090D4;
  font-size: 23px;
  line-height: 24px;
  margin-right: 24px;
}
.modal-dialog .modal-content .modal-body .ls-menu li.active {
  color: #37383E;
  border-bottom: 3px solid #62B576;
}
#InterestsModal .cabinet-interests .form-group {
  margin-bottom: 0;
}
#InterestsModal .cabinet-interests .smb-btn {
  background-color: #666364;
  padding: 10px 122px;
  color: white;
  display: inline-block;
  margin: 20px 0 0px;
  border: none;
}
.modal-dialog[window-id="notifications"] {
  max-width: 655px;
}
.modal-dialog[window-id="notifications"] .modal-content {
  max-height: 80vh;
  overflow: hidden;
}
.modal-dialog[window-id="notifications"] .modal-content .modal-body {
  padding: 0;
}
.modal-dialog[window-id="notifications"] .modal-content .modal-body .modal-notification-wrapper {
  max-height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 60px 0;
}
.modal-dialog[window-id="notifications"] .modal-content .modal-body .modal-notification-wrapper .title {
  font-size: 33px;
  margin-bottom: 60px;
  padding: 0px 60px;
}
.modal-dialog[window-id="notifications"] .modal-content .modal-body .modal-notification-wrapper .text {
  padding: 0px 60px;
}
.modal-dialog[window-id="notifications"] .modal-content .modal-body .modal-notification-wrapper .mass-block {
  padding: 0px 60px;
}
.modal-dialog[window-id="notifications"] .modal-content .modal-body .modal-notification-wrapper .mass-block .mn-category-wrapper {
  margin-bottom: 60px;
}
.modal-dialog[window-id="notifications"] .modal-content .modal-body .modal-notification-wrapper .mass-block .mn-category-wrapper .mn-category {
  border-bottom: 1px solid black;
  margin: 20px 0;
  padding-right: 30px;
  padding-bottom: 10px;
  position: relative;
  font-size: 19px;
  display: block;
}
.modal-dialog[window-id="notifications"] .modal-content .modal-body .modal-notification-wrapper .mass-block .mn-category-wrapper .mn-category:hover {
  text-decoration: none;
}
.modal-dialog[window-id="notifications"] .modal-content .modal-body .modal-notification-wrapper .mass-block .mn-category-wrapper .mn-category .opener {
  position: absolute;
  top: 6px;
  right: 0;
  font-size: 17px;
}
.modal-dialog[window-id="notifications"] .modal-content .modal-body .modal-notification-wrapper .mass-block .mn-category-wrapper .items .item {
  margin: 10px 0;
  color: #7e7e7e;
  font-size: 15px;
}
.modal-dialog[window-id="notifications"] .modal-content .modal-body .modal-notification-wrapper .mass-block .mn-category-wrapper .items .item .clear {
  font-size: 17px;
  margin-right: 10px;
  text-decoration: none;
  color: #7e7e7e;
}
.modal-dialog[window-id="notifications"] .modal-content .modal-body .modal-notification-wrapper .mass-block .mn-category-wrapper .items .item a {
  text-decoration: underline;
  color: #7e7e7e;
}
.modal-dialog[window-id="notifications"] .modal-content .modal-body .modal-notification-wrapper .close-wrapper {
  text-align: center;
  margin-top: 30px;
  padding: 0px 60px;
}
.modal-dialog[window-id="notifications"] .modal-content .modal-body .modal-notification-wrapper .close-wrapper .close {
  width: 100%;
  margin: 0 auto;
  padding: 15px 20px;
  position: static!important;
  max-width: 50%;
  font-size: 17px!important;
  float: none;
  opacity: 1!important;
  background-color: #666364 !important;
  font-weight: 400!important;
}
.modal-dialog[window-id="notifications"] .modal-content .modal-body .modal-notification-wrapper .close-wrapper .close:hover,
.modal-dialog[window-id="notifications"] .modal-content .modal-body .modal-notification-wrapper .close-wrapper .close:active {
  outline: none;
}
.modal-open {
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
#allModal .site-request-window-inner.interest {
  margin: 0 auto;
  padding: 25px;
}
#allModal .site-request-window-inner.interest .btn-def {
  margin: 15px auto;
}
.modal-dialog[window-id="interests"] {
  max-width: 1140px;
  width: 100%;
}
.modal-dialog[window-id="interests"] .modal-content {
  max-height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.modal-dialog[window-id="interests"] .modal-content .modal-body {
  padding: 0;
}
.modal-dialog[window-id="interests"] .modal-content .modal-body .modal-notification-wrapper {
  max-height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 60px 0;
}
.modal-dialog[window-id="interests"] .modal-content .modal-body .modal-notification-wrapper .title {
  font-size: 33px;
  margin-bottom: 60px;
  padding: 0px 60px;
}
.modal-dialog[window-id="interests"] .modal-content .modal-body .modal-notification-wrapper .text {
  padding: 0px 60px;
}
.modal-dialog[window-id="interests"] .modal-content .modal-body .modal-notification-wrapper .mass-block {
  padding: 0px 60px;
}
.modal-dialog[window-id="interests"] .modal-content .modal-body .modal-notification-wrapper .mass-block .mn-category-wrapper {
  margin-bottom: 60px;
}
.modal-dialog[window-id="interests"] .modal-content .modal-body .modal-notification-wrapper .mass-block .mn-category-wrapper .mn-category {
  border-bottom: 1px solid black;
  margin: 20px 0;
  padding-right: 30px;
  padding-bottom: 10px;
  position: relative;
  font-size: 19px;
  display: block;
}
.modal-dialog[window-id="interests"] .modal-content .modal-body .modal-notification-wrapper .mass-block .mn-category-wrapper .mn-category:hover {
  text-decoration: none;
}
.modal-dialog[window-id="interests"] .modal-content .modal-body .modal-notification-wrapper .mass-block .mn-category-wrapper .mn-category .opener {
  position: absolute;
  top: 6px;
  right: 0;
  font-size: 17px;
}
.modal-dialog[window-id="interests"] .modal-content .modal-body .modal-notification-wrapper .mass-block .mn-category-wrapper .items .item {
  margin: 10px 0;
  color: #7e7e7e;
  font-size: 15px;
}
.modal-dialog[window-id="interests"] .modal-content .modal-body .modal-notification-wrapper .mass-block .mn-category-wrapper .items .item .clear {
  font-size: 17px;
  margin-right: 10px;
  text-decoration: none;
  color: #7e7e7e;
}
.modal-dialog[window-id="interests"] .modal-content .modal-body .modal-notification-wrapper .mass-block .mn-category-wrapper .items .item a {
  text-decoration: underline;
  color: #7e7e7e;
}
.modal-dialog[window-id="interests"] .modal-content .modal-body .modal-notification-wrapper .close-wrapper {
  text-align: center;
  margin-top: 30px;
  padding: 0px 60px;
}
.modal-dialog[window-id="interests"] .modal-content .modal-body .modal-notification-wrapper .close-wrapper .close {
  width: 100%;
  margin: 0 auto;
  padding: 15px 20px;
  position: static!important;
  max-width: 50%;
  font-size: 17px!important;
  float: none;
  opacity: 1!important;
  background-color: #666364 !important;
  font-weight: 400!important;
}
.modal-dialog[window-id="interests"] .modal-content .modal-body .modal-notification-wrapper .close-wrapper .close:hover,
.modal-dialog[window-id="interests"] .modal-content .modal-body .modal-notification-wrapper .close-wrapper .close:active {
  outline: none;
}
@-webkit-keyframes autofill {
  to {
    color: #666;
    background: transparent;
  }
}
.preloader {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
  background-color: black;
  color: white;
  /*for video*/
  display: flex;
  align-items: center;
  /*for video*/
}
.preloader a {
  color: white;
}
.preloader .file-icon {
  position: relative;
}
.preloader .file-icon:after {
  content: "";
  width: 14px;
  height: 18px;
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  background-image: url(/image/file.png);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.preloader .big-radio .form-check {
  display: inline-block;
  margin-right: 64px;
  padding-left: 40px;
}
.preloader .big-radio .form-check:last-child {
  margin-right: 0;
}
.preloader .big-radio .form-check input[type="radio"] {
  width: 28px;
  height: 28px;
  display: inline-block;
  margin-top: -3px;
  margin-left: -40px;
  outline: none;
}
.preloader .big-radio .form-check input[type="radio"]:focus,
.preloader .big-radio .form-check input[type="radio"]:hover,
.preloader .big-radio .form-check input[type="radio"]:active {
  outline: none;
}
.preloader .big-radio .form-check input[type="radio"].is-valid ~ .form-check-label {
  color: white;
}
.preloader .big-radio .form-check input[type="radio"].is-valid ~ .form-check-label:focus,
.preloader .big-radio .form-check input[type="radio"].is-valid ~ .form-check-label:hover,
.preloader .big-radio .form-check input[type="radio"].is-valid ~ .form-check-label:active {
  outline: none;
}
.preloader .movie {
  /*width: auto;
        height: auto;
        min-width: 100%;
        min-height: 100%;*/
  width: 100%;
}
.preloader .ms-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* all auth/reg page */
  /* signin page*/
  /* signin page*/
}
.preloader .ms-content .pl-topper {
  background-color: #000000;
  opacity: 0.6;
  height: 100px;
  display: flex;
  align-items: center;
}
.preloader .ms-content .pl-topper.light {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: transparent;
  opacity: 1;
}
.preloader .ms-content .pl-topper .logo {
  display: inline-block;
  text-transform: none;
}
.preloader .ms-content .pl-topper .logo .ls-wrapper {
  color: white;
  display: block;
  text-align: center;
  outline: none;
}
.preloader .ms-content .pl-topper .logo .ls-wrapper:hover {
  text-decoration: none;
  outline: none;
}
.preloader .ms-content .pl-topper .logo .ls-wrapper:focus,
.preloader .ms-content .pl-topper .logo .ls-wrapper:active {
  outline: none;
}
.preloader .ms-content .pl-topper .logo .ls-wrapper img {
  max-width: 182px;
}
.preloader .ms-content .pl-topper .logo .ls-wrapper .slogan {
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 0.5px;
  margin-top: 5px;
  font-weight: 600;
}
.preloader .ms-content .pl-bottom {
  position: absolute;
  width: 100%;
  bottom: 100px;
}
.preloader .ms-content .pl-bottom .title {
  font-size: 61px;
  font-family: BMWGlobal_Pro_thin;
  text-transform: uppercase;
}
.preloader .ms-content .pl-bottom .text {
  font-size: 19px;
  font-family: BMWGlobal_Pro_thin;
  text-transform: uppercase;
}
.preloader .ms-content .pl-bottom .sign {
  background-color: #656364;
  padding: 7px 107px;
  color: white;
  margin-top: 34px;
  display: inline-block;
}
.preloader .ms-content .pl-bottom .sign:hover {
  text-decoration: none;
}
.preloader .ms-content .preload-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.preloader .ms-content .backgrond {
  background-color: #000000;
  opacity: 0.6;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.preloader .ms-content .site-signup .form-control,
.preloader .ms-content .site-signin .form-control,
.preloader .ms-content .site-request-password-reset .form-control,
.preloader .ms-content .site-bug-messages .form-control {
  background-color: transparent!important;
  color: white;
  border: none;
  border-bottom: 1px solid white;
  border-radius: 0;
  outline: none!important;
  padding-left: 0;
  font-size: 15px;
}
.preloader .ms-content .site-signup .form-control:-webkit-autofill,
.preloader .ms-content .site-signin .form-control:-webkit-autofill,
.preloader .ms-content .site-request-password-reset .form-control:-webkit-autofill,
.preloader .ms-content .site-bug-messages .form-control:-webkit-autofill {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
  -webkit-appearance: none;
  -webkit-text-fill-color: white !important;
  color: white !important;
  -webkit-box-shadow: inset 0 0 0 50px transparent!important;
}
.preloader .ms-content .site-signup .form-control:focus,
.preloader .ms-content .site-signin .form-control:focus,
.preloader .ms-content .site-request-password-reset .form-control:focus,
.preloader .ms-content .site-bug-messages .form-control:focus,
.preloader .ms-content .site-signup .form-control:hover,
.preloader .ms-content .site-signin .form-control:hover,
.preloader .ms-content .site-request-password-reset .form-control:hover,
.preloader .ms-content .site-bug-messages .form-control:hover {
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none!important;
  box-shadow: none;
}
.preloader .ms-content .site-signup .form-control.is-valid,
.preloader .ms-content .site-signin .form-control.is-valid,
.preloader .ms-content .site-request-password-reset .form-control.is-valid,
.preloader .ms-content .site-bug-messages .form-control.is-valid {
  border: none;
  border-bottom: 1px solid white;
  outline: none!important;
  background-image: none;
}
.preloader .ms-content .site-signup .form-control.is-valid:focus,
.preloader .ms-content .site-signin .form-control.is-valid:focus,
.preloader .ms-content .site-request-password-reset .form-control.is-valid:focus,
.preloader .ms-content .site-bug-messages .form-control.is-valid:focus {
  box-shadow: none;
}
.preloader .ms-content .site-signin {
  width: 100%;
  max-width: 420px;
  margin: 0 auto;
}
.preloader .ms-content .site-signin .signin-wrapper {
  font-size: 33px;
  text-transform: uppercase;
  display: inline-block;
}
.preloader .ms-content .site-signin .signup-wrapper {
  font-size: 19px;
  display: inline-block;
  float: right;
  padding: 10px 0;
}
.preloader .ms-content .site-signin .signup-wrapper .signup {
  border-bottom: 1px solid white;
  line-height: 1;
}
.preloader .ms-content .site-signin .signup-wrapper .signup:hover {
  text-decoration: none;
}
.preloader .ms-content .site-signin .signup-wrapper .signup:focus,
.preloader .ms-content .site-signin .signup-wrapper .signup:hover,
.preloader .ms-content .site-signin .signup-wrapper .signup:active {
  outline: none;
}
.preloader .ms-content .site-signin #sign-in {
  margin: 40px 0;
  display: block;
}
.preloader .ms-content .site-signin #sign-in .smb-btn {
  background-color: #656364;
  color: white;
  width: 100%;
  border: none;
  padding: 9px 0;
  margin-top: 24px;
}
.preloader .ms-content .site-signin #sign-in .smb-btn:focus {
  outline: none;
}
.preloader .ms-content .site-signin .forgot-password {
  display: inline-block;
  border-bottom: 1px solid white;
}
.preloader .ms-content .site-signin .forgot-password a:hover {
  text-decoration: none;
}
.preloader .ms-content .site-signin .forgot-password a:focus,
.preloader .ms-content .site-signin .forgot-password a:hover,
.preloader .ms-content .site-signin .forgot-password a:active {
  outline: none;
}
.preloader .ms-content .site-signin .cannot-enter {
  display: inline-block;
  float: right;
  border-bottom: 1px solid white;
}
.preloader .ms-content .site-signin .cannot-enter a:hover {
  text-decoration: none;
}
.preloader .ms-content .site-signin .cannot-enter a:focus,
.preloader .ms-content .site-signin .cannot-enter a:hover,
.preloader .ms-content .site-signin .cannot-enter a:active {
  outline: none;
}
.preloader .ms-content .site-signup {
  width: 100%;
  max-width: 670px;
  margin: 0 auto;
}
.preloader .ms-content .site-signup .signin-wrapper {
  font-size: 33px;
  text-transform: uppercase;
  display: inline-block;
}
.preloader .ms-content .site-signup .signup-wrapper {
  font-size: 19px;
  display: inline-block;
  float: right;
  padding: 10px 0;
}
.preloader .ms-content .site-signup .signup-wrapper .signup {
  border-bottom: 1px solid white;
  line-height: 1;
}
.preloader .ms-content .site-signup .signup-wrapper .signup:hover {
  text-decoration: none;
}
.preloader .ms-content .site-signup .signup-wrapper .signup:focus,
.preloader .ms-content .site-signup .signup-wrapper .signup:hover,
.preloader .ms-content .site-signup .signup-wrapper .signup:active {
  outline: none;
}
.preloader .ms-content .site-signup #sign-up {
  margin: 40px 0 0;
  display: block;
  /*.custom-control.custom-radio{
                    display: inline-block;
                    margin-right: 10px;
                }*/
}
.preloader .ms-content .site-signup #sign-up .custom-control-input.is-valid ~ .custom-control-label {
  color: white;
}
.preloader .ms-content .site-signup #sign-up .was-validated .custom-control-input:valid ~ .custom-control-label::before,
.preloader .ms-content .site-signup #sign-up .custom-control-input.is-valid ~ .custom-control-label::before {
  border-color: white;
}
.preloader .ms-content .site-signup #sign-up .was-validated .custom-control-input:valid:checked ~ .custom-control-label::before,
.preloader .ms-content .site-signup #sign-up .custom-control-input.is-valid:checked ~ .custom-control-label::before {
  border-color: grey!important;
  background-color: grey!important;
  outline: none!important;
  box-shadow: none;
}
.preloader .ms-content .site-signup #sign-up .custom-control.custom-radio {
  display: block;
  float: left;
  margin-right: 20px;
}
.preloader .ms-content .site-signup #sign-up .custom-control-input:checked ~ .custom-control-label::before {
  border-color: white;
  background-color: white;
}
.preloader .ms-content .site-signup #sign-up .phone-title {
  font-size: 11px;
  position: absolute;
  top: -10px;
}
.preloader .ms-content .site-signup #sign-up .connection-title {
  display: block;
  float: left;
  padding-right: 2rem;
  line-height: 1.25;
}
.preloader .ms-content .site-signup #sign-up .connection-field {
  display: block;
  float: left;
  padding-top: 10px;
}
.preloader .ms-content .site-signup #sign-up .agreement-wrapper {
  padding: 5px 0;
}
.preloader .ms-content .site-signup #sign-up .agreement-wrapper.not-checked {
  outline: 2px solid #dc3545;
}
.preloader .ms-content .site-signup #sign-up .agreement-wrapper input {
  display: block;
  float: left;
  width: 30px;
  height: 30px;
  margin-right: 20px;
  outline: none;
}
.preloader .ms-content .site-signup #sign-up .agreement-wrapper input:focus,
.preloader .ms-content .site-signup #sign-up .agreement-wrapper input:hover,
.preloader .ms-content .site-signup #sign-up .agreement-wrapper input:active {
  outline: none;
}
.preloader .ms-content .site-signup #sign-up .agreement-wrapper a {
  border-bottom: 1px solid white;
  outline: none;
}
.preloader .ms-content .site-signup #sign-up .agreement-wrapper a:hover {
  text-decoration: none;
}
.preloader .ms-content .site-signup #sign-up .agreement-wrapper a:focus,
.preloader .ms-content .site-signup #sign-up .agreement-wrapper a:hover,
.preloader .ms-content .site-signup #sign-up .agreement-wrapper a:active {
  outline: none;
}
.preloader .ms-content .site-signup #sign-up .smb-btn {
  background-color: #656364;
  color: white;
  width: 100%;
  max-width: 420px;
  border: none;
  padding: 9px 0;
  margin: 40px auto 0;
}
.preloader .ms-content .site-signup #sign-up .smb-btn:focus {
  outline: none;
}
.preloader .ms-content .site-signup-success {
  width: 100%;
  max-width: 420px;
  margin: 0 auto;
}
.preloader .ms-content .site-signup-success .title {
  font-size: 28px;
  line-height: 1.2;
  margin-bottom: 30px;
}
.preloader .ms-content .site-signup-success .text {
  margin-bottom: 30px;
}
.preloader .ms-content .site-signup-success .smb-btn {
  background-color: #656364;
  color: white;
  width: 100%;
  max-width: 420px;
  border: none;
  padding: 9px 0;
  margin: 20px auto 0;
  display: block;
  text-align: center;
}
.preloader .ms-content .site-signup-success .smb-btn:focus {
  outline: none;
  text-decoration: none;
}
.preloader .ms-content .site-signup-success .smb-btn:hover,
.preloader .ms-content .site-signup-success .smb-btn:active {
  text-decoration: none;
}
.preloader .ms-content .site-request-password-reset-success {
  width: 100%;
  max-width: 420px;
  margin: 0 auto;
}
.preloader .ms-content .site-request-password-reset-success .title {
  font-size: 28px;
  line-height: 1.2;
  margin-bottom: 30px;
  text-align: left;
}
.preloader .ms-content .site-request-password-reset-success .title.centered {
  text-align: center;
}
.preloader .ms-content .site-request-password-reset-success .text {
  margin-bottom: 30px;
}
.preloader .ms-content .site-request-password-reset-success .smb-btn {
  background-color: #656364;
  color: white;
  width: 100%;
  max-width: 420px;
  border: none;
  padding: 9px 0;
  margin: 20px auto 0;
  display: block;
  text-align: center;
}
.preloader .ms-content .site-request-password-reset-success .smb-btn:focus {
  outline: none;
  text-decoration: none;
}
.preloader .ms-content .site-request-password-reset-success .smb-btn:hover,
.preloader .ms-content .site-request-password-reset-success .smb-btn:active {
  text-decoration: none;
}
.preloader .ms-content .site-request-password-reset-success.vin {
  max-width: 425px;
}
.preloader .ms-content .site-request-password-reset-success.vin .title {
  font-size: 29px;
}
.preloader .ms-content .site-request-password-reset-success.vin .text {
  font-size: 15px;
}
.preloader .ms-content .site-request-password-reset-success.email {
  max-width: 425px;
}
.preloader .ms-content .site-request-password-reset-success.email .title {
  font-size: 27px;
}
.preloader .ms-content .site-request-password-reset-success.email .text {
  font-size: 15px;
}
.preloader .ms-content .site-request-password-reset-success.phone {
  max-width: 425px;
}
.preloader .ms-content .site-request-password-reset-success.phone .title {
  font-size: 25px;
}
.preloader .ms-content .site-request-password-reset-success.phone .text {
  font-size: 15px;
}
.preloader .ms-content .site-request-password-reset-success.registrated {
  max-width: 370px;
}
.preloader .ms-content .site-request-password-reset-success.registrated .title {
  font-size: 27.75px;
}
.preloader .ms-content .site-request-password-reset-success.registrated .text {
  font-size: 15px;
}
.preloader .ms-content .site-request-password-reset-success.request-password-reset {
  max-width: 367px;
}
.preloader .ms-content .site-request-password-reset-success.request-password-reset .title {
  font-size: 25.5px;
}
.preloader .ms-content .site-request-password-reset-success.request-password-reset .text {
  font-size: 15px;
}
.preloader .ms-content .site-request-password-reset-success.bug-messages {
  max-width: 332px;
}
.preloader .ms-content .site-request-password-reset-success.bug-messages .title {
  font-size: 23px;
}
.preloader .ms-content .site-request-password-reset-success.bug-messages .text {
  font-size: 17px;
}
.preloader .ms-content .site-request-password-reset {
  width: 100%;
  max-width: 420px;
  margin: 0 auto;
  z-index: 2;
}
.preloader .ms-content .site-request-password-reset .title {
  font-size: 33px;
  line-height: 1.2;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.preloader .ms-content .site-request-password-reset .text {
  margin-bottom: 60px;
}
.preloader .ms-content .site-request-password-reset .smb-btn {
  background-color: #656364;
  color: white;
  width: 100%;
  max-width: 420px;
  border: none;
  padding: 9px 0;
  margin: 40px auto 0;
  display: block;
  text-align: center;
}
.preloader .ms-content .site-request-password-reset .smb-btn:focus {
  outline: none;
}
.preloader .ms-content .site-bug-messages {
  width: 100%;
  max-width: 420px;
  margin: 0 auto;
  z-index: 2;
  /* лютый писец */
}
.preloader .ms-content .site-bug-messages .title {
  font-size: 33px;
  line-height: 1.2;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.preloader .ms-content .site-bug-messages .text {
  margin-bottom: 60px;
}
.preloader .ms-content .site-bug-messages .smb-btn {
  background-color: #656364;
  color: white;
  width: 100%;
  max-width: 420px;
  border: none;
  padding: 9px 0;
  display: block;
  text-align: center;
}
.preloader .ms-content .site-bug-messages .smb-btn:focus {
  outline: none;
}
.preloader .ms-content .site-bug-messages .upload-kit {
  border-bottom: 1px solid white;
}
.preloader .ms-content .site-bug-messages .upload-kit .files {
  width: 100%;
}
.preloader .ms-content .site-bug-messages .upload-kit .files .upload-kit-item.done.image {
  border: none;
  height: 18px;
  width: 100%;
}
.preloader .ms-content .site-bug-messages .upload-kit .files .upload-kit-item.done.image img {
  display: none;
}
.preloader .ms-content .site-bug-messages .upload-kit .files .upload-kit-item.done.image .name {
  display: inline-block;
  max-width: calc(100% - 40px);
  overflow: hidden;
}
.preloader .ms-content .site-bug-messages .upload-kit .files .upload-kit-item.done.image .glyphicon.glyphicon-remove-circle.remove {
  display: block;
  background: transparent;
  margin: 0;
  width: 24px;
  height: 24px;
  position: absolute;
  right: 5px;
  left: auto;
  top: 0;
}
.preloader .ms-content .site-bug-messages .upload-kit .files .upload-kit-item.done.image .glyphicon.glyphicon-remove-circle.remove:before {
  content: "\e088";
  font-size: 23px;
  position: absolute;
  left: 0;
  top: 0;
}
.preloader .ms-content .site-bug-messages .upload-kit .upload-kit-input {
  height: 10px;
  border: none;
  width: 100%;
}
.preloader .ms-content .site-bug-messages .upload-kit .upload-kit-input:before {
  content: "Скриншот";
  font-size: 13px;
  position: absolute;
  top: -5px;
  opacity: 0.8;
}
.preloader .ms-content .site-bug-messages .upload-kit .upload-kit-input .glyphicon-plus-sign:before {
  content: "";
  width: 14px;
  height: 18px;
  display: block;
  position: absolute;
  top: 16px;
  right: 10px;
  background-image: url(/image/file.png);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.preloader .ms-content .site-bug-messages .upload-kit .upload-kit-input .glyphicon-exclamation-sign {
  width: 100%;
  text-align: right;
}
.preloader .ms-content .site-bug-messages .upload-kit .upload-kit-input .glyphicon-exclamation-sign:before {
  display: none;
}
.preloader .ms-content .site-bug-messages .upload-kit .upload-kit-input .glyphicon-exclamation-sign:after {
  content: "Допустимый формат изображения: jpg, png, jpeg";
  position: absolute;
  top: 26px;
  left: 0px;
  display: inline-block;
  width: 200%;
  color: #dc3545;
  font-family: "BMWGlobal_Pro_light";
  font-size: 13px;
  text-align: left;
}
.preloader .ms-content .site-bug-messages .upload-kit .progress {
  display: none!important;
}
#reset-password-form .agreement-wrapper {
  padding: 5px 0;
}
#reset-password-form .agreement-wrapper.not-checked {
  outline: 2px solid #dc3545;
}
#reset-password-form .agreement-wrapper input {
  display: block;
  float: left;
  width: 20px;
  height: 20px;
  margin-right: 20px;
  outline: none;
}
#reset-password-form .agreement-wrapper input:focus,
#reset-password-form .agreement-wrapper input:hover,
#reset-password-form .agreement-wrapper input:active {
  outline: none;
}
#reset-password-form .agreement-wrapper a {
  border-bottom: 1px solid white;
  outline: none;
}
#reset-password-form .agreement-wrapper a:hover {
  text-decoration: none;
}
#reset-password-form .agreement-wrapper a:focus,
#reset-password-form .agreement-wrapper a:hover,
#reset-password-form .agreement-wrapper a:active {
  outline: none;
}
.events-topper h2 {
  padding: 30px 0;
  font-size: 35px;
}
.events-topper .mini-card > .row > div {
  padding-left: 10px;
  padding-right: 10px;
}
.events-topper .mini-card > .row > div:first-child {
  padding-left: 15px;
}
.events-topper .mini-card > .row > div:last-child {
  padding-right: 15px;
}
.events-topper .card {
  height: 600px;
  border: none;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}
.events-topper .card:hover {
  text-decoration: none;
}
.events-topper .card.not-active:before {
  content: '';
  position: absolute;
  left: -1px;
  right: -1px;
  top: -1px;
  bottom: -1px;
  background: white;
  opacity: 0.75;
}
.events-topper .card.not-active .title,
.events-topper .card.not-active .favorite {
  pointer-events: none;
}
.events-topper .card .date {
  padding-left: 34px;
  padding-top: 34px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 21px;
}
.events-topper .card .text-wrapper {
  position: absolute;
  /*bottom: 30px;*/
  color: white;
  padding: 0px 15px 0 50px;
  top: 495px;
  height: 84px;
  overflow: hidden;
}
.events-topper .card .text-wrapper .favorite {
  font-size: 25px;
  color: white;
  position: absolute;
  left: 20px;
  top: 4px;
}
.events-topper .card .text-wrapper .favorite:hover {
  text-decoration: none;
}
.events-topper .card .text-wrapper .favorite.active .fa-star-o {
  display: none;
}
.events-topper .card .text-wrapper .favorite.active .fa-star {
  display: block;
}
.events-topper .card .text-wrapper .favorite .fa-star {
  display: none;
}
.events-topper .card .text-wrapper .favorite .fa-star-o {
  display: block;
}
.events-topper .card .text-wrapper .title {
  font-size: 29px;
  line-height: 1.2;
  color: white;
}
.events-topper .card .text-wrapper .title:hover {
  text-decoration: none;
}
.events-list {
  margin-bottom: 100px;
}
.events-list h2 {
  padding: 60px 0 30px;
  font-size: 35px;
}
.events-list .el-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.events-list .el-nav ul li {
  margin-right: 14px;
  display: inline-block;
  padding: 5px 12px;
  background-color: #f8f8f8;
}
.events-list .el-nav ul li.active {
  background-color: transparent;
}
.events-list .el-row .card {
  height: 356px;
  margin-bottom: 56px;
  background-repeat: no-repeat;
  background-size: cover;
}
.events-list .el-row .card:hover {
  text-decoration: none;
}
.events-list .el-row .card.not-active:before {
  content: '';
  position: absolute;
  left: -1px;
  right: -1px;
  top: -1px;
  bottom: -1px;
  background: white;
  opacity: 0.75;
}
.events-list .el-row .card.not-active .title,
.events-list .el-row .card.not-active .favorite {
  pointer-events: none;
}
.events-list .el-row .card .date {
  padding-left: 34px;
  padding-top: 34px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 25px;
}
.events-list .el-row .card .text-wrapper {
  position: absolute;
  bottom: 80px;
  color: white;
  padding: 0px 15px 0 72px;
}
.events-list .el-row .card .text-wrapper .favorite {
  font-size: 25px;
  color: white;
  position: absolute;
  left: 36px;
  top: 4px;
}
.events-list .el-row .card .text-wrapper .favorite:hover {
  text-decoration: none;
}
.events-list .el-row .card .text-wrapper .favorite.active .fa-star-o {
  display: none;
}
.events-list .el-row .card .text-wrapper .favorite.active .fa-star {
  display: block;
}
.events-list .el-row .card .text-wrapper .favorite .fa-star {
  display: none;
}
.events-list .el-row .card .text-wrapper .favorite .fa-star-o {
  display: block;
}
.events-list .el-row .card .text-wrapper .title {
  font-size: 29px;
  line-height: 1.2;
  color: white;
}
.events-list .el-row .card .text-wrapper .title:hover {
  text-decoration: none;
}
.events-list .el-card {
  padding: 50px 0 0;
}
.events-list .el-card .el-card-item {
  height: 365px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  margin-bottom: 55px;
}
.events-list .el-card .el-card-item .text-wrapper {
  position: absolute;
  bottom: 38px;
  padding-left: 68px;
  color: #c8c8c8;
}
.events-list .el-card .el-card-item .text-wrapper .favorite {
  color: #c8c8c8;
  left: 30px;
  top: 0px;
}
.events-list .el-card .el-card-item .text-wrapper .title {
  font-size: 29px;
  line-height: 1.2;
  margin-bottom: 20px;
  display: block;
  color: #c8c8c8;
}
.events-list .el-card .el-card-item .text-wrapper .date {
  font-size: 19px;
}
.events-list #infscr-loading {
  width: 100%;
  text-align: center;
}
.events-list .pagination {
  margin-top: 24px;
}
.events-list .pagination .next {
  width: 100%;
  text-align: center;
}
.events-list .pagination .more {
  background-color: #666364;
  padding: 10px;
  color: white;
  display: block;
  max-width: 320px;
  width: 100%;
  margin: auto;
}
.events-list .pagination .more:hover {
  text-decoration: none;
}
.events-card-page {
  margin-bottom: 85px;
}
.events-card-page .favorite {
  left: 16px;
  top: 42px;
}
.events-card-page h1 {
  margin: 40px 0 60px 50px;
  font-size: 35px;
  line-height: 1;
}
.events-card-page .images {
  width: 100%;
}
.events-card-page .images .image {
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
}
.events-card-page .images .slick-dots {
  text-align: left;
}
.events-card-page .images .slick-dots li button:before {
  font-size: 11px;
}
.events-card-page .text-wrapper .text {
  overflow-y: auto;
  overflow-x: hidden;
  height: 476px;
  margin-bottom: 64px;
}
.events-card-page .text-wrapper .app-btn {
  background-color: #666364;
  border: none;
  width: 100%;
  padding: 14px 0;
  color: white;
  display: block;
  text-align: center;
}
.events-card-page .text-wrapper .app-btn.disabled {
  cursor: not-allowed;
  pointer-events: none;
}
.events-card-page .text-wrapper .app-btn:hover {
  text-decoration: none;
}
.events-card-page .text-wrapper .app-btn:focus {
  outline: none;
}
.events-card-page .text-wrapper .app-btn-message {
  margin-top: 15px;
}
.events-main {
  margin-bottom: 120px;
}
.events-main h2 {
  margin-bottom: 60px;
  margin-top: 0;
}
.order-confirm {
  width: 100%;
  max-width: 420px;
  margin: 80px auto 160px;
}
.order-confirm .title {
  font-size: 33px;
  display: inline-block;
  margin-bottom: 50px;
  line-height: 1.2;
}
.order-confirm .text {
  color: #565656;
  margin-bottom: 30px;
}
.order-confirm .smb-btn {
  margin-top: 30px;
  background-color: #656364;
  color: white;
  width: 100%;
  max-width: 420px;
  border: none;
  padding: 9px 0;
  margin: 40px auto 0;
  display: block;
  text-align: center;
}
.order-confirm .smb-btn:focus {
  outline: none;
}
.order-confirm .smb-btn:hover {
  text-decoration: none;
}
.cabinet-cards h1 {
  color: #010101;
  font-size: 35px;
}
.cabinet-cards .top-line {
  margin-bottom: 20px;
  margin-top: 35px;
}
.cabinet-cards .top-line .interests-wrapper {
  text-align: right;
  padding-top: 14px;
}
.cabinet-cards .top-line .interests-wrapper .interests {
  font-size: 23px;
  border-bottom: 1px solid black;
  line-height: 1;
  position: relative;
}
.cabinet-cards .top-line .interests-wrapper .interests:hover {
  text-decoration: none;
}
.cabinet-cards .top-line .interests-wrapper .interests:before {
  content: '';
  background-image: url('/image/Shape 4.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  right: 180px;
  display: block;
  width: 26px;
  height: 22px;
}
.cabinet-cards .cabinet-cards-first {
  margin-bottom: 60px;
}
.cabinet-cards .cabinet-cards-first > .row > div {
  padding: 10px;
}
.cabinet-cards .cabinet-cards-first > .row > div:first-child {
  padding-left: 15px;
}
.cabinet-cards .cabinet-cards-first > .row > div:last-child {
  padding-right: 15px;
}
.cabinet-cards .cabinet-cards-first .card {
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
  border: none;
  padding: 30px 24px;
  height: 360px;
  overflow: hidden;
  font-size: 15px;
}
.cabinet-cards .cabinet-cards-first .card#privateData-card {
  font-size: 15px;
}
.cabinet-cards .cabinet-cards-first .card#privateData-card .line .col-left {
  width: 135px;
}
.cabinet-cards .cabinet-cards-first .card#privateData-card .line .col-right {
  width: calc(100% - 135px);
}
.cabinet-cards .cabinet-cards-first .card#profile-card {
  font-size: 15px;
}
.cabinet-cards .cabinet-cards-first .card#profile-card .line .col-left {
  width: 95px;
}
.cabinet-cards .cabinet-cards-first .card#profile-card .line .col-right {
  width: calc(100% - 95px);
}
.cabinet-cards .cabinet-cards-first .card .title {
  font-size: 29px;
  margin-bottom: 64px;
  position: relative;
}
.cabinet-cards .cabinet-cards-first .card .line {
  margin-bottom: 30px;
  line-height: 1;
}
.cabinet-cards .cabinet-cards-first .card .line .col-left {
  padding: 0 15px;
  width: 124px;
  padding-top: 8px;
}
.cabinet-cards .cabinet-cards-first .card .line .col-right {
  width: calc(100% - 124px);
}
.cabinet-cards .cabinet-cards-first .card .line .col-right .c-val {
  color: #999999;
  padding: 8px 25px 0 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  min-height: 16px;
  position: relative;
}
.cabinet-cards .cabinet-cards-first .card .line .col-right .c-val:hover .edit {
  display: inline-block;
}
.cabinet-cards .cabinet-cards-first .card .line .col-right .c-val .edit {
  background-image: url(/image/edit.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: none;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 10px;
  top: 0px;
}
.cabinet-cards .cabinet-cards-second {
  margin-bottom: 80px;
}
.cabinet-cards .cabinet-cards-second > .row > div {
  padding: 10px;
}
.cabinet-cards .cabinet-cards-second > .row > div:first-child {
  padding-left: 15px;
}
.cabinet-cards .cabinet-cards-second > .row > div:last-child {
  padding-right: 15px;
}
.cabinet-cards .cabinet-cards-second .card {
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
  border: none;
  padding: 30px 24px;
  height: 360px;
  overflow: hidden;
}
.cabinet-cards .cabinet-cards-second .card .title {
  font-size: 29px;
}
.cabinet-cards .cabinet-cards-second .card .title-small {
  font-size: 23px;
  margin-bottom: 30px;
}
.cabinet-cards .cabinet-cards-second .card .sub-card-wrapper > .row > div {
  padding: 10px;
}
.cabinet-cards .cabinet-cards-second .card .sub-card-wrapper > .row > div:first-child {
  padding-left: 15px;
}
.cabinet-cards .cabinet-cards-second .card .sub-card-wrapper > .row > div:last-child {
  padding-right: 15px;
}
.cabinet-cards .cabinet-cards-second .card .sub-card-wrapper .slick-prev {
  left: 50px;
  z-index: 9;
}
.cabinet-cards .cabinet-cards-second .card .sub-card-wrapper .slick-prev:before {
  color: black;
  content: '\f104';
  font-family: FontAwesome;
  font-size: 37px;
}
.cabinet-cards .cabinet-cards-second .card .sub-card-wrapper .slick-next {
  right: 50px;
  z-index: 9;
}
.cabinet-cards .cabinet-cards-second .card .sub-card-wrapper .slick-next:before {
  color: black;
  content: '\f105';
  font-family: FontAwesome;
  font-size: 37px;
}
.cabinet-cards .cabinet-cards-second .card .sub-card-wrapper .sub-card {
  height: 245px;
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
  position: relative;
}
.cabinet-cards .cabinet-cards-second .card .sub-card-wrapper .sub-card .title {
  font-size: 19px;
  font-family: "BMWGlobal_Pro_thin";
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  text-align: center;
}
.cabinet-cards .cabinet-cards-second .card #profile-clear-fields .slick-prev {
  position: absolute;
  top: -55px;
  right: 50px;
  left: auto;
}
.cabinet-cards .cabinet-cards-second .card #profile-clear-fields .slick-prev:before {
  content: '\f104';
  font-family: 'FontAwesome';
  color: black;
  font-size: 29px;
}
.cabinet-cards .cabinet-cards-second .card #profile-clear-fields .slick-next {
  position: absolute;
  top: -55px;
  right: 20px;
  left: auto;
}
.cabinet-cards .cabinet-cards-second .card #profile-clear-fields .slick-next:before {
  content: '\f105';
  font-family: 'FontAwesome';
  color: black;
  font-size: 29px;
}
.cabinet-cards .cabinet-cards-second .card {
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
  border: none;
  padding: 30px 24px;
  height: 360px;
  overflow: hidden;
}
.cabinet-cards .cabinet-cards-second .card #profile-clear-fields .form-control {
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  outline: none;
}
.cabinet-cards .cabinet-cards-second .card #profile-clear-fields .form-control:hover,
.cabinet-cards .cabinet-cards-second .card #profile-clear-fields .form-control:focus,
.cabinet-cards .cabinet-cards-second .card #profile-clear-fields .form-control:active {
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: #ced4da;
  box-shadow: none;
}
.cabinet-cards .cabinet-cards-second .card #profile-clear-fields .smb-btn {
  background-color: #666364;
  padding: 10px 110px;
  color: white;
  display: block;
  border: none;
  width: 100%;
  margin-top: 60px;
}
.cabinet-total {
  margin-bottom: 160px;
}
.cabinet-total .title {
  font-size: 39px;
  line-height: 1;
  margin-bottom: 30px;
}
.cabinet-total .text {
  color: #999999;
  line-height: 1.2;
}
.cabinet-total .counter {
  margin: 0px 0 60px;
  font-size: 59px;
  color: #999999;
  font-weight: 500;
}
.cabinet-total .counter span {
  font-size: 99px;
}
.cabinet-total .st-wrapper {
  font-size: 27px;
  color: #999999;
  font-weight: 600;
}
.cabinet-total .st-wrapper:hover {
  text-decoration: none;
  color: black;
}
.cabinet-total .st-wrapper span {
  font-size: 45px;
  color: black;
}
.modal-dialog[window-id="editProfile"] {
  max-width: 400px;
}
.modal-dialog[window-id="editProfile"] .close {
  font-size: 31px;
  line-height: 1;
  position: absolute;
  right: -32px;
  top: 1px;
  z-index: 2;
  color: white;
}
.modal-dialog[window-id="editProfile"] .modal-body {
  padding: 30px 60px;
}
.modal-dialog[window-id="editProfile"] .modal-body #modal-form-profile .title {
  text-align: center;
  font-size: 23px;
  margin-bottom: 40px;
}
.modal-dialog[window-id="editProfile"] .modal-body #modal-form-profile input[type="text"],
.modal-dialog[window-id="editProfile"] .modal-body #modal-form-profile input[type="email"] {
  border: none;
  border-bottom: 1px solid;
  width: 100%;
}
.modal-dialog[window-id="editProfile"] .modal-body #modal-form-profile .smb-btn {
  margin: 60px auto 20px;
  background-color: #666364;
  padding: 10px 20px;
  color: white;
  display: block;
  border: none;
  width: 80%;
}
.modal-dialog[window-id="deleteProfile"] {
  max-width: 600px;
}
.modal-dialog[window-id="deleteProfile"] #delete-self .title {
  text-align: center;
  font-size: 31px;
  margin-bottom: 40px;
}
.modal-dialog[window-id="deleteProfile"] #delete-self .text {
  margin-bottom: 40px;
}
.modal-dialog[window-id="deleteProfile"] #delete-self button {
  background-color: #666364;
  padding: 11px 20px;
  color: white;
  display: block;
  float: left;
  border: none;
  width: 40%;
  position: static;
  font-size: 19px;
  line-height: 27px;
  font-weight: 400;
  opacity: 1;
}
.modal-dialog[window-id="deleteProfile"] #delete-self button:first-child {
  margin-right: 105px;
}
.cabinet-interests {
  /*#profile-clear-fields{
        .row>div[class*="col-"]{
            padding: 9px;

            &:first-child{
                padding-left: 15px;
            }
            &:last-child{
                padding-right: 15px;
            }
        }
    }*/
}
.cabinet-interests .row {
  margin-right: -9px;
  margin-left: -9px;
}
.cabinet-interests div[class*="col-"] {
  padding: 9px;
}
.cabinet-interests .top-line h1 {
  font-size: 35px;
  margin: 30px 0 10px;
}
.cabinet-interests .top-line .text {
  color: #565656;
}
.cabinet-interests .card {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
}
.cabinet-interests .card.small {
  height: 190px;
}
.cabinet-interests .card.active .fog {
  display: block;
  z-index: 1;
}
.cabinet-interests .card.active .title {
  color: black;
  z-index: 2;
}
.cabinet-interests .card .fog {
  position: absolute;
  left: -1px;
  right: -1px;
  top: -1px;
  bottom: -1px;
  background: white;
  opacity: 0.75;
  display: none;
}
.cabinet-interests .card .title {
  font-size: 25px;
  color: white;
  text-align: center;
  width: 100%;
  line-height: 1;
  padding: 0 10px;
}
.cabinet-interests .smb-btn {
  background-color: #666364;
  padding: 10px 122px;
  color: white;
  display: inline-block;
  margin: 60px 0 100px;
  border: none;
}
.special-offerings-topper {
  height: 748px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  font-family: "BMWGlobal_Pro_thin";
  background-image: url('/image/A_V_2898.png');
}
.special-offerings-topper .ti-text-wrapper {
  color: white;
  position: absolute;
  left: 0;
  right: 0;
  top: 74px;
}
.special-offerings-topper .ti-text-wrapper .title {
  font-size: 47px;
  line-height: 1;
}
.special-offerings-topper .down-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 40px;
}
.special-offerings-topper .down-wrapper .down {
  display: inline-block;
  border: 1px solid white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: white;
  padding-top: 16px;
}
.special-offerings-topper .down-wrapper .down:after {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(/image/arrow_down.png);
  background-repeat: no-repeat;
  background-position: center;
}
.special-offerings-list {
  margin-bottom: 100px;
}
.special-offerings-list h2 {
  font-size: 39px;
  margin: 60px 0;
}
.special-offerings-list .so-items .card {
  border: none;
  margin-bottom: 60px;
}
.special-offerings-list .so-items .card:hover {
  text-decoration: none;
}
.special-offerings-list .so-items .card.not-active .so-item__image {
  pointer-events: none;
}
.special-offerings-list .so-items .card.not-active .so-item__image :before {
  content: '';
  position: absolute;
  left: -1px;
  right: -1px;
  top: -1px;
  bottom: -1px;
  background: white;
  opacity: 0.75;
}
.special-offerings-list .so-items .card.not-active .title {
  pointer-events: none;
}
.special-offerings-list .so-items .card.not-active .more {
  pointer-events: none;
}
.special-offerings-list .so-items .card .img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  height: 356px;
  display: block;
}
.special-offerings-list .so-items .card .title {
  font-size: 29px;
  margin-top: 30px;
  margin-bottom: 20px;
  line-height: 1.2;
  text-decoration: none;
  display: block;
}
.special-offerings-list .so-items .card .text {
  color: #999999;
  height: 140px;
  overflow: hidden;
}
.special-offerings-list .so-items .card .more {
  background-color: #666364;
  padding: 10px 20px;
  color: white;
  display: block;
  margin-top: 20px;
  text-align: center;
  max-width: 350px;
  width: 100%;
}
.special-offerings-list .so-items .card .more:hover {
  text-decoration: none;
}
.special-offerings-list #infscr-loading {
  width: 100%;
  text-align: center;
}
.special-offerings-list .pagination {
  margin-top: 24px;
}
.special-offerings-list .pagination .next {
  width: 100%;
  text-align: center;
}
.special-offerings-list .pagination .more {
  background-color: #666364;
  padding: 10px;
  color: white;
  display: block;
  max-width: 320px;
  width: 100%;
  margin: auto;
}
.special-offerings-list .pagination .more:hover {
  text-decoration: none;
}
.special-offerings-card {
  margin-bottom: 85px;
}
.special-offerings-card h1 {
  margin: 40px 0 60px 0px;
  font-size: 33px;
  line-height: 1;
}
.special-offerings-card .special-offerings-card__row .slick-dots {
  text-align: left;
}
.special-offerings-card .special-offerings-card__row .slick-dots li button:before {
  font-size: 11px;
}
.special-offerings-card .image {
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.special-offerings-card .text-wrapper .text {
  overflow-y: auto;
  overflow-x: hidden;
  height: 469px;
  margin-bottom: 64px;
}
.special-offerings-card .text-wrapper .app-btn {
  background-color: #666364;
  border: none;
  width: 100%;
  padding: 14px 0;
  color: white;
  display: block;
  text-align: center;
}
.special-offerings-card .text-wrapper .app-btn .Rectangle_4_copy_2 {
  position: absolute;
  left: 1044px;
  top: 827px;
  width: 320px;
  height: 43px;
  z-index: 15;
}
.special-offerings-card .text-wrapper .app-btn:hover {
  text-decoration: none;
}
.special-offerings-other {
  margin-bottom: 130px;
}
.special-offerings-other h2 {
  margin-bottom: 40px;
}
.special-offerings-other .me-item {
  height: 415px;
  background-color: #fefefe;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
  display: block;
}
.special-offerings-other .me-item:hover {
  text-decoration: none;
}
.special-offerings-other .me-item .image {
  height: 180px;
  padding: 18px 30px;
  font-size: 15px;
  color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.special-offerings-other .me-item .bottom-block {
  height: calc(100% - 180px);
  padding: 18px 30px;
  color: black;
}
.special-offerings-other .me-item .bottom-block .title {
  font-size: 27px;
  line-height: 1;
  margin-bottom: 30px;
  max-height: 89px;
  overflow: hidden;
  display: block;
}
.special-offerings-other .me-item .bottom-block .title:hover {
  text-decoration: none;
}
.special-offerings-other .me-item .bottom-block .text {
  color: #999999;
  font-size: 15px;
  max-height: 78px;
  overflow: hidden;
  line-height: 1.3;
}
.privilege-topper {
  height: 748px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  font-family: "BMWGlobal_Pro_thin";
  background-image: url('/image/A0224026.png');
}
.privilege-topper .ti-text-wrapper {
  color: white;
  position: absolute;
  left: 0;
  right: 0;
  top: 74px;
}
.privilege-topper .ti-text-wrapper .title {
  font-size: 47px;
  line-height: 1;
}
.privilege-topper .down-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 40px;
}
.privilege-topper .down-wrapper .down {
  display: inline-block;
  border: 1px solid white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: white;
  padding-top: 16px;
}
.privilege-topper .down-wrapper .down:after {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(/image/arrow_down.png);
  background-repeat: no-repeat;
  background-position: center;
}
.privilege-list {
  margin-bottom: 90px;
}
.privilege-list h2 {
  margin: 90px 0 60px;
}
.privilege-list .privilege-cards {
  margin-bottom: 30px;
  background-image: url(/image/image_2019_06_25T09_02_23_478Z2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.privilege-list .privilege-cards .row {
  margin-right: -9px;
  margin-left: -9px;
}
.privilege-list .privilege-cards div[class*="col-"] {
  padding: 0px;
}
.privilege-list .privilege-cards .card {
  background-color: transparent;
  border: 10px solid white;
  border-radius: 0;
  height: 248px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.privilege-list .privilege-cards .card .title {
  font-size: 21px;
  /*font-family: MyriadPro;*/
  padding: 0px 15px;
  color: white;
  text-align: center;
  width: 100%;
  line-height: 1.4;
}
.privilege-list .dealer {
  font-size: 19px;
  color: #454545;
}
.privilege-list .dealer a {
  color: #454545;
  border-bottom: 1px solid #454545;
  line-height: 1;
}
.privilege-list .dealer a:hover {
  text-decoration: none;
}
.header-wrapper__mobile {
  display: none;
}
@media (max-width: 991px) {
  .wrap {
    overflow: hidden;
  }
  header {
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.33);
  }
  .mobile-menu__visible {
    overflow: hidden;
  }
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
  .form-control {
    font-size: 17px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    box-shadow: none !important;
  }
  .form-control::-webkit-input-placeholder {
    color: #fff;
  }
  .form-control::-moz-placeholder {
    color: #fff;
  }
  .form-control:-ms-input-placeholder {
    color: #fff;
  }
  .form-control:-moz-placeholder {
    color: #fff;
  }
  .preloader {
    overflow: auto;
    height: auto;
    min-height: 100vh;
  }
  .preloader .movie {
    height: 100%;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  .preloader .ms-content {
    position: static;
    width: 100%;
  }
  .preloader .ms-content .pl-topper {
    position: fixed;
    top: 0;
    width: 100%;
  }
  .preloader .ms-content .backgrond {
    position: fixed;
  }
  .preloader .ms-content .pl-bottom .title {
    font-size: 25px;
    line-height: 33px;
    margin-bottom: 20px;
    letter-spacing: 0.34px;
  }
  .preloader .ms-content .pl-bottom .text {
    font-size: 15px;
    line-height: 17px;
  }
  .preloader .ms-content .pl-bottom {
    bottom: 30px;
  }
  .preloader .ms-content .pl-bottom .sign {
    padding: 5px 70px;
  }
  .preloader .ms-content .site-signin {
    padding: 0 30px;
  }
  .preloader .ms-content .site-signin .signin-wrapper {
    font-size: 27px;
    line-height: 33px;
  }
  .preloader .ms-content .site-signin .signup-wrapper .signup {
    font-size: 15px;
    line-height: 17px;
  }
  .preloader .ms-content .pl-topper .logo .ls-wrapper img {
    width: 18px;
  }
  .preloader .ms-content .pl-topper .logo .ls-wrapper .slogan {
    font-size: 9px;
  }
  .preloader .ms-content .site-signin .form-control {
    font-size: 17px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .site-signin .form-control::-webkit-input-placeholder {
    color: #fff;
  }
  .site-signin .form-control::-moz-placeholder {
    color: #fff;
  }
  .site-signin .form-control:-ms-input-placeholder {
    color: #fff;
  }
  .site-signin .form-control:-moz-placeholder {
    color: #fff;
  }
  .preloader .ms-content .site-signin .forgot-password a,
  .preloader .ms-content .site-signin .cannot-enter a {
    font-size: 15px;
  }
  .preloader .ms-content .site-signin .signup-wrapper {
    padding: 0;
  }
  /*
    Sign up
     */
  .site-signup {
    padding: 0 30px;
  }
  .site-signup .col-4,
  .site-signup .col-8 {
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .preloader .ms-content .site-signup {
    margin-top: 110px;
  }
  .preloader .ms-content .site-signup .signin-wrapper {
    font-size: 27px;
  }
  .preloader .ms-content .site-signup .signup-wrapper .signup {
    font-size: 15px;
  }
  #signupform-gender {
    display: flex;
    justify-content: space-between;
  }
  .preloader .ms-content .site-signup .form-control {
    font-size: 17px;
  }
  .preloader .ms-content .site-signup .form-control::-webkit-input-placeholder {
    color: #fff;
  }
  .preloader .ms-content .site-signup .form-control::-moz-placeholder {
    color: #fff;
  }
  .preloader .ms-content .site-signup .form-control:-ms-input-placeholder {
    color: #fff;
  }
  .preloader .ms-content .site-signup .form-control:-moz-placeholder {
    color: #fff;
  }
  #signupform-connection {
    display: flex;
  }
  .preloader .ms-content .site-signup #sign-up .connection-title,
  .preloader .ms-content .site-signup #sign-up .connection-field {
    float: none;
  }
  .custom-control {
    margin-right: 20px;
  }
  .preloader .ms-content .site-signup #sign-up .agreement-wrapper {
    display: flex;
  }
  .preloader .ms-content .site-signup #sign-up .agreement-wrapper input {
    float: none;
    min-width: 30px;
  }
  .preloader .ms-content .site-signup .form-control {
    padding-left: 10px;
    padding-right: 10px;
  }
  .preloader .ms-content .site-signup #sign-up .phone-title {
    left: 20px;
  }
  .preloader .ms-content .site-bug-messages {
    padding: 0 30px 20px 30px;
    margin-top: 110px;
  }
  .preloader .ms-content .site-bug-messages .upload-kit {
    margin-top: 14px;
  }
  .preloader .ms-content .site-bug-messages .upload-kit .upload-kit-input:before {
    color: #fff;
    top: -7px;
    left: 10px;
    opacity: 1;
    font-size: 17px;
  }
  .preloader .ms-content .site-bug-messages .upload-kit .upload-kit-input .glyphicon-plus-sign:before {
    top: 12px;
  }
  .preloader .ms-content .site-bug-messages .title {
    font-size: 27px;
    line-height: 33px;
  }
  .preloader .ms-content .site-bug-messages .text {
    font-size: 15px;
    margin-bottom: 30px;
  }
  .site-signup-success {
    padding: 0 30px;
  }
  .preloader .ms-content .site-signup-success .title {
    font-size: 27px;
    text-transform: uppercase;
  }
  .mobile-menu__visible .header-wrapper__mobile .header-menu {
    display: block;
    position: fixed;
    background: #fff;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    overflow: auto;
  }
  .header-wrapper {
    display: none;
  }
  .header-wrapper__mobile {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }
  .header-wrapper__mobile .header-menu__btn {
    background-image: url('../image/icon/menu-ico.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 37px;
    height: 41px;
    position: relative;
    cursor: pointer;
    margin-top: 8px;
  }
  .header-wrapper__mobile .header-menu__btn.messaged::before {
    content: '';
    position: absolute;
    top: -5px;
    right: -10px;
    width: 8px;
    height: 8px;
    background: #FF0000;
    border-radius: 50%;
  }
  .header-wrapper__mobile .logo-wrapper {
    display: inline-block;
    text-align: center;
    margin-bottom: 20px;
  }
  .header-wrapper__mobile .logo-wrapper .logo {
    max-width: 18px;
    max-height: 18px;
  }
  .header-wrapper__mobile .title {
    text-transform: uppercase;
    font-size: 9px;
    letter-spacing: 1px;
    margin-top: 5px;
    font-weight: 600;
    -webkit-font-smoothing: auto;
  }
  .header-wrapper__mobile .header-menu {
    display: none;
  }
  .header-wrapper__mobile .header-menu .header-menu__top {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
  }
  .header-wrapper__mobile .header-menu .header-menu__top .header-menu__btn {
    background-image: url('../image/icon/menu-close-ico.svg');
    background-size: 25px;
  }
  .header-wrapper__mobile .header-menu__top .header-menu__btn::before {
    display: none;
  }
  .header-wrapper__mobile .header-menu__content {
    padding: 0 30px;
  }
  .header-wrapper__mobile .header-menu__content .h-slogan {
    font-size: 25px;
    line-height: 30px;
    text-transform: uppercase;
    margin-bottom: 50px;
    display: block;
  }
  .header-wrapper__mobile .header-menu__content ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .header-wrapper__mobile .header-menu__content ul li a {
    font-size: 19px;
    margin-bottom: 10px;
    display: block;
  }
  .header-wrapper__mobile .header-menu__content .icon-wrapper {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }
  .header-wrapper__mobile .header-menu__content .icon-wrapper .avatar {
    font-size: 21px;
    position: relative;
    padding-left: 30px;
  }
  .header-wrapper__mobile .header-menu__content .icon-wrapper .avatar:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    background-image: url("../image/icon/profile.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
  }
  .header-wrapper__mobile .header-menu__content .icon-wrapper .avatar.messaged:after {
    content: '';
    position: absolute;
    top: -5px;
    right: -15px;
    margin: auto;
    width: 8px;
    height: 8px;
    background: #FF0000;
    border-radius: 50%;
  }
  .header-wrapper__mobile .header-menu__content .icon-wrapper .logout {
    width: 35px;
    height: 35px;
    background-image: url("../image/icon/exit.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 16px;
    border: 0;
    background-color: transparent;
  }
  .header-wrapper__mobile .header-menu__content .phone {
    font-size: 21px;
    margin-bottom: 30px;
    display: block;
  }
  .top-image.mainpage .ti-text-wrapper .title {
    margin-top: 30px;
    font-size: 27px;
    font-family: BMWGlobal_light;
    line-height: 33px;
  }
  .top-image.mainpage .ti-text-wrapper .down {
    display: none;
  }
  .top-image.mainpage .ti-text-wrapper .text {
    font-size: 17px;
    margin-bottom: 30px;
  }
  .top-image {
    height: auto;
    min-height: 400px;
  }
  .my-events h2 {
    margin: 40px 0 30px;
    font-size: 29px;
  }
  .my-events .my-events__list {
    flex-wrap: nowrap;
    overflow: auto;
    padding-left: 15px;
    padding-bottom: 25px;
    margin-left: -30px;
    margin-right: -30px;
  }
  .my-events .my-events__list .my-events__item {
    max-width: 100%;
    width: 280px;
    min-width: 280px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .my-events .me-item {
    height: auto;
  }
  .my-events .me-item .bottom-block {
    padding: 20px;
  }
  .my-events .me-item .bottom-block .title {
    font-size: 21px;
    line-height: 24px;
  }
  .my-events .me-item .image {
    height: auto;
    padding: 0;
    position: relative;
  }
  .my-events .me-item .image::after {
    content: '';
    display: block;
    padding-bottom: 50%;
  }
  .my-events .me-item .image .date {
    position: absolute;
    top: 20px;
    left: 20px;
    bottom: 20px;
    right: 20px;
  }
  .events-promo-3 {
    margin-bottom: 30px;
  }
  .events-promo-3 h2 {
    margin: 40px 0 30px;
    font-size: 27px;
  }
  .events-promo-3 .events-promo__list {
    flex-wrap: nowrap;
    overflow: auto;
    padding-left: 15px;
    padding-bottom: 25px;
    margin-left: -30px;
    margin-right: -30px;
  }
  .events-promo-3 .events-promo__item {
    max-width: 100%;
    width: 280px;
    min-width: 280px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .events-promo-3 .ce-s-item .image {
    height: auto;
    margin-bottom: 20px;
  }
  .events-promo-3 .ce-s-item .image::after {
    content: '';
    display: block;
    padding-bottom: 50%;
  }
  .events-promo-3 .ce-s-item .title {
    font-size: 21px;
    line-height: 25px;
    padding: 0 20px;
  }
  .footer {
    backpadding-top: 30px;
  }
  .footer .bottom-menu {
    margin: 30px 0;
  }
  .footer .callback {
    font-size: 21px;
  }
  .footer .bottom-menu ul {
    display: table;
  }
  .footer .bottom-menu ul li {
    font-size: 21px;
  }
  .footer .bottom-second-menu ul li {
    display: block;
    line-height: 32px;
    float: none;
  }
  .footer .copyright .f-slogan {
    color: #c0c0c0;
    font-size: 15px;
  }
  .cabinet-cards h1 {
    font-size: 27px;
  }
  .cabinet-cards .top-line .interests-wrapper {
    text-align: left;
    padding: 0;
  }
  .cabinet-cards .top-line .interests-wrapper .interests {
    font-size: 17px;
    margin-left: 30px;
  }
  .cabinet-cards .top-line .interests-wrapper .interests:before {
    right: auto;
    left: -30px;
    width: 18px;
    height: 18px;
    background-size: contain;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .cabinet-cards .cabinet-cards-first {
    margin-bottom: 0;
  }
  .cabinet-cards .cabinet-cards-first .card {
    margin-left: -30px;
    margin-right: -30px;
    height: auto;
  }
  .cabinet-cards .cabinet-cards-first .card .title {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 30px;
  }
  .cabinet-cards .cabinet-cards-first .card .text-right {
    font-size: 15px;
  }
  .cabinet-cards .cabinet-cards-first .card .line .c-val {
    font-size: 15px;
  }
  .cabinet-cards .cabinet-cards-second .card {
    margin-left: -30px;
    margin-right: -30px;
    padding: 30px;
    height: auto;
  }
  .cabinet-cards .cabinet-cards-second .card .title {
    font-size: 25px;
  }
  .cabinet-cards .cabinet-cards-second .card .title-small {
    font-size: 21px;
  }
  .cabinet-cards .cabinet-cards-second .card .form-control::-webkit-input-placeholder {
    color: #565656;
  }
  .cabinet-cards .cabinet-cards-second .card .form-control::-moz-placeholder {
    color: #565656;
  }
  .cabinet-cards .cabinet-cards-second .card .form-control:-ms-input-placeholder {
    color: #565656;
  }
  .cabinet-cards .cabinet-cards-second .card .form-control:-moz-placeholder {
    color: #565656;
  }
  .cabinet-cards .cabinet-cards-second .card #profile-clear-fields .slick-prev,
  .cabinet-cards .cabinet-cards-second .card #profile-clear-fields .slick-next {
    top: -49px;
  }
  .cabinet-cards .cabinet-cards-second .card #profile-clear-fields .smb-btn {
    margin-top: 20px;
    padding: 10px;
  }
  .cabinet-cards .my-car__list {
    flex-wrap: nowrap;
    overflow: auto;
    padding-left: 15px;
    padding-bottom: 25px;
    margin-left: -30px;
    margin-right: -30px;
  }
  .cabinet-cards .my-car__list .my-car__item {
    max-width: 100%;
    width: 280px;
    min-width: 280px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .cabinet-cards .cabinet-cards-second .card .sub-card-wrapper {
    margin: 0 -30px;
    width: calc(100% + 60px);
  }
  .cabinet-cards .cabinet-cards-second .card .sub-card-wrapper .sub-card {
    height: auto;
    padding-bottom: 68%;
    position: relative;
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
  }
  .cabinet-cards .cabinet-cards-second {
    margin-bottom: 30px;
  }
  .cabinet-total .title {
    font-size: 27px;
    margin-bottom: 15px;
  }
  .cabinet-total .text {
    font-size: 15px;
    line-height: 17px;
    margin-bottom: 20px;
  }
  .cabinet-total .counter span {
    font-size: 55px;
  }
  .cabinet-total .counter {
    font-size: 29px;
    margin-bottom: 30px;
  }
  .cabinet-total .st-wrapper {
    font-size: 17px;
  }
  .cabinet-total .st-wrapper span {
    font-size: 31px;
    margin-right: 5px;
  }
  .cabinet-total {
    margin-bottom: 70px;
  }
  .privilege-topper {
    height: auto;
    padding-bottom: 75%;
  }
  .privilege-topper .down-wrapper .down {
    display: none;
  }
  .privilege-topper .ti-text-wrapper .title {
    font-size: 27px;
  }
  .privilege-topper .ti-text-wrapper {
    top: auto;
    bottom: 25px;
  }
  .privilege-list {
    margin-bottom: 60px;
  }
  .privilege-list h2 {
    margin: 30px 0;
    font-size: 21px;
  }
  .privilege-list .privilege-cards {
    margin-left: -30px;
    margin-right: -30px;
  }
  .privilege-list .privilege-cards .card {
    border-width: 5px;
    height: 100%;
    margin-bottom: 30px;
  }
  .privilege-list .privilege-cards .card .title {
    font-size: 15px;
    padding: 15px 5px;
  }
  .privilege-list .dealer {
    font-size: 17px;
  }
  .special-offerings-topper {
    height: auto;
    padding-bottom: 75%;
  }
  .special-offerings-topper .ti-text-wrapper .title {
    font-size: 31px;
    line-height: 1.2;
  }
  .special-offerings-topper .down-wrapper .down {
    display: none;
  }
  .special-offerings-list {
    margin-bottom: 30px;
  }
  .special-offerings-list h2 {
    font-size: 25px;
    margin: 30px 0;
  }
  .special-offerings-list .so-items .so-item {
    margin-left: -30px;
    margin-right: -30px;
  }
  .special-offerings-list .so-items .so-item .so-item__image {
    width: 100%;
    max-width: 100%;
    flex: 100%;
  }
  .special-offerings-list .so-items .so-item .so-item__image .img {
    height: auto;
    padding-bottom: 45%;
  }
  .special-offerings-list .so-items .so-item .so-item__content {
    width: 100%;
    max-width: 100%;
    flex: 100%;
    padding: 20px 40px;
  }
  .special-offerings-list .so-items .card .title {
    font-size: 27px;
    margin-top: 0;
    margin-bottom: 10px;
  }
  .special-offerings-list .so-items .card .text {
    font-size: 15px;
    height: auto;
  }
  .special-offerings-list .so-items .card .more {
    padding: 10px;
    font-size: 15px;
  }
  .events-list .container {
    padding-left: 0px;
    padding-right: 0px;
  }
  .events-topper h2 {
    font-size: 29px;
  }
  .events-topper .mini-card .events-list {
    flex-wrap: nowrap;
    overflow: auto;
    padding-bottom: 25px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 30px;
  }
  .events-topper .mini-card .events-list .event-list__item {
    max-width: 100%;
    width: 280px;
    min-width: 280px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .events-topper .mini-card .events-list .event-list__item:first-child {
    padding-left: 0;
  }
  .events-topper .mini-card .events-list .event-list__item:last-child {
    padding-right: 0;
  }
  .events-topper .card {
    height: 400px;
    position: relative;
    overflow: hidden;
  }
  .events-topper .card .date {
    font-size: 19px;
    padding: 20px;
  }
  .events-topper .card .text-wrapper {
    position: absolute;
    bottom: 20px;
    top: auto;
    margin: 0 auto;
    height: auto;
    width: 100%;
  }
  .events-topper .card .text-wrapper .title {
    font-size: 21px;
    padding-bottom: 15px;
  }
  .events-topper .card .text-wrapper .favorite.active .fa-star,
  .events-topper .card .text-wrapper .favorite .fa-star-o {
    font-size: 21px;
  }
  .events-list h2 {
    padding-top: 0;
    font-size: 29px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .all-events-list {
    margin-left: 0;
    margin-right: 0;
  }
  .all-events-list .all-events-list__item {
    padding: 0;
  }
  .events-list .el-row .card {
    padding-bottom: 60%;
    height: auto;
    border-radius: 0;
    margin-bottom: 20px;
  }
  .events-list .el-row .card .date {
    position: absolute;
    font-size: 19px;
    padding: 20px 30px;
  }
  .events-list .el-row .card .text-wrapper {
    bottom: 0;
    padding-left: 65px;
    padding-bottom: 15px;
  }
  .events-list .el-row .card .text-wrapper .title {
    font-size: 21px;
  }
  .events-list .el-row .card .text-wrapper .favorite {
    left: 34px;
    top: 0px;
  }
  .events-list .el-row .card .text-wrapper .favorite .fa-star-o {
    font-size: 21px;
  }
  .events-list .el-more .more {
    padding: 10px;
    width: 100%;
  }
  .events-card-page {
    margin-bottom: 30px;
  }
  .events-card-page h1 {
    font-size: 27px;
    margin-left: 35px;
    line-height: 33px;
    margin-bottom: 30px;
  }
  .events-card-page .favorite {
    font-size: 21px;
  }
  .events-card-page .event-card__slider {
    padding: 0;
    margin-left: -15px;
    margin-right: -15px;
    width: calc(100% + 60px);
    max-width: calc(100% + 30px);
  }
  .events-card-page .images .image {
    height: auto;
  }
  .events-card-page .images .image::before {
    content: '';
    display: block;
    padding-bottom: 76%;
  }
  .events-card-page .images .slick-dots {
    padding: 0 20px;
    bottom: -35px;
  }
  .events-card-page .text-wrapper .text {
    font-size: 15px;
    line-height: 22px;
    color: #999999;
    height: auto;
    margin: 40px 0;
  }
  .events-card-page .text-wrapper .app-btn {
    font-size: 15px;
  }
  .special-offerings-card__image {
    padding: 0;
    /*margin: 0 -15px;*/
  }
  .special-offerings-card__image .images {
    padding: 0;
    margin-left: -15px;
    margin-right: -15px;
    width: calc(100% + 60px);
    max-width: calc(100% + 30px);
  }
  .special-offerings-card__image .images .image {
    height: 315px;
    background-size: cover;
  }
  .special-offerings-card__image .images .image::before {
    content: '';
    display: block;
  }
  .special-offerings-card__image .images .slick-dots {
    padding: 0 20px;
    bottom: -35px;
  }
  .cabinet-interests .row.interests-list {
    margin-left: -30px;
    margin-right: -30px;
  }
  .cabinet-interests .interests-list .interests-list__item {
    width: 100%;
    flex: 100%;
    max-width: initial;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }
  .cabinet-interests .card {
    border-radius: 0;
    position: relative;
    height: auto;
    padding-bottom: 46%;
  }
  .cabinet-interests .interests-list .interests-list__item .row:nth-child(1) {
    width: 100%;
    flex: 100%;
  }
  .cabinet-interests .interests-list .interests-list__item:nth-child(1) .row:nth-child(2) {
    width: calc(100% + 30px);
  }
  .cabinet-interests .interests-list .interests-list__item:nth-child(1) .row:nth-child(2) .card.small,
  .cabinet-interests .interests-list .interests-list__item:nth-child(1) .row:nth-child(3) .card.small {
    padding-bottom: 100%;
  }
  .cabinet-interests .card .title {
    font-size: 17px;
    position: absolute;
    top: 50%;
    left: 10px;
    right: 10px;
    transform: translateY(-50%);
    width: auto;
  }
  .cabinet-interests .card.small {
    height: auto;
    width: 100%;
  }
  .cabinet-interests .row.interests-list-2 {
    margin-left: -30px;
    margin-right: -30px;
  }
  .cabinet-interests .row.interests-list-2 .interests-list__item {
    width: 100%;
    flex: 100%;
    max-width: initial;
    padding: 9px 0;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 9px;
  }
  .cabinet-interests .row.interests-list-2 .interests-list__item:nth-child(2),
  .cabinet-interests .row.interests-list-2 .interests-list__item:nth-child(3) {
    width: 50%;
    flex: 50%;
    max-width: 50%;
  }
  .cabinet-interests .row.interests-list-2 .interests-list__item:nth-child(2) {
    padding-right: 9px;
  }
  .cabinet-interests .row.interests-list-2 .interests-list__item:nth-child(3) {
    padding-left: 9px;
  }
  .cabinet-interests .row.interests-list-2 .interests-list__item:nth-child(2) .card.small,
  .cabinet-interests .row.interests-list-2 .interests-list__item:nth-child(3) .card.small {
    padding-bottom: 100%;
  }
  .cabinet-interests .smb-btn {
    padding: 10px;
    width: 100%;
    margin: 30px 0;
  }
  .cabinet-interests .top-line h1 {
    font-size: 27px;
  }
  .cabinet-interests .top-line .text {
    font-size: 17px;
  }
  .special-offerings-card h1 {
    font-size: 29px;
    margin-bottom: 30px;
  }
  .special-offerings-card__row {
    margin-left: -30px;
    margin-right: -30px;
  }
  /*.special-offerings-card__image {
        width: 100%;
        flex: 100%;
        max-width: 100%;
        padding: 0;
    }
    .special-offerings-card .image {
        height: auto;
        padding-bottom: 76%;
    }*/
  .special-offerings-card__text {
    padding: 30px;
    width: 100%;
    flex: 100%;
    max-width: 100%;
  }
  .special-offerings-card .text-wrapper .text {
    height: 100%;
    margin: 30px 0;
  }
  .special-offerings-other {
    margin-bottom: 50px;
  }
  .special-offerings-other .special-offerings__list {
    flex-wrap: nowrap;
    overflow: auto;
    padding-left: 15px;
    padding-bottom: 25px;
    margin-left: -30px;
    margin-right: -30px;
  }
  .special-offerings-other .special-offerings__list .special-offerings__item {
    max-width: 100%;
    width: 280px;
    min-width: 280px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .special-offerings-other .me-item {
    height: auto;
  }
  .special-offerings-other .me-item .image {
    height: auto;
    padding-bottom: 47%;
  }
  .special-offerings-other .me-item .bottom-block .title {
    font-size: 21px;
    line-height: 24px;
    margin-bottom: 20px;
  }
  .special-offerings-other .me-item .bottom-block {
    height: auto;
    padding: 20px 20px 30px;
  }
  .special-offerings-other h2 {
    font-size: 25px;
    margin-bottom: 30px;
  }
  .special-offerings-card {
    margin-bottom: 50px;
  }
  .site-callback {
    padding: 0 30px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .site-callback .title {
    font-size: 27px;
    text-transform: none;
    margin-bottom: 30px;
  }
  .site-callback textarea {
    border-radius: 0;
  }
  .site-callback .smb-btn {
    margin-top: 20px;
  }
  .preloader .ms-content .site-request-password-reset {
    padding: 0 30px;
  }
  .preloader .ms-content .site-request-password-reset .title {
    font-size: 27px;
  }
  .order-confirm {
    padding: 0 30px;
  }
  .order-confirm .title {
    font-size: 27px;
  }
}
@media (max-width: 767px) {
  .special-offerings-topper .ti-text-wrapper {
    top: auto;
    bottom: 20px;
  }
  .preloader .ms-content .site-request-password-reset-success {
    width: 75%;
  }
  .preloader .ms-content .site-request-password-reset-success.request-password-reset {
    width: 86%;
  }
  .top-image.mainpage {
    background-position: right;
  }
  .header-wrapper__mobile .header-menu__content {
    padding: 0;
  }
  .cabinet-total .counter span {
    font-size: 36px;
  }
  .privilege-list .privilege-cards .card .title {
    font-size: 14px;
  }
  .footer .bottom-menu ul li {
    font-size: 16px;
  }
  .footer .bottom-second-menu ul li {
    font-size: 16px;
  }
  .events-topper .card .date {
    color: rgba(255, 255, 255, 0.6);
  }
  .privilege-list .privilege-cards .card {
    height: 169px;
    margin-bottom: -1px;
    border-width: 5px;
  }
  .privilege-list .privilege-cards .r1 div[class*="col-"]:nth-child(3) .card {
    padding: 20px;
  }
  .privilege-list .privilege-cards .r1 div[class*="col-"]:nth-child(5) .card {
    padding: 0px;
  }
  .privilege-list .privilege-cards .r1 div[class*="col-"]:nth-child(5) .card span {
    font-size: 11px!important;
  }
  .privilege-list .privilege-cards .r2 div[class*="col-"]:nth-child(2) .card {
    padding: 5px;
  }
  .privilege-list .privilege-cards .r2 div[class*="col-"]:nth-child(3) .card {
    padding: 20px;
  }
  .privilege-list .privilege-cards .r2 div[class*="col-"]:nth-child(4) .card {
    padding: 20px;
  }
  .top-image.mainpage {
    background-image: url(/image/background_main_mobile.png);
  }
  .cabinet-interests .interests-list .interests-list__item .row {
    width: 100%;
    flex: 100%;
  }
  .cabinet-interests .interests-list .interests-list__item:nth-child(2) .row:nth-child(2) {
    width: calc(100% + 30px);
  }
  .cabinet-interests .interests-list .interests-list__item:nth-child(2) .row:nth-child(2) .card.small,
  .cabinet-interests .interests-list .interests-list__item:nth-child(2) .row:nth-child(3) .card.small,
  .cabinet-interests .interests-list .interests-list__item:nth-child(3) .row:nth-child(2) .card.small,
  .cabinet-interests .interests-list .interests-list__item:nth-child(3) .row:nth-child(3) .card.small {
    padding-bottom: 100%;
  }
}
@media (max-width: 767px) {
  .preloader .ms-content .pl-bottom .title {
    font-size: 35px;
  }
  .preloader .ms-content .pl-bottom .text {
    font-size: 19px;
    line-height: 1.2;
  }
  .preloader .ms-content .pl-bottom {
    bottom: 120px;
  }
  .preloader .ms-content .site-request-password-reset-success.request-password-reset .title {
    font-size: 25.5px;
  }
  .preloader .ms-content .site-request-password-reset-success.request-password-reset .text {
    font-size: 19px;
  }
  .preloader .ms-content .site-request-password-reset-success.request-password-reset.suc .title {
    font-size: 36px;
  }
  .preloader .ms-content .site-request-password-reset-success.request-password-reset.suc .text {
    font-size: 18.5px;
  }
  .site-request-window-inner {
    width: 100%;
    max-width: 350px;
    margin: 150px auto 200px;
  }
  .site-request-window-inner .title {
    font-size: 36px;
  }
  .site-request-window-inner .text {
    font-size: 18px;
  }
  .site-request-window-inner.callback {
    max-width: 350px;
  }
  .site-request-window-inner.callback .title {
    font-size: 29px;
  }
  .site-request-window-inner.interest .title {
    font-size: 24px;
  }
  .site-request-window-inner.interest .text {
    display: none;
  }
}
@media (max-width: 413px) {
  .preloader .ms-content .pl-bottom .title {
    font-size: 32px;
  }
  .preloader .ms-content .pl-bottom .text {
    font-size: 17px;
    line-height: 1.2;
  }
  .preloader .ms-content .site-request-password-reset-success.request-password-reset .title {
    font-size: 25.5px;
  }
  .preloader .ms-content .site-request-password-reset-success.request-password-reset .text {
    font-size: 17.5px;
  }
  .preloader .ms-content .site-request-password-reset-success.request-password-reset.suc .title {
    font-size: 32px;
  }
  .preloader .ms-content .site-request-password-reset-success.request-password-reset.suc .text {
    font-size: 16.5px;
  }
  .site-request-window-inner {
    width: 100%;
    max-width: 290px;
    margin: 150px auto 200px;
  }
  .site-request-window-inner .title {
    font-size: 30px;
  }
  .site-request-window-inner .text {
    font-size: 18.5px;
  }
  .site-request-window-inner.callback {
    max-width: 290px;
  }
  .site-request-window-inner.callback .title {
    font-size: 24px;
  }
  .site-request-window-inner.interest .title {
    font-size: 19px;
  }
  .site-request-window-inner.interest .text {
    display: none;
  }
}
@media (max-width: 374px) {
  .preloader .ms-content .pl-bottom .title {
    font-size: 26px;
  }
  .preloader .ms-content .pl-bottom .text {
    font-size: 14px;
    line-height: 1.2;
  }
  .preloader .ms-content .pl-bottom {
    bottom: 90px;
  }
  .preloader .ms-content .site-request-password-reset-success.request-password-reset .title {
    font-size: 25.5px;
  }
  .preloader .ms-content .site-request-password-reset-success.request-password-reset .text {
    font-size: 15px;
  }
  .preloader .ms-content .site-request-password-reset-success.request-password-reset.suc .title {
    font-size: 27px;
  }
  .preloader .ms-content .site-request-password-reset-success.request-password-reset.suc .text {
    font-size: 14px;
  }
  .site-request-window-inner {
    width: 100%;
    max-width: 290px;
    margin: 150px auto 200px;
  }
  .site-request-window-inner .title {
    font-size: 30px;
  }
  .site-request-window-inner .text {
    font-size: 17px;
  }
  .site-request-window-inner.callback {
    max-width: 290px;
  }
  .site-request-window-inner.callback .title {
    font-size: 24px;
  }
  .site-request-window-inner.interest .title {
    font-size: 19px;
  }
  .site-request-window-inner.interest .text {
    display: none;
  }
}
