// @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

@font-face {
    font-family: BMWGlobal_bold;
    src: url(/fonts/BMWGlobal_bold.ttf);
}
@font-face {
    font-family: BMWGlobal_light;
    src: url(/fonts/BMWGlobal_light.ttf);
}
@font-face {
    font-family: BMWGlobal_Pro_bold;
    src: url(/fonts/BMWGlobal_Pro_bold.ttf);
}
@font-face {
    font-family: BMWGlobal_Pro_light;
    src: url(/fonts/BMWGlobal_Pro_light.ttf);
}
@font-face {
    font-family: BMWGlobal_Pro_thin;
    src: url(/fonts/BMWGlobal_Pro_thin.ttf);
}
@font-face {
    font-family: bmwtyparbo;
    src: url(/fonts/bmwtyparbo.ttf);
}
@font-face {
    font-family: bmwtyparli;
    src: url(/fonts/bmwtyparli.ttf);
}
@font-face {
    font-family: bmwtyparth;
    src: url(/fonts/bmwtyparth.ttf);
}
@font-face {
    font-family: bmwtypbo;
    src: url(/fonts/bmwtypbo.ttf);
}
@font-face {
    font-family: bmwtypli;
    src: url(/fonts/bmwtypli.ttf);
}
@font-face {
    font-family: bmwtypth;
    src: url(/fonts/bmwtypth.ttf);
}
@font-face {
    font-family: MyriadPro;
    src: url(/fonts/MyriadPro-Regular.otf);
}


.media(@screen, @rules) {

    & when (@screen = tablet) {
        @media (min-width: 768px) and (max-width: 1199.98px) {
            @rules();
        }
    }

    & when (@screen = phone) {
        @media (max-width: 767.98px) {
            @rules();
        }
    }
}

html,body {
    height: 100%;
    //font-family: 'Source Sans Pro', sans-serif;
    //font-family:"BMW Type Global Pro Thin";
    font-family:"BMWGlobal_Pro_light";
    color: rgb(0, 0, 0);
    font-size: 17px;
}
img{
    max-width: 100%;
}
a{
    color: rgb(0, 0, 0);

    &:hover{
        color: rgb(0, 0, 0);
    }
}
h2, .h2 {
    font-size: 33px;
}
.favorite{
    font-size: 27px;
    color: black;
    position: absolute;
    left: 10px;
    top: 0px;

    &:hover{
        text-decoration: none;
    }

    &.active{
        .fa-star-o{
            display: none;
        }
        .fa-star{
            display: block;
        }
    }
    .fa-star{
        display: none;
    }
    .fa-star-o{
        display: block;
    }
}
.date-icon:before {
    content: '';
    width: 21px;
    height: 21px;
    margin-right: 10px;
    display: inline-block;
    background-image: url('/image/icon/Shape 1.png');
    background-repeat: no-repeat;
}
*{
    outline: none;
}
.btn-wrapper{
    text-align: center;
}
.btn-def{
    background-color: #666364;
    padding: 12px 20px;
    color: white;
    font-size: 17px;
    height: 45px;
    width: 100%;
    max-width: 160px;
    display: block;
    text-align: center;
    margin: 60px auto;

    &:hover{
        text-decoration: none;
    }
}

@import "_footer";
@import "_header";
@import "_main";
@import "_modal";
@import "_preloader";
@import "_events";
@import "_cabinet";
@import "_interests";
@import "_specialOfferings";
@import "_privilege";
@import "_murzik";
