
@font-face {
    font-family:"BMW Type Global Pro Light";
    src:url("BMWGlobal_Pro_light.woff2") format("woff2"),url("BMWGlobal_Pro_light.woff") format("woff"),url("BMWGlobal_Pro_light.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        